//放置base 的全部
@import '../base/reset';
@import '../base/var';
@import '../base/mixin';
@import '../base/base';
@import '../base/grid';
@import '../base/rwd';
//不能抓 all.scss 文自路徑會跑掉



body{
    background-color: $primary-l;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

body{
    background-image: url('../../img/main_vision.jpg');
    background-repeat: no-repeat;
    background-position: center;



    >.buttonforEntry{
        width: 100%;
        display: flex;
        justify-content: center;

       >a.p-btn{
           position: relative;
        //    top: -50px;
            font-size: 80px;
            color: white;
            font-weight: 100;
            padding: 150px;
            margin: 100px;
            border-radius: 100vw;
            text-decoration: none;
        }

    }

    >.crpyright{
        position: fixed;
        bottom: 0;
        padding: 10px;
        width: 50%;
        background-color: $white;
        opacity: .8;
        p{
            font-size: 12px;
        }


    }
}

@include rwd(700px){
    body{
        background-size: contain;
        >.crpyright{
            width: 100%;
        }
        >.buttonforEntry{
            flex-wrap: wrap;
    
           >a.p-btn{
                 padding: 20px;
                font-size: 24px;
                margin: 10px;
            }
    
        }
    }
}