// @import "../base/mixin";
//  @import "../all.scss";
// @import"../page/forum.scss";


//base 全
@import '../base/reset';
@import '../base/var';
@import '../base/mixin';
@import '../base/base';
@import '../base/grid';
@import '../base/rwd';

//component
@import"../component/header";
@import"../component/footer";


body{
    background-color: #F5F2EB;
    border: box-sizing;
    // background-color:black;
}
header{
    position: sticky;
    top: 0px;
    z-index: 1;
    @import "../component/header";
}

footer{
    @import "../component/footer";
}

//包住left middle right的大框
main{  
    display: flex;
    justify-content: space-between;
}



//左邊 left
div.left{
    // border: 1px solid black;
    border-right: 1px solid #c5bfbf;
    margin-top: 1%;
    margin-right: 22px;
    width: 15%;
}

.left ul{
    list-style: none;
    padding-left: 20%;
    padding-top: 10%;
    text-transform:uppercase;
    position:sticky;
    top: 10%;
    left: 0%;
}

//本頁標記
ul .news{
  color: #000;
}


//中間middle
div.middle{
    // border: 1px solid black;
    flex-grow: 2;
    margin-top: 1%;
}   

   
//右邊righgt
div.right{
    // .join{  巢狀寫法
    //     p{
    //         @include textStyle(NotoSans-Regular,14px,#9D9D9D,);
    //         }       
    // }
    // border: 1px solid black;
    margin-top: 1%;
    margin-left: 22px;
    width: 20%;
    border-top-left-radius: 50px;
    background-color:#FFDA9B;
}

div.join{
    display: flex;
    justify-self: center;
    padding-left: 14%;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    position:sticky;
    top: 10%;
    left: 0%;
}

div.join p{
    text-align: center;
    text-transform:uppercase;
}


//"中間middle"裡 上面的區塊midbox(內含outcard和popular) 下面才是瀑布流
.midbox{
  // border: 1px solid deeppink;
  display: flex;
  // justify-content: space-around;
}

.outcard{
  // border: 1px solid darkgreen;
  width: 60%;
}

.outcard .card{
  padding: 20px 20px;
}
// .card .post{
//   border: 1px solid red;
// }

.xsbutton{
  display: flex;
  text-transform:uppercase;
  margin-left: 3%;
  letter-spacing: 1px;
  padding: 10px 20px;
  cursor: pointer;
}

.post .xsl{
  margin-right: 5%;
}


.issue{
  border-bottom:1.5px solid $gray4;
  width: 98%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
}

.issue input{
  width: 50%;
  height: 40px;
  margin-left: 2%;
}


.issue input::-webkit-input-placeholder {
  /* placeholder字体大小 */
  font-size: 24px;
  color: $gray4;
//   $fontFamily: (
//     "NotoSans-L": '../../font/NotoSans-Light.ttf',
// ); 

}
.radius_icon {
  width: 50px;
  height: 50px;
	border-radius: 50px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.349);
  background-color: $gray5;
  margin-bottom: 2.5%;
}


.create_post{
  display: flex;
  justify-content: flex-end;
}

.ptime{
  margin-top: 5%;
  margin-right: 28%;
  color: $gray5 ;
}

.popular{
  color:$gray5;
  // border: 1px solid blue;
  width: 40%;
  margin-left: 2%;
}

.popular img{
  width: 32%;
  cursor: pointer;
}
.recommend{
  text-transform:uppercase;
  cursor: pointer;
  margin-top: 4%;
  margin-bottom: 8%;
}



//中間瀑布流內容
  .gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: 8px;
  }
  // .gallery img {
  //   max-width: 100%;
  //   border-radius: 8px;
  //   box-shadow: 0 0 16px #333;
  //   transition: all 1.5s ease;
  // }

//   .mescard {
//     padding: 40px 20px;
//     background-color: #ffffff; 
//     border-radius: 20px; 
//     margin-bottom: 5%;
//     margin-right: 5%;
//     margin-top: 5%;
// }

// figure{
//   height: 100%;
// }
.figure img{
    width: 5%;
    height: 5%;
    border-radius: 50px;
}

  .gallery .img {  
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
  }

  .gallery img:hover {
    box-shadow: 0 0 32px #333;
  }


  // .gallery .content {
  //   padding: 4px;
  // }
  .gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .gallery .gallery-item:hover {
    transform: scale(1.025);
  }

  div.load{
    border-bottom: 1px solid black;
    margin-left: 49%;
    margin-right: 42%;
    color: black;
    text-transform:uppercase;
    font-weight: bold;
    padding-bottom:5px;
    margin-bottom: 8%;
    margin-top: 5%;
    cursor: pointer;
  }



  .post .l-btn{
    // margin-top: 50%;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
  }


  .join .l-btn{
    margin-top: 50%;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
  }









  @media (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
  }
  @media (max-width: 400px) {
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
  }
  @-moz-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @-o-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  