//放置base 的全部
@import '../base/reset';
@import '../base/var';
@import '../base/mixin';
@import '../base/base';
@import '../base/grid';
@import '../base/rwd';
//不能抓 all.scss 文自路徑會跑掉

//放置component
@import '../component/header';
@import '../component/footer';
@import '../component/comment';

.mainVision {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    height: 90vh;
    width: 100vw;
    z-index: -1;
    img {
        justify-items: flex-end;
        transform: scale(1.2) translate(-8%, 0);
    }
}

.mainContent {
    height: 90vh;
    width: 100%;
    .title {
        height: 85%;
        display: flex;
        flex-wrap: wrap;

        h1 {
            width: 100%;
            color: $gray6;
            // letter-spacing: 10px;
        }
        :first-child {
            // font-family: 'NotoSans-B';
            align-self: flex-end;
        }
        // :nth-child(2){
        //     // color: $gray6;
        // }
    }
    > div:last-child {
        // background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .scrollDown {
            img {
                width: 40px;
            }
        }

        #chatRobot {
            position: fixed;
            right: 70px;
            z-index: 1;

            width: 50px;
            height: 50px;
            background-color: $primary-l;
            border-radius: 100%;
            cursor: pointer;
            border: 2px solid $white;
            box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
            img {
                transform: scale(0.8) translate(5px, 0);
            }
            > .chatRoomBody {
                position: absolute;
                cursor: initial;
                transform: translate(-85%, -100%);
                width: 20vw;
                padding: 0;
                background-color: $primary-l;

                > div {
                    padding: 20px;
                }
                > :first-child {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    border-bottom: 1px solid $black;
                    > p,
                    button {
                        font-size: 14px;
                    }
                }
                > :nth-child(2) {
                    height: 350px;
                    overflow-y: auto;
                    border-bottom: 1px solid $black;

                    > div {
                        margin-bottom: 10px;
                    }

                    > .admin {
                        display: flex;
                        > img {
                            width: 50px;
                            height: 50px;
                            border-radius: 100%;
                            transform: scale(0.8) translate(5px, 0);
                            box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
                        }
                        > .message {
                            position: relative;
                            margin-left: 20px;
                            padding: 10px;
                            background-color: $white;
                            border-radius: 10px;

                            > p {
                                font-size: 14px;
                            }
                            &:before {
                                content: '';
                                left: -18px;
                                position: absolute;
                                border: 10px solid transparent;
                                border-color: transparent $white transparent transparent;
                            }
                        }
                    }

                    > .visitor {
                        > .message {
                            position: relative;
                            margin-left: 20px;
                            padding: 10px;
                            background-color: rgb(235, 187, 75);
                            border-radius: 10px;
                            > p {
                                font-size: 14px;
                            }
                            &:before {
                                content: '';
                                right: -18px;
                                position: absolute;
                                border: 10px solid transparent;
                                border-color: transparent transparent transparent rgb(235, 187, 75);
                            }
                        }
                    }
                }

                > :last-child {
                    padding: 20px;
                    display: flex;
                    textarea {
                        font-size: 16px;
                        resize: none;
                        outline: none;
                        border: none;
                        background-color: $primary-l;
                        color: $black;
                        flex-grow: 2;
                    }
                    button {
                        text-transform: uppercase;
                        border-radius: 10px;
                        margin: 0;
                        background-color: $primary-l;
                    }
                }
            }

            > .bodynone {
                display: none;
            }
        }
    }
}

.steps {
    width: 100%;
    margin-top: 10vw;
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        > .title {
            text-transform: uppercase;
            width: 100%;
            h3 {
                width: 100%;
            }
            :last-child {
                text-align: center;
            }
        }
        .stepSlider {
            width: 100%;
            // border: 1px solid $black;
            background-color: $green-l;
            border-radius: 10px;
            padding: 50px;
            margin-top: 25px;
            display: flex;

            & > :first-child {
                // border: 1px solid black;
                width: 50%;
                height: 100%;
                position: relative;
                > .tilt {
                    display: flex;
                    flex-wrap: wrap;
                    width: 70%;
                    margin: auto;
                    z-index: 1;
                    position: relative;
                    padding: 50px;

                    h4 {
                        text-transform: uppercase;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 50px;
                    }
                    p {
                        text-transform: uppercase;
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    .fInput {
                        padding: 10px;
                        background-color: $gray3;
                        width: 100%;
                        border-radius: 10px;
                        margin-bottom: 50px;
                        height: 50px;
                    }
                    > :last-child {
                        text-transform: uppercase;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                }

                > span {
                    font-family: NotoSans-B;
                    font-size: 500px;
                    line-height: 450px;
                    color: transparent;
                    -webkit-text-stroke: 1px $black;
                    position: absolute;
                    top: 50%;
                    transform: scale(1.2) translate(0, -50%);
                }
            }

            & > :last-child {
                // border: 1px solid red;
                width: 50%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                padding: 50px;
                > .change {
                    width: 100%;
                    // border: 1px solid green;
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    align-items: flex-end;

                    hr {
                        position: absolute;
                        width: 100%;
                        // background-color: $black;
                        border: 1px solid $black;
                        opacity: 0.1;
                    }
                    > div {
                        button {
                            position: relative;
                            z-index: 1;
                            text-transform: uppercase;
                            opacity: 0.3;
                            background-color: $green-l;
                            margin-bottom: 10px;
                        }
                        button.active {
                            opacity: 1;
                        }
                    }
                }
                > .content {
                    margin-top: 50px;
                    // border: 1px solid chocolate;
                    h4 {
                        text-transform: uppercase;
                        margin-bottom: 20px;
                    }
                }
                > :last-child {
                    // border: 1px solid lightcoral;
                    width: 100%;
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a {
                        text-transform: uppercase;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}

.postWall {
    // border: 1px solid black;
    margin: 10vw 0;
    position: relative;
    width: 100%;
    display: flex;
   

    > div {
        // border: 1px solid red;
        width: 100%;
        box-shadow: none;
    }
    & > :first-child {
        display: flex;
        flex-wrap: wrap;
        .circle {
            background-color: $primary;
            @include circle(calc(calc(100% / 11) - 80px));
            margin: 40px;
            position: relative;
            
        }
        > .person {
            background-image: url('../../img/info4.jpg');
            background-size: contain;
            border: 1px solid $white;
            box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
        }
    }
    & > :last-child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        padding: 25px;
        background-color: $primary-l;

        h4 {
            // width: 100%;
            text-transform: uppercase;
            margin: 50px 0;
        }
        p {
            margin-bottom: 100px;
        }
        > :last-child {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
        }
    }
}

.product {
    >.top {
        display: flex;
        justify-content: space-between;
        // margin-top: 5vw;
        align-items: flex-end;
        .content {
            width: 50%;
            h3 {
                text-transform: uppercase;
                margin-bottom: 25px;
            }
        }
        > :last-child {
            width: 50%;
            display: inline-flex;
            justify-content: flex-end;
            button {
                margin: 0 20px;
            }
            span {
                margin: 0 20px;
            }
        }
    }

    // >.bottom{

    // }
}
