//放置base 的全部
@import '../base/reset';
@import '../base/var';
@import '../base/mixin';
@import '../base/base';
@import '../base/grid';
@import '../base/rwd';
//不能抓 all.scss 文自路徑會跑掉

//放置component
@import '../component/header';
@import '../component/footer';
@import '../component/comment';
@import '../component/cart.scss';
@import '../component/moreproduct.scss';
@import '../component//chatRobot.scss';



@keyframes UpDown {
    0% { top: -10px; }
    50% { top: 10px; }
    100% { top: -10px; }
}


.mainVision {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    height: 90vh;
    width: 100vw;
    z-index: -1;
    img {
        justify-items: flex-end;
        transform: scale(1.2) translate(-8%, 0);
    }
}

.mainContent {
    height: 90vh;
    width: 100%;
    .title {
        height: 85%;
        display: flex;
        flex-wrap: wrap;

        h1 {
            width: 100%;
            color: $gray6;
            // letter-spacing: 10px;
        }
        :first-child {
            // font-family: 'NotoSans-B';
            align-self: flex-end;
        }
        // :nth-child(2){
        //     // color: $gray6;
        // }
    }
    > div:last-child {
        // background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .scrollDown {
            position: relative;
            animation-name: UpDown;
            animation-duration: 1s;
            animation-iteration-count: infinite;

            cursor: pointer;
            img {
                width: 30px;
            }
        }


    }
}

.steps {
    width: 100%;
    margin-top: 10vw;
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        > .title {
            text-transform: uppercase;
            width: 100%;
            h3 {
                width: 100%;
            }
            :last-child {
                text-align: center;
            }
        }
        .stepSlider {
            width: 100%;
            // border: 1px solid $black;
            background-color: $green-l;
            border-radius: 10px;
            padding: 50px;
            margin-top: 25px;
            display: flex;

            & > :first-child {
                // border: 1px solid black;
                width: 50%;
                height: 100%;
                position: relative;

                > span {
                    font-family: NotoSans-B;
                    font-size: 500px;
                    line-height: 450px;
                    color: transparent;
                    -webkit-text-stroke: 1px $black;
                    position: absolute;
                    top: 50%;
                    transform: scale(1.2) translate(0, -50%);
                }

                >.tiltContainer{
                    > .tilt {
                        display: flex;
                        flex-wrap: wrap;
                        width: 70%;
                        margin: auto;
                        z-index: 1;
                        position: relative;
                        padding: 50px;
    
                        // tilt 寫在最外層
                        transform-style: preserve-3d;
    
                        h4 {
                            text-transform: uppercase;
                            width: 100%;
                            text-align: center;
                            margin-bottom: 50px;
    
                            //要搭配tilt
                            transform: translateZ(100px);
                        }
                        p {
                            text-transform: uppercase;
                            width: 100%;
                            margin-bottom: 20px;
    
                            transform: translateZ(50px);
    
                        }
                        .fInput {
                            padding: 10px;
                            background-color: $gray3;
                            width: 100%;
                            border-radius: 10px;
    
                            margin-bottom: 50px;
                            height: 50px;
    
                            transform: translateZ(50px);
                        }
                        > :last-child {
                            text-transform: uppercase;
                            width: 100%;
                            display: flex;
                            justify-content: center;
    
                            transform: translateZ(100px);
                        }
                    }

                    >.record{
                        // display: flex;
                        display: none;
                        flex-wrap: wrap;
                        >.fInput{
                            height: unset;
                            display: flex;
                            justify-content: space-between;
                            >img{
                                height: 20px;
                                width: 20px;
                                
                            }
                        }
                        >div.cal_card {
                   
                            display: flex;
                            flex-wrap: wrap;
                            overflow: hidden;

                            background-color: $white;
                            border-radius: 10px;
                            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          
                            div.cal_title {
                                font-family: KozGoPr6N-R;
                                font-size: 16px;
                                letter-spacing: 2px;
                                width: 100%;
                                color: $white;
                                background-color: $red-l;
                                display: flex;
                                padding: 5px 10px;
                                justify-content: space-between;
                                align-items: center;
                                img {
                                    width: 35px;
                                    height: 35px;
                                }
                            }
                            h5 {
                                width: 100%;
                                // background-color: cornflowerblue;
                                text-align: center;
                                font-family: NotoSans-R;
                                color: $black;
                                padding: 15px;
        
                            }
                            div.cal {
                                text-align: center;
                                margin-bottom: 15px;
                                font-family: NotoSans-L;
                                font-size: 14px;
                                color: $black;
                            }
        
                        }
                    }

                    >.report{
                        display: none;
                        >:nth-child(2){
                            width: 100%;
                        }
                        >.l-btn{
                            transform: translateZ(50px);
                        }
                    }
                }
            }

            & > :last-child {
                // border: 1px solid red;
                width: 50%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                padding: 50px;
                > .change {
                    width: 100%;
                    // border: 1px solid green;
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    align-items: flex-end;

                    hr {
                        position: absolute;
                        width: 100%;
                        // background-color: $black;
                        border: 1px solid $black;
                        opacity: 0.1;
                    }
                    > div {
                        button {
                            position: relative;
                            z-index: 1;
                            text-transform: uppercase;
                            opacity: 0.3;
                            background-color: $green-l;
                            margin-bottom: 10px;
                        }
                        button.active {
                            opacity: 1;
                        }
                    }
                }
                > .content {
                    margin-top: 50px;
                    // border: 1px solid chocolate;
                    h4 {
                        text-transform: uppercase;
                        margin-bottom: 20px;
                    }
                }
                > :last-child {
                    // border: 1px solid lightcoral;
                    width: 100%;
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a {
                        text-transform: uppercase;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}

.postWall {
    // border: 1px solid black;
    margin: 10vw 0;
    position: relative;
    width: 100%;
    display: flex;
   

    > div {
        // border: 1px solid red;
        width: 100%;
        box-shadow: none;
    }
    & > :first-child {
        display: flex;
        flex-wrap: wrap;
        .circle {
            // background-color: $primary;
            @include circle(calc(calc(100% / 11) - 4vw));
            margin: 2vw;
            position: relative;
            
        }
        > .person {
            background-image: url('../../img/info2_3.jpg');
            background-size: contain;
            border: 1px solid $white;
            box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
        }
    }
    & > :nth-child(2) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        padding: 25px;
        background-color: $primary-l;

        h4 {
            // width: 100%;
            text-transform: uppercase;
            margin: 50px 0;
        }
        p {
            margin-bottom: 100px;
        }
        > :last-child {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
        }
    }

    >.phone-comment{
        display: none;
    }
}

.product {
    >.top {
        display: flex;
        justify-content: space-between;
        // margin-top: 5vw;
        align-items: flex-end;
        .content {
            width: 50%;
            h3 {
                text-transform: uppercase;
                margin-bottom: 25px;
            }
        }
        > :last-child {
            width: 50%;
            display: inline-flex;
            justify-content: flex-end;
            button {
                margin: 0 20px;
            }
            span {
                margin: 0 20px;
            }
        }
    }

    // >.bottom{

    // }
}

@include rwd(1120px){
    .mainContent {
        >.title{
            display: block;
        }

    }
    .mainVision{
        display: block;
        // left: 15%;
        // top: 25%;
        img{
            transform: scale(1.5);
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .steps{
        >div.container{
            width: unset;
            >.title{
                >:last-child{
                    text-align: unset;
                }
            }
            >.stepSlider{
                padding: 10px;
                flex-wrap: wrap;
                >:first-child{
                    width: 100%;
                    height: unset;
                    span{
                        display: none;
                    } 
                    >.tiltContainer{
                        width: 100%;
                        >.tilt{
                            width: 100%;
                            padding: 10px;
                            h4{
                                margin-bottom: 25px;
                            }
                            p{
                                margin-bottom: 10px;
                            }
                            .fInput{
                                margin-bottom: 30px;
                            }
                        }
                    }
                
                }
                >:last-child{
                    width: unset;
                    height: unset;
                    padding: 20px;
                }
            }
        }
    }



    .postWall{
        flex-wrap: wrap;
        >:first-child{
            display: none;
        }
        >:nth-child(2){
            position: relative;
            top:unset; 
            left:unset; 
            transform: unset;
            max-width: unset;
            flex: unset;
            p{
                margin-bottom: 20px;
            }
            >:last-child{
                margin-bottom: 200px;
            }
        }

        >.phone-comment{
            display: block;
            position: relative;
            top: -21vw;

            >:first-child{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                .circle{
                    @include circle(50px);
                    background-color: red;
                    margin: 10px;
                }
                .person{
                    background-image: url('../../img/info1_2.jpg');
                    background-size: cover;
                    opacity: .8;
                }
                .main{
                    border: 1px solid $white;
                    opacity: 1;
                    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }

    .product{
        >.top{
            flex-wrap: wrap;
            justify-content: center;
            .content{
                width: 100%;
                
            }
            >:last-child{
                width: unset;
                margin: 20px 0;
            }
        } 
      
    } 

    


        
}

@include rwd(700px){
    .postWall >.phone-comment{

        top: -35vw;
    }
}