// @import "../base/mixin";
//  @import "../all.scss";
// @import"../page/forum.scss";


//base 全
@import '../base/reset';
@import '../base/var';
@import '../base/mixin';
@import '../base/base';
@import '../base/grid';
@import '../base/rwd';

//component
@import"../component/header";
@import"../component/footer";


body{
    background-color: #F5F2EB;
    border: box-sizing;
    // background-color:black;
}
header{
    position: sticky;
    top: 0px;
    z-index: 1;
    @import "../component/header";
}

footer{
    @import "../component/footer";
}

//包住left middle right的大框
main{  
    display: flex;
    justify-content: space-between;
}



//左邊 left
div.left{
    // border: 1px solid black;
    border-right: 1px solid #c5bfbf;
    margin-top: 1%;
    margin-right: 22px;
    width: 15%;
    display: flex;
    flex-direction: column;
}


.left .box_in_left{
    margin-left: 22%;
    // background-color: indianred;
    // border: 10px solid deeppink ;
    display: flex;
    flex-direction: column;
    text-transform:uppercase;
    position:sticky;
    top: 14%;
    left: 0%
}



.profile_pic{
    // background-color: khaki;
    display: flex;
    width: 100%;
}

.profile_pic img{
  border: 2px solid white;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: $gray5;
  margin-left: 14%;
  cursor: pointer;
}



.edit_btn_outer{
    // background-color: lightcoral;
    width: 100%;
}

 .fa-pencil-alt{
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.349);
  background-color: #ffffff;
}

// .edit_btn{
//     display: flex;
//     justify-content: center;
//     width: 25px;
//     height: 25px;
//     border-radius: 50px;
//     box-shadow: 0 0 5px rgba(0, 0, 0, 0.349);
//     background-color: #ffffff;
//     cursor: pointer;
// }

.member_level{
    text-transform: capitalize;
}

.member_name{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
}

.left .l-btn{
    margin-left: 0%;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    padding-left:15% ;
    padding-right:15% ;
    margin-bottom: -0.5%;
    
  }




.self_intro{
  // border: 1px solid deeppink;
  width: 80%;
  margin-bottom: 20%;
  margin-top: 15%;
}

//本頁標記
ul .news{
  color: #000;
}


//中間middle
div.middle{
    // border: 1px solid black;
    // flex-grow: 2;
    width: 65%;
    margin-top: 1%;
}   

   
//右邊righgt
div.right{
    // .join{  巢狀寫法
    //     p{
    //         @include textStyle(NotoSans-Regular,14px,#9D9D9D,);
    //         }       
    // }

    margin-top: 1%;
    // margin-left: 22px;
    width: 20%;
    border-top-left-radius: 50px;
    background-color:#FFDA9B;
    // background-color: indigo;
    width: 15%;
}


.right .join{
  // border: 1px solid black;
  // background-color: indianred;
    // background-color: #FFDA9B;
    border-top-left-radius: 50px;
    position: sticky;
    margin-top: 10%;
    top: 14%;
    left: 0%
}


.your_report{  //下拉選單的字
    color:$gray5;
    text-transform:uppercase;
    cursor: pointer;
    // margin-top: 15%;
    margin-left: 10%;
    //margin-bottom: 4%;
}

.this_month{
    color:$gray5;   
}

.this_month .l-btn{
    text-transform:uppercase;
    cursor: pointer;
    background-color:#FFDA9B;
    border: transparent;
}

.report_card{ //白色圓角卡片
    //padding: 30px 35px;
    background-color: #ffffff;
    border-radius: 35px;
    margin-left: 9%;
    margin-right: 9%;
}

//切換報表頁籤


//切換報表頁籤




#chartdiv02 { //圓餅   
    width: 100%;
    height: 300px;
  
  }


  //長條
// #chartdiv01 { 
//     width: 100%;
//     height: 300px;
//   }  


//"中間middle"裡 上面的區塊midbox(內含outcard和popular) 下面才是瀑布流
.midbox{
  display: flex;
}

.outcard{
  // border: 1px solid darkgreen;
  width: 60%;
}

.outcard .card{
  padding: 14px 14px;
  margin-top: 3%;
}
// .card .post{
//   border: 1px solid red;
// }

.xsbutton{
  display: flex;
  text-transform:uppercase;
  margin-left: 3%;
  letter-spacing: 1px;
  padding: 10px 20px;
  cursor: pointer;
}
.post .xsl{
  margin-right: 5%;
}



// .post_form{
    
// }


.outer_upload{
    // border: 1px solid orange;
    display: flex;
}

.pic_preview{  //圓角正方形預覽
    width: 80px;
    height: 80px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.349);
    background-color: $gray4;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 4%;
    margin-left: 3%;
    display: flex;
    padding-bottom: 4%;
  }
  

.radius_icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.349);
    background-color:grayscale($color: #0000003f);
  }

.issue{
    border-bottom:1.5px solid $gray4;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

.issue input{ //發文區輸入框
  width: 420px;
  height: 40px;
  margin-left: 2%;
  margin-top: 3%;
  // margin-bottom: 3%;
}






.floor{
  font-size: 18px;
  width: 100%;
  // border: 1px solid blue;
}
.floor > .drop_down{
  font-family: "NotoSans-B";
  outline: none;
  font-size: 14px;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  // border: 1px solid hotpink;
  text-transform: uppercase;
  color: #333333bd;
}

.floor .issue input{  //留言區輸入框
  // width: 150%;
  background-color:$gray3;
  border-radius: 10px;
  width: 90%;
  // z-index: 0;
}

.hiddenContent > .issue{
  width: 100%;
  border: none;
  position: relative;
}

.hiddenContent {
  display: none;
}


.issue input::-webkit-input-placeholder {
  font-size: 16px;
  color: grayscale($color: #0000003f);
  font-family: "NotoSans-R";
  text-transform: uppercase;
}


.issue ul{
  height: 80%;
  width: 90%;
  margin-left: 2%;
  // margin-top: 3%;
  // margin-bottom: 3%;
  padding-left: 2%;
  background-color: #F2F2F2;
  border-radius: 10px;
  font-size: 14px;
  color: grayscale($color: #0a0a0a96);
  font-family: "NotoSans-R";
  text-transform: uppercase;
}

li.reply_detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5%;
}

li.reply_content{
  margin-top: 1%;
  margin-bottom: 3%;
}

// .issue pre.reply_time{ //功能刪除
//   color: $gray5;
//   position: absolute;
//   right: 0%;
// }
pre.reply_time{
  display: flex;
  align-items: center;
}


.create_post{
  display: flex;
  justify-content: flex-end;
}

// .ptime{  
//   margin-top: 5%;
//   margin-right: 33%;
//   margin-left: 3%;
//   color: $gray5 ;
// }

.popular{
  color:$gray5;
  // border: 1px solid blue;
  width: 40%;
  margin-left: 2%;
}

.popular img{
  width: 32%;
  cursor: pointer;
}
.recommend{
  text-transform:uppercase;
  cursor: pointer;
  margin-top: 4%;
  margin-bottom: 5%;
}





//中間瀑布流內容
  .gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: 8px;
  }

.figure img{
    width: 5%;
    height: 5%;
    border-radius: 50px;
}

  .gallery .article {  
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
  }

  // .gallery img:hover {
  //   box-shadow: 0 0 32px #333;
  // }


  .gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .gallery .gallery-item:hover {
    transform: scale(1.025);
  }



  .middle_load{  //pre.load父容器
    display: flex;
    justify-content: center;
  }

  .holding_block{
    padding: 15%;
  }


  pre.load{ 
    border-bottom: 1px solid black;
    color: black;
    text-transform:uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10%;
  }



  .post .l-btn{
    // margin-top: 50%;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
  }






  @media (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
  }
  @media (max-width: 400px) {
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
  }
  @-moz-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @-o-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }

// 卡片內
.topBody {
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  > :first-child {
      display: flex;
      .face {
          height: 50px;
          width: 50px;
          border-radius: 100%;
          overflow: hidden;
          border: 1px solid $white;
          box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
          margin-right: 20px;
          img {
              width: 100%;
              height: 100%;
          }

      }
      > :nth-child(2) {
    
          .name {
              font-weight: 900;
          }
          .releaseDate {
              font-size: 12px;
              opacity: 0.8;
          }
      }
  }

  >:last-child{
      .report{
          opacity: .5;
      }
  }
} //.topbody


.middleBody {
  border-bottom: 1px solid $gray5;
  margin-top: 15px;
} //.middleBody



.commentNum{ //寫在裡面吃不到
  display: flex;
  justify-content: flex-end;
  border-bottom:1px solid $gray4;
}

.commentNum span {
  font-size: 12px;
  color: $gray5;
  text-transform: uppercase;
  margin-bottom: 1%;
  margin-top: 1%;
}

.hiddenContent{
  width: 100%;
}





.bottomBody {
  // border: 1px solid green;
  display: flex;
  margin-top: 5px;
  justify-content: flex-end;
  position: relative;
  button {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      opacity: 0.6;
      img {
          margin-right: 10px;
      }
  }
  .share{
      z-index: 1;
      color: $gray4;
      position: relative;
      .social{
          opacity: 1;
          position: absolute;
          width: 100%;
          top: 30px;
          right: 0;
          padding: 10px;
          background-color: $white;
          flex-wrap: wrap;
          box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.2);

          display: none; //使用flex
          >button{
              display: flex;
              justify-content: center;
              width: 100%;
              margin: 5px 0;
              img{
                  opacity: .5;
              }
          }
          
      }
  }
} //bottombody


//以上卡片內容



//report檢舉的燈箱設定
#reportBox{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(66,66,66,.6);
  z-index: 500;
}
#tableReport{
  z-index: 501;
  border-radius: 25px;
  position: absolute;
  width:40%;
  height: 65%;
  top: 0;
  right: 0;
  bottom: 25%;
  left: 0;
  margin:auto;
  background-color:$white;
  // background-color:transparent;
}
// report檢舉的燈箱設定





  //follower following的燈箱設定
  #lightBox{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(66,66,66,.6);
    z-index: 500;
  }
  #tableLogin{
    z-index: 501;
    border-radius: 25px;
    position: absolute;
    width:40%;
    height: 65%;
    top: 0;
    right: 0;
    bottom: 25%;
    left: 0;
    margin:auto;
    background-color:$white;
    // background-color:transparent;
  }

  .pop_inside{
    margin-top: 12%;
    margin-left: 11%;
    width: 75%;
    // border: 1px solid orange;
    z-index: 502;
    display: flex;
    flex-direction: column;
  }

  // .above_pop{
  //   background-color: hotpink;
  // }


  .follow_select{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    // background-color:yellow;
  }

  
  #btnCancel{ 
    background-color: transparent;
    border: none;
    margin-right: 5%;
  }


  .follow_list{
    // border: 1px solid black;
    width: 100%;
    height: 100%;
  }

  .follow_list tr{
    // border: 1px solid black;
    display: flex;
    margin-bottom: 5%;
  }

  .follow_list td{
    // border: 1px solid red;
    display: flex;
    margin-left: 3%;
    width: 50%;
  }

  .follow_list img{
    // border: 2px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: $gray5;
    margin-right: 7%;
    cursor: pointer;
  }

  .follow_list ul{
    // background-color: blue;
    width: 100%;
  }


  #spanLogin:hover{
    cursor:pointer;
    margin-left:20px;
  }


  .follow_list .l-btn{
    padding-left: 25%;
    padding-right: 25%;
    text-transform: uppercase;
  }

  .under_pop{  //pre.load父容器
    // background-color: green;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }

  //follower following的燈箱設定




   