//放置base 的全部
@import '../base/reset';
@import '../base/var';
@import '../base/mixin';
@import '../base/base';
@import '../base/grid';
@import '../base/rwd';
//不能抓 all.scss 文自路徑會跑掉


//放置component
@import '../component/header';
@import '../component/footer';





.logIn_signUp{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;

    >div.container{
       width: 65vw;
    //    border: 1px solid red;
       margin: auto;
       position: relative;
        .under{
            display: flex;
            >.login,.signup{
                // border: 1px solid green;
                display: inline-flex;
                flex-wrap: wrap;
                width: 50%;
                padding: 50px;
                align-items: flex-start;
                align-content: center;
                h4{
                    width: 100%;
                    text-transform: uppercase;
                }
                form{
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 50px;

                    >label{
                        margin: 30px 0;
                        position: relative;
                        width: 100%;
                        p{
                            position: absolute;
                            top: -10px;
                            font-size: 14px;
                            text-transform: uppercase;
                            // margin: 5px 0;
                            transition: all .3s;
                        }
                        input{
                            width: 100%;
                        }
                    }

                    div{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        button{
                            text-transform: uppercase;
                            
                        }
                    }
                }
            }

            >.login{
                >form{
                    >:nth-child(3){
                        display: flex;
                        justify-content: flex-end;
                        margin-bottom: 50px;
                    } 
    
                }
            }

            >.signup{
                .fristName,.lastName{
                    width: 48% ;
                }
            }
        }

        .upper{
            position: absolute;
            top: 0;
            left: 0;
            background-color: $green-d;
            padding: 50px;
            width: 50%;
            border-radius: 20px;
            height: 100%;
            display: flex;
            align-items: center;
            transition: all .5s;

            transform: translate(100%,0);

            >div{
                display: flex;
                flex-wrap: wrap;

                >h4,p,div{
                    width: 100%;
                    display: flex;
                    margin: 10px 0;
                    justify-content: center;
                    color: $white;
                }

                h4,button{
                    text-transform: uppercase;
                }
            }
        }
    }
}


.myAccount{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: flex-start;

    >:first-child{
        // display: flex;
        // justify-content: center;
        // flex-wrap: wrap;
        // height: 2000px;


        top: 112px;
        margin-left: 1px solid $black;
        
        position: sticky;
        height: 90vh;
        overflow-y: auto;
        >div{
            >.personInfo{
                padding: 20px 20px 20px 50px;
                border-bottom: 1px solid $black;
    
                width: 100%;
                >.portrait{
                    display: flex;
                    justify-content: center;
                    img{
                        width: 100px;
                        height: 100px;
                        margin-bottom: 20px;
                        border-radius: 100%;
                        box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
                    }
                }
    
                >.mainInfo{
                    >.one-info{
                        margin: 10px 0;
                        >p{
                            font-size: 14px;
                            text-transform: uppercase;
                        }
                        h6{
                            font-weight: 900;
                        }
                    }
    
                    >.two-info{
                        >.age,.gender,.height,.weight,.bmr{
                            display: flex;
                            justify-content: space-between;
                            >div{
                                display: flex;
                                // >img{
                                //     // margin-right: 5px;
                                // }
                            }
                            p{
                                font-size: 14px;
                                text-transform: uppercase;
                                color: $black;
                            }
                        }
                    }
    
                    >.three-info{
                        .phone{
                            margin-bottom: 20px;
                        }
                    }
    
                    >hr{
                        margin: 20px 0;
                    }
                    >.edit-signout-button{
                        margin-top: 50px;
                        div{
                            width: 100%;
                            display: flex;
                             flex-wrap: wrap;
                             justify-content: center;
                            button{
                                display: flex;
                                align-items: center;
                                text-transform: uppercase;
                            }
                        }
         
                    }
                }
            }
    
            >.level{
                margin: 50px 0;

                >p{
              
                    text-transform: uppercase;
                }
                >.levelBar{
                    width: 100%;
                    height: 30px;
                    background-color: rgb(221, 221, 221);
                    border-radius: 5px;
                    margin: 10px 0;
                    position: relative;
                    >.currentBar{
                        position: absolute;
                        height: 100%;
                        width: 80%;
                        top: 0;
                        left: 0;
                        background-color: $primary;
                    }

                }
                >:last-child{
        
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }


 
    }

    >:nth-child(2){
        .goal{
            >p{
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            >.goalBody{
                margin: 0;
                >div{
                    display: flex;
                    align-items: center;
                    >p{
                        text-transform: uppercase;
                        margin: 0px 5px;
                    }
                    >.dateLine{
                        flex-grow: 2;
                        background-color: $gray3;
                        border-radius: 100px;
                        height: 10px;
                        >.crrentLine{
                            height: 100%;
                            width: 80%;
                            background-color: $primary;
                        }
                    }
                }
            }
        }
    }

    >:last-child{
        height: 2000px;
        >.r-aside{
            position: sticky;
            top: 112px; // 要用js來抓高度
            height: 90vh;
            margin-top: 0;
    
        }
    }
 
}
