//放置base 的全部
@import '../base/reset';
@import '../base/var';
@import '../base/mixin';
@import '../base/base';
@import '../base/grid';  
@import '../base/rwd';
//不能抓 all.scss 文自路徑會跑掉


//放置component
@import '../component/header';
@import '../component/footer';
@import '../component/cart.scss';
@import '../component/A_report.scss';
@import '../component/loading.scss';  


 

h1,h2,h3,h4,h5,h6,p,button{ 
    letter-spacing: 0.8px;
    text-transform: capitalize; 
}
.card{
    margin: 0;
}


.statusOrder .table tbody tr{
    cursor: pointer;
}

.table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    thead{
        border-bottom: 1px solid $black;
        th{
            text-transform: uppercase;
            padding: 20px 10px;
            font-weight: 900;
            font-size: 16;
        }
    }
    td{
        padding: 10px 30px;
        >button,a{
            padding: 3px 10px;
            margin: 0;
        }
    }
    tbody{
        >tr{
            
            border-bottom: 1px solid #d4d4d4;
        }
    }

}

.favPoster{
    th{
        width: calc(100% / 4);
    }
}


@include rwd(1000px){
    .totalTable thead,.table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }

    .table tr{
        margin-bottom: 15px;
    }
    .table td{
        // text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        text-align: left;
        font-weight: 900;
    }
}



.logIn_signUp{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;

    >div.container{
        >div.changBtn{
            display: none;
        }

       width: 65vw;
       margin: auto;
       position: relative;
        .under{
            display: flex;
            >.login,.signup{
                // border: 1px solid green;
                display: inline-flex;
                flex-wrap: wrap;
                width: 50%;
                padding: 50px;
                align-items: flex-start;
                align-content: center;
                h4{
                    width: 100%;
                    text-transform: uppercase;
                }
                form{
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 50px;

                    >label{
                        margin: 30px 0;
                        position: relative;
                        width: 100%;
                        p{
                            position: absolute;
                            top: -10px;
                            font-size: 14px;
                            text-transform: uppercase;
                            // margin: 5px 0;
                            transition: all .3s;
                        }
                        input{
                            width: 100%;
                        }
                    }

                    div{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        button{
                            text-transform: uppercase;
                            
                        }
                    }
                }
            }

            >.login{
                >form{
                    >:nth-child(3){
                        display: flex;
                        justify-content: flex-end;
                        margin-bottom: 50px;
                    } 
    
                }
            }

            // >.signup{
            //     .fristName,.lastName{
            //         width: 48% ;
            //     }
            // }
        }

        .upper{
            position: absolute;
            top: 0;
            left: 0;
            background-color: $green-d;
            padding: 50px;
            width: 50%;
            border-radius: 20px;
            height: 100%;
            display: flex;
            align-items: center;
            transition: all .5s;

            transform: translate(100%,0);

            >div{
                display: flex;
                flex-wrap: wrap;

                >h4,p,div{
                    width: 100%;
                    display: flex;
                    margin: 10px 0;
                    justify-content: center;
                    color: $white;
                }

                h4,button{
                    text-transform: uppercase;
                }
            }
        }
    }
}


.myAccount{ 
    display: flex;
    // display: none;
    position: relative;
    flex-wrap: wrap;
    align-items: flex-start;

    >.personConainer{
        // display: flex;
        // justify-content: center;
        // flex-wrap: wrap;
        // height: 2000px;


        top: 81px;
        
        position: sticky;
        height: 90vh;
        overflow-y: auto;
        >div{
            >.personInfo{
                padding: 20px 20px 20px 50px;
                border-bottom: 1px solid $black;
    
                width: 100%;
                >.portrait{
                    display: flex;
                    justify-content: center;
                    img{
                        width: 100px;
                        height: 100px;
                        margin-bottom: 20px;
                        border-radius: 100%;
                        box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
                        background-color: $gray4;
                    }
                }
    
                >.mainInfo{
                    >.one-info{
                        margin: 10px 0;
                        >p{
                            font-size: 14px;
                            text-transform: uppercase;
                        }
                        .name{
                            font-weight: 900;
                            font-size: 18px; 
                            
                        }
                    }
    
                    >.two-info{
                        >.age,.gender,.height,.weight,.bmr{
                            display: flex;
                            justify-content: space-between;
                            >div{
                                display: flex;
                                align-items: center;
                                >img{
                                    opacity: .5;
                                    object-fit: contain;
                                    height: 15px;
                                    width: 15px;
                                    margin-right: 5px;
                                }
                            }
                            p{
                                font-size: 14px;
                                text-transform: uppercase;
                                color: $black;
                            }
                        }
                    }
    
                    >.three-info{
                        .phone{
                            margin-bottom: 20px;
                        }
                        .email{
                            text-transform: none; 
                        }
                    }
    
                    >hr{
                        margin: 20px 0;
                    }
                    >.edit-signout-button{
                        margin-top: 50px;
                        div{
                            width: 100%;
                            display: flex;
                             flex-wrap: wrap;
                             justify-content: center;
                            button{
                                display: flex;
                                align-items: center;
                                text-transform: uppercase;
                                img{
                                    opacity: .5;
                                    height: 20px;
                                    width: 20px;
                                    margin-right: 10px;
                                }
                            }

                        }
         
                    }
                }
            }
    
            >.level{
                margin: 50px 0;

                >:first-child{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    img{
                        cursor: pointer;
                    }
                }
                >.levelBar{
                    width: 100%;
                    height: 30px;
                    background-color: rgb(221, 221, 221);
                    border-radius: 5px;
                    margin: 10px 0;
                    position: relative;
                    >.currentBar{
                        position: absolute;
                        height: 100%;
                        width: 1%;
                        top: 0;
                        left: 0;
                        background-color: $primary;
                    }

                }
                >:last-child{
        
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }


 
    }

    >.mainConainter{
        >div{
            padding: 20px;
            >.goal{
                >h6{
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    // font-size: 16px;
                }
                >.goalBody{
                    margin: 0;
                    >.goal-row-1{
                        display: flex;
                        align-items: center;
                        >p{
                            text-transform: capitalize;
                            margin: 0px 5px;
                        }
                        >.dateLine{
                            flex-grow: 2;
                            background-color: $gray3;
                            border-radius: 100px;
                            height: 10px;
                            
    
                            >.crrentLine{
                                height: 100%;
                                width: 80%;
                                background-color: $primary;
                                border-radius: 100px;
                                position: relative;
                                display: flex;
                                justify-content: flex-end;
                                #moveDate{
                                    position: absolute;
                                    // z-index: 10;
                                    top: 10px;
                                    opacity: .5;
                                    font-size: 12px;
                                    // right: -10;
                                    // transform: translate(-100%,0);
                                    span{
                                        font-size: 12px;
                                    }
                                }
                            }
                         
                        }
    
                 
                    }
    
                    >.goal-row-2{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p{
                            font-size: 14px;
                        }
                        // .starDate{
    
                        // }
                        
                        // .endDate{
    
                        // }
                    }
    
                    >.goal-row-3{
                        margin-top: 20px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        div{
                            text-transform: capitalize;
                            font-size: 14px;
                            // font-weight: 900;
                        }
                        >.durationTime{
                            >div{
                                display: flex;
                                flex-wrap: wrap;
                                >label{
                                    >p{
                                        padding: 5px 10px;
                                        margin: 10px;
                                        background-color: $gray3;
                                        border-radius: 5px;
                                    }
                                    >input:checked{
                                        ~p{
                                            background-color: $primary;
                                            color: $white;
                                        }
                                    }
                                    
                                }
                                >.enterDurTime{
                                    margin: 10px;
                                    padding: 5px;
                                    position: relative;
                                    display: inline-flex;
                                    align-items: flex-end;
                                    background-color: $gray3;
                                    justify-content: center;
                                    border-radius: 5px;
                                    input{
                                        width: 50px;
                                        text-align: center;
                                        color: $white;
                                        border: none;
                                    }
                                    
                                    p{
                                        padding: 0;
                                        margin: 0;
                                        background-color: transparent;
                                        position: absolute;
                                        width: 20px;
                                        transition: all .3s;
                                        opacity: 1;
                                        pointer-events: none;
                                    }
                                    input:focus{
                                        ~p{
                                            opacity: 0;
                                        }
                                    }

                                    img{
                                        width: 20px;
                                        height: 20px;
                                        opacity: .5;
                                        pointer-events: none;
                                    }
                                }
                                >.enterDurTime:focus-within{
                                    background-color: $primary;
                                }
                            }
                            
                        }
    
                        >.customDate{
                            // display: flex;
                            // flex-wrap: wrap;
    
                            >div{
                                flex-wrap: wrap;
                                width: 100%;
                                display: flex;
                                >input{
                                    margin: 10px;
                                    width: 150px;
                                    text-align: center;
                                }
                            }
                            
                        }

                        >.restDay{
                            width: 100%;
                            text-align: center;
                            >div{
                                margin-top: 10px;
                                font-size: 24px;
                                font-weight: bold;
                                color: $gray5;
                            }
                        }
                    }
    
                    >.goal-row-4{
                        margin-top: 20px;
                        display: flex;

                        flex-wrap: wrap;
                        justify-content: space-between;
                        >.block{
                            >p{
                                text-transform: capitalize;
                            }
                        }
                        >.currentState{
                            >div{
                                display: flex;
                                >div{
                                   >div{
                                    background-color: $gray3;
                                    border-radius: 5px;
                                    margin: 5px;
                                    padding: 5px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    >img{
                                        margin-right: 5px;
                                        height: 15px;
                                        width: 15px;
                                        object-fit: contain;
                                        opacity: .5;
                                    }
                                    >p{
                                        margin-right: 10px;
                                    }
                                   }
                                }
                                >.r-side{
                                    >div{
                                       height: calc(50% - 5px);
                                       img{
                                           width: 30px;
                                           object-fit: contain;
                                       }
                                    }
                                }
                            }
                        }
    
                        >.goalWeight{
                            position: relative;
             
                            >label{
                                background-color: $gray3;
                                border-radius: 5px;
                                height: 80%;
                                margin: 5px;
                                position: relative;
                                // padding: 35px;
                                display: flex;
                                // align-items: center;
                                justify-content: center;
                                transition: all .5s;

                                >input{
                                    width: 80%;
                                    font-size: 20px;
                                    text-align: center;
                                    color: $white;
                                    border: none;
                                }

                                >input:focus{
                                    ~img{
                                        opacity: 0;
                                    }
                                }

                                >img{
                                    top: 50%;
                                    left: 50%;
                                    position: absolute;
                                    transform: translate(-50%,-50%);
                                    height: 20px;
                                    width: 20px;
                                    opacity: .5;
                                    transition: all .5s;
                                }
                            }

                            >label:focus-within{
                                background-color: $primary;
                            }
                        }

                        >.restCal{
                            >div{
                                display: flex;
                                height: 80%;
                                width: 100%;
                                
                                >.peopleInfoGraphic{
                                    background-color: $gray3;
                                    width: 100px;
                                    height: 100%;
                                    position: relative;
                                    display: flex;
                                    align-items: flex-end;
                                   

                                    clip-path: url(#svgPath);


                                    >.tookCal{
                                        width: 100%;
                                        height: 50%;
                                        background-color: $primary;
                                    }
                                    >p{
                                        font-size: 12px;
                                        position: absolute;
                                        top: 35%;
                                        left: 50%;
                                        transform: translate(-70%,0);
                                    }
                                }
                               
                                >.infoNum{
                                    padding: 10px;
                                    vertical-align:middle;
                                    // display: flex;
                                    // flex-wrap: wrap;
                                    // align-content: space-between;
                                    >div{
                                        width: 100%;
                                        display: flex;
                                        flex-wrap: wrap;
                                        text-align: center;

                                        >p,span{
                                            width: 100%;
                                            text-transform: capitalize;
                                            margin: 2px;
                                        }
                                        
                                    }
                                    >.row-1{
                                        >:first-child{
                                            font-size: 20px;
                                        }
                                    }
                                    >.hr{
                                        height: 1px;
                                        margin-bottom: 5px;
                                        background-color: $black;
                                    }

                                }
                            }
                        }

                        >:last-child{
                            div{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                button{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    text-transform: uppercase;
                                    img{
                                        opacity: .5;
                                        height: 20px;
                                        width: 20px;
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }


            >.statusOrder,.favPoster{
                margin-top: 30px;
                >:first-child{
                    flex-wrap: wrap;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    >form{
                        border-bottom: 1px solid $gray5;
                        margin-bottom: 10px;
                        input{
                            border: none;
                            letter-spacing: 0.8px;
                        }
                        >button{
                            img{
                                opacity: .5;
                            }
                        }
                    }
                    >button{
                        display: flex;
                        align-items: center;
                        // text-transform: uppercase;
                        margin-bottom: 10px;
                        img{
                            height: 15px;
                            width: 15px;
                            object-fit: contain;
                            margin-left: 10px;
                        }
                    }

                }
              
                >.listBody{
                    overflow: hidden;
                    // box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                    transition: all .5s;
                    // max-height: 500px;
                    
                    >div.card{
                        padding: 0;
                        margin: 0;
                        box-shadow: none;
                    }
                    >.head{
                        display: flex;
                        justify-content: space-around;
                        border-bottom: 1px solid $black;
                        >p{
                            text-transform: uppercase;
                            font-weight: 900;
                            color: $black;
                        }
                    }

                    >.item{
                        div{
                            display: flex;
                            justify-content: space-around;
                        }
                    }
                }
            }

        }

  
    }

    >.secondContainer{
        transition: all .5s;
        >.label{
            // display: inline-flex;
            display: none;
            position: absolute;
            background-color: #EAA565;
            align-items: center;
            padding: 14px;
            border-radius: 5px 5px 0 0;
            transform: rotate(-90deg) translate(-138%, -32%);
            transform-origin: left;
            z-index: 10;
            cursor: pointer;


            p{
                text-transform: uppercase;
                color: $black;
                font-weight: 900;
            }
            img{
                height: 15px;
                width: 15px;
                object-fit: contain;
                margin-left: 10px;
            }

        }

        top: 81px;
        position: sticky;
        // height: 90vh;
        >.r-aside{
    
            height: 93vh;
            margin-top: 0;
            align-self: flex-start; 
            padding: 30px 15px;
            overflow-y: auto;
            box-shadow: -3px 3px 5px 2px rgba(0, 0, 0, 0);
            transition: box-shadow .5s;

            >.points{
                margin-top: 50px;
                margin-bottom: 100px;
                padding: 0px;
                background-color: $primary-l;

                >:first-child{
                    display: flex;
                    align-items: center;
                    text-transform: capitalize;
                    padding: 10px;
                    border-bottom: 1px solid $black;

                    img{
                        height: 20px;
                        width: 20px;
                        margin-right: 10px;
                        opacity: .5;
                    }
                }

                >:last-child{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    >:first-child{
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        margin: 30px 0px;
                        h6,p{
                            width: 100%;
                            text-transform: capitalize;
                            text-align: center;
                        }
                        p{
                            font-size: 12px;
                        }

                    }

                    >.p-btn{
                        text-transform: uppercase;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
 
}

section.edit,section.orderDetail,section.levelInfo{
    top: 0;
    z-index: 11;
    position: fixed; 
    width: 100vw;
    min-height: 100vh;
    // display: flex;
    display: none;
    >.bg{
        display: flex;
        position: fixed;
        background-color: $black;
        opacity: .5;
        width: 100vw;
        min-height: 100vh;
        left: 0;
        top: 0;
    }
    >.editBody{
        width: 35%;
        margin: auto;
        position: relative;
        z-index: 1;
        >.labelrow{
            display: flex;
            >label{
                >input:checked~p{
                    background-color: $white;
                }
                p{
                    text-transform: uppercase;
                    padding: 10px;
                    background-color: rgb(212, 212, 212);
                    border-radius: 10px 10px 0  0 ;
                    opacity: 1;
                }
            }
        }

        >.profileBody,.accountBody{
            overflow: auto;
            max-height: 80vh;
            padding: 20px;
            background-color: $white;
            border-radius: 0 10px 10px  10px ;

            >.row-1{
                border-bottom: 1px solid $gray5;
                h4{
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    text-align: center;
                }
            }

            >form.row-2{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 30px;
                >.protrait{
                    width: 100%;
                    >div{
                        overflow: hidden;
                        margin: auto;
                        background-color: $gray4;
                        border-radius: 100%;
                        width: 80px;
                        height: 80px;
                        border: 1px solid $white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow:  3px 3px 5px 2px rgba(0, 0, 0, 0.3);
                        cursor: pointer;
                        
                        >img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                >.name,.birthday, div.gender,.weight,.height,.email,.phone,.intro,.userid,.oldPwd,.newPwd,.cfmPwd{
                    width: 100%;
                    display: flex;
                    margin: 10px 0;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    >:first-child{
                        width: 250px;
                        font-weight: 900;
                        text-transform: uppercase;
                    }
                }

                >.weight,.height,.email,.phone,.oldPwd,.newPwd,.cfmPwd{
                    input{
                        flex-grow: 2;
                    }
                }

                >.name{
                    margin-top: 50px;
                }

                >.birthday{
                    input{
                        width: 100px;
                        margin-right: 10px;
                    }
                }
                >div.gender{
                    // >:first-child{
                    //     width: 200px;
                    // }
                    >label{
                        display: flex;
                        align-items: center;
                        margin-right: 20px;
                        >p{
                            text-transform: uppercase;
                            order: 2;
                            font-size: 14px;
                        }
                        >div{
                            order: 1;
                            height: 15px;
                            width: 15px;
                            border: 1px solid $gray5;
                            border-radius: 3px;
                            margin: 5px;
                        }
                        >input:checked~div{
                            background-color: $primary;
                            border: none;
                        }
                    }
  
                }

                >.intro{
                    align-items: flex-start;
                    textarea{
                        border-radius: 10px;
                        background-color: $white;
                        flex-grow: 2;
                        height: 100px;
                        resize: none;
                        outline: none;
                    }
                }


                >:last-child{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    margin: 20px 0;
                    button{
                        text-transform: uppercase;
                        padding: 10px 50px;
                    }
                }
            }
        } 
        // >.accountBody{
        //     display: none;
        // }
    }
    
}

section.orderDetail{
    display: flex;
    // display: none;
    justify-content: flex-end;

    .detailBody{
        // width: 35%;
        padding: 50px;
        max-height: 60vh;
        overflow-y: auto;
        border-radius: 20px;
        width: 90%;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        background-color: #ffffff;
        >button{
            position: absolute;
            right: 20px;
            top:20px;
        }
        >.table{
            margin-bottom: 20px;
        }
        >.total{
            // display: flex;
            padding: 20px;
            // flex-wrap: wrap;
    
            >div{
                display: flex;
                margin: 10px 0;
                >:first-child{
                    width: 200px;
                    font-size: 14px;
                }
            }

            >.hr{
                width: 50%;
                height: 1px;
                background-color: $black;
            }
        }
    }
}

section.levelInfo{
    >.infoBody{
        width: 50%;
        display: flex;
        padding: 50px;
        max-height: 60vh;
        overflow-y: auto;
        border-radius: 20px;
        margin: auto;
        position: relative;
        z-index: 1;
        background-color: $white;
        >.content{
            >div{
                display: flex;
                justify-content: flex-start;
                margin: 30px 0;
                >:first-child{
                    width: 100px;
                }
                >:last-child{
                    width: calc(100% - 100px);
                }
            }
        }

        >button{
            position: absolute;
            right: 20px;
            top:20px;
        }
    }
}


@include rwd(992px){


    .logIn_signUp {
        > div.container{
            width: 90%;

            >div.changBtn{
                display: block;
            }
            
            >.under{
                justify-content: center;
                >.signup, .login{
                    width: unset;
                    padding: 5px; 
                }
                >.signup{
                    display: none;
                }
     
            }
            >.upper{
                display: none;
            }
        }
       
    }

    .myAccount{
        >.personConainer{
            height: unset;
            position: relative;
            >div{
                >.personInfo{
                    padding: 10px;
                }
            }
        }
        #moveDate{
            display: none;
        }
  

        >.secondContainer{
        
            position: fixed;
            width: 90vw;
            transform: translate(100%,0);
            height: 95vh;
            top: 61px;
            right: 0px;


            >aside.r-aside{
                height: 100%;
                // box-shadow: -3px 3px 5px 2px rgba(0, 0, 0, 0.3);
            }

            >.label{
                display: inline-flex;
            }

            
        }


        >.mainConainter{
            margin-top: 50px;
            >div{
                padding: 5px;
                .goal{
                    >.goalBody{
                        padding: 25px 5px;
                        >.goal-row-3{
                            justify-content: center;
                            >div{
                                margin: 10px 0;
                            }
                        }

                        >.goal-row-4{
                            justify-content:center;
                            >div{
                                margin: 10px 0;
                            }
                        }
                    }
                } 
            }
        }
    } 

  
    section.edit,section.orderDetail{
        >.detailBody{
            padding: 10px;
            padding-top: 70px;
            >button{
                right: 50%;
                transform: translate(50%, 0px);
            }
            >.total{
                >.hr{
                    width: 100%;
                }
            }
        }
        .editBody{
            width: 100%;
            >.profileBody,.accountBody{
                >form.row-2{
                    >.name,.birthday, div.gender,.weight,.height,.email,.phone,.intro,.userid,.oldPwd,.newPwd,.cfmPwd{
                        >:first-child{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    // .mainConainter{
    //     .goalBody{
    //         .goal-row-3{
    //             justify-content: center;
    //         }
    //     }
    // }
    

  
}

section.edit{
    display: flex;
} 

.reportBody{
    .reportContent{
        padding: 20px;
        .pieCContainer,.lineCContainer{
            display: none;
        } 
    }

  

}



//套件的loading
//////////////////////////////////////////////////////
// @keyframes ldio-2gn8nvj94zp {
//     0% {
//       top: 96px;
//       left: 96px;
//       width: 0;
//       height: 0;
//       opacity: 1;
//     }
//     100% {
//       top: 18px;
//       left: 18px;
//       width: 156px;
//       height: 156px;
//       opacity: 0;
//     }
// }

// .vld-overlay{
//     position: fixed;
//     z-index: 2;
//     top: 0;
// }

// .ldio-2gn8nvj94zp div {
//     top: 0;
// position: fixed;
// border-width: 4px;
// border-style: solid;
// opacity: 1;

// border-radius: 50%;
// animation: ldio-2gn8nvj94zp 1s cubic-bezier(0,0.2,0.8,1) infinite;
// }

// .ldio-2gn8nvj94zp div:nth-child(1) {
// border-color: #1d3f72
// }

// .ldio-2gn8nvj94zp div:nth-child(2) {
// border-color: #5699d2;
// animation-delay: -0.5s;
// }

// .loadingio-spinner-ripple-wu44vrvts1 {
// width: 100vw;
// height: 100vh;
// display: inline-block;
// overflow: hidden;
// position: relative;

// /*  background 設定 none  */
// background-color: $primary-l;
// }
// .ldio-2gn8nvj94zp {
// width: 50px;
// height: 50px;
// display: inline-block;
// position: absolute;
// /*   transform: translateZ(0) scale(1); */
// left: 50%;
// top: 50%;
// transform: translate(-200% ,-200%);
// backface-visibility: hidden;
// transform-origin: 0 0; /* see note above */
// }
// .ldio-2gn8nvj94zp div { box-sizing: content-box; }
/* generated by https://loading.io/ */
//套件的loading
//////////////////////////////////////////////////////