// @import "../base/mixin";
//  @import "../all.scss";
// @import"../page/forum.scss";


//base 全
@import '../base/reset';
@import '../base/var';
@import '../base/mixin';
@import '../base/base';
@import '../base/grid';
@import '../base/rwd';

//component
@import"../component/header";
@import"../component/footer";


body{
    background-color: #F5F2EB;
    border: box-sizing;
    // background-color:black;
}
header{
    position: sticky;
    top: 0px;
    z-index: 1;
    @import "../component/header";
}

footer{
    @import "../component/footer";
}

//包住left middle right的大框
main{  
    display: flex;
    justify-content: space-between;
}
//包住left middle right的大框


//左邊 left
div.left{
    // border: 1px solid black;
    width: 17%;
    margin-top: 1%;
    margin-right: 22px;
}

// .left ul{
//     list-style: none;
//     padding-left: 20%;
//     padding-top: 10%;
//     text-transform:uppercase;
//     position:sticky;
//     top: 10%;
//     left: 0%;
// }

//左邊 left


//中間middle
div.middle{
    // border: 1px solid black;
    // flex-grow: 2;
    width: 65%;
    margin-top: 1%;
}   
//中間middle

   
//右邊righgt
div.right{
    width: 18%;
    margin-top: 1%;
    // margin-left: 22px;
    border-top-left-radius: 50px;
    background-color:#FFDA9B;
}
//右邊righgt




//"中間middle"裡 上面的區塊midbox(內含3個區塊) 下面才是瀑布流
.midbox{
  // border: 1px solid deeppink;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 98%;
  margin-left: 2%;
}

.midbox_top{
  display: flex;
}

.member_info{
  margin-left: 3%;
}

.self_intro{
   margin-top:2% ;
   margin-bottom: 2%;
   width: 100%;
}

.midbox_floor{
  display: flex;
  text-transform: uppercase;
  margin-top: 2%;
}

.midbox_floor li{
  margin-right:6%;
}

//本頁標記
ul .news{
  color: #000;
}

//"中間middle"裡 上面的區塊midbox(內含3個區塊) 下面才是瀑布流








//中間瀑布流內容
.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-rows: 8px;
}

.figure img{
  width: 5%;
  height: 5%;
  border-radius: 50px;
}

.gallery .article {  
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}

// .gallery img:hover {
//   box-shadow: 0 0 32px #333;
// }


.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}



.middle_load{  //pre.load父容器
  display: flex;
  justify-content: center;
}

.holding_block{
  padding: 15%;
}


pre.load{ 
  border-bottom: 1px solid black;
  color: black;
  text-transform:uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10%;
}



.post .l-btn{
  // margin-top: 50%;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}





// 卡片內
.topBody {
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-content: center;
      > :first-child {
      display: flex;
                .face {
                    height: 50px;
                    width: 50px;
                    border-radius: 100%;
                    overflow: hidden;
                    border: 1px solid $white;
                    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
                    margin-right: 20px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
            
                }
              > :nth-child(2) {
            
                  .name {
                      font-weight: 900;
                      opacity: 1;
                  }
                  .releaseDate {
                    opacity: 1;
                    font-size: 12px;
                    
                  }
              }
      }
  
  // >:last-child{
  //     .report{
  //         opacity: .5;
  //     }
  // }
  // } //.topbody
}  //.topbody


  // .middleBody {
  // border-bottom: 1px solid $gray5;
  // margin-top: 15px;
  // } //.middleBody
  
  
  .commentNum{ //寫在裡面吃不到
  display: flex;
  justify-content: flex-end;
  border-bottom:1px solid $gray4;
  }
  
  .commentNum span {
  font-size: 12px;
  color: $gray5;
  text-transform: uppercase;
  margin-bottom: 1%;
  margin-top: 1%;
  }
  
 

  
  .bottomBody {
  // border: 1px solid green;
  display: flex;
  margin-top: 5px;
  justify-content: flex-end;
  position: relative;
  button {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      opacity: 0.6;
      img {
          margin-right: 10px;
      }
  }
  .share{
      z-index: 1;
      color: $gray4;
      position: relative;
      .social{
          opacity: 1;
          position: absolute;
          width: 100%;
          top: 30px;
          right: 0;
          padding: 10px;
          background-color: $white;
          flex-wrap: wrap;
          box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.2);
  
          display: none; //使用flex
          >button{
              display: flex;
              justify-content: center;
              width: 100%;
              margin: 5px 0;
              img{
                  opacity: .5;
              }
          }
          
      }
  }
  } //bottombody
  

//從inforum.scss複製過來的
.radius_icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.349);
  background-color:grayscale($color: #0000003f);
}

.issue{
  border-bottom:1.5px solid $gray4;
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.issue input{ //發文區輸入框
  width: 420px;
  height: 40px;
  margin-left: 2%;
  margin-top: 3%;
  // margin-bottom: 3%;
}


.floor{
font-size: 18px;
width: 100%;
// border: 1px solid blue;
}
.floor > .drop_down{
font-family: "NotoSans-B";
outline: none;
font-size: 14px;
background-color: white;
border: none;
display: flex;
align-items: center;
// border: 1px solid hotpink;
text-transform: uppercase;
color: #333333bd;
}

.floor .issue input{  //留言區輸入框
// width: 150%;
background-color:$gray3;
border-radius: 10px;
width: 90%;
// z-index: 0;
}

.hiddenContent > .issue{
width: 100%;
border: none;
position: relative;
}

.hiddenContent {
display: none;
width: 100%;
}

  

.issue input::-webkit-input-placeholder {
font-size: 16px;
color: grayscale($color: #0000003f);
font-family: "NotoSans-R";
text-transform: uppercase;
}


.issue ul{
height: 80%;
width: 90%;
margin-left: 2%;
// margin-top: 3%;
// margin-bottom: 3%;
padding-left: 2%;
background-color: #F2F2F2;
border-radius: 10px;
font-size: 14px;
color: grayscale($color: #0a0a0a96);
font-family: "NotoSans-R";
text-transform: uppercase;
}

li.reply_detail{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 1.5%;
}

li.reply_content{
margin-top: 1%;
margin-bottom: 3%;
}

pre.reply_time{
display: flex;
align-items: center;
}
//從inforum.scss複製過來的
 //以上卡片內容





@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@-moz-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}




//report檢舉的燈箱設定
#reportBox{
position: fixed;
width: 100%;
height: 100%;
background: rgba(66,66,66,.6);
z-index: 500;
}

#tableReport{
z-index: 501;
border-radius: 25px;
position: absolute;
width:40%;
height: 65%;
top: 0;
right: 0;
bottom: 25%;
left: 0;
margin:auto;
background-color:$white;
}
//report檢舉的燈箱設定}

.report_wrapper{
  background-color: burlywood;
  width:80%
 
}


//report的下拉選單
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';


// *,*:after,*:before{
//   box-sizing: border-box;
// }

// html{
//   box-sizing: inherit;
//   background: linear-gradient(to left, #8e9eab , #eef2f3);
// }
// body{
//   margin: 10% auto;
//   text-align: center;
//   font-size: 12px;
// }

.select_type{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 325px;
  color: #cccccc;
  // vertical-align: middle;
  text-align: left;
  user-select: none;
  -webkit-touch-callout: none;

  .placeholder{
    position: relative;
    display: block;
    background-color: #393d41;
    z-index: 1;
    padding: 1em;
    border-radius: 2px;
    cursor: pointer;

    &:hover{
      background: darken(#393d41,2%);
    }

    &:after{
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'FontAwesome';
      content: '\f078';
      z-index: 10;
    }
  }

  &.is-open{
    .placeholder:after{
      content: '\f077';
    }
    ul{
      display: block;
    }
  }



  ul{
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    z-index: 100;

    li{
      display: block;
      text-align: left;
      padding: 0.8em 1em 0.8em 1em;
      color: #999;
      cursor: pointer;

      &:hover{
        background: #4ebbf0;
        color: #fff;
      }
    }
  }
}

//report的下拉選單