@@include("./layout/B_head.html");
<title>Product</title>

</head>
<body>
    <!-- 側邊欄 -->
    @@include('./layout/B_aside.html')
    <!-- 右邊主欄 -->
    <div class="main" id="product_5">
        <div class="main_top">
            <div class="search_bar">
                <div class="search-input">
                    <input type="search" placeholder="Enter No. Or Name">
                    <button>
                        <img src="./icon/magnifier_white.png">
                    </button>  
                </div>
                <div class="custom-select">
                    <select name="sType">
                        <option value="0">ALL</option>
                        <option value="0">ALL</option>
                        <option value="1">Cereal</option>
                        <option value="2">Crackers</option>
                        <option value="3">Energy bar</option>
                    </select>
                </div>
            </div>
            <div class="add">
                <button>
                    <img src="./icon/add_white.png">
                    ADD
                </button>
            </div>
        </div>
        <div class="main_bottom">
            <table>
                <tr>
                  <th>No</th>
                  <th>Type</th>
                  <th>Name</th>
                  <th>Photo</th>
                  <th>Calories</th>
                  <th>Rate</th>
                  <th>Price</th>
                  <th>Edit</th>
                  <th>Delete</th>
                  <th>State</th>
                </tr>
                <tr v-for="(item,index) in product">
                    <td>{{product[index].prodNo}}</td>
                    <td>{{product[index].prodType}}</td>
                    <td>{{product[index].fdName}}</td>
                    <td>
                        <img :src="imgs[index]">
                    </td>
                    <td>{{product[index].fdCalPer}}</td>
                    <td>{{product[index].calRate}}</td>
                    <td>{{product[index].price}}</td>
                    <td>
                        <img class="edit" src="./icon/backend_edit.png" @click="changesellindex(index)">
                    </td>
                    <td>
                        <img class="delete" src="./icon/backend_trash.png"  @click="changesellindex(index)">
                    </td>
                    <td>  
                        <div class="button" @click="changesellindex(index)">
                            <input type="checkbox" v-model="sell[index]">
                            <label></label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- 確認 上架/下架 的燈箱 -->
        <div class="lightbox_black">
            <div class="lightbox" >
                <div class="content">Do you want to  <span v-if="sell[sellindex]">stop</span>s<span v-else>start</span>elling <span>{{product[sellindex].fdName}}</span> ?</div>
                <div>
                    <button class="cancel">Cancel</button>
                    <button class="continus" @click="changeselect()">Continus</button>
                </div>
            </div>
        </div>
        <!-- 確認刪除的燈箱 -->
        <div class="lightbox_delete_black">
            <div class="lightbox" >
                <div class="content">Do you want to <span>delete</span> <span>{{product[sellindex].fdName}}</span> ?</div>
                <div>
                    <button class="cancel">Cancel</button>
                    <button class="continus" @click="delproduct()">Continus</button>
                </div>
            </div>
        </div>
        <!-- 新增的燈箱 沒有No. -->
        <div class="lightbox_add_black">
            <div class="lightbox" >                                        
                <h6>Add Product</h6>
                <div>
                    <div class="acc_title">Type</div>
                    <select class="acc_con" v-model="Typesave2">
                        <option value="1">Cereal</option>
                        <option value="2">Crackers</option>
                        <option value="3">Energy bar</option>
                    </select>
                </div>                             
                <div>
                    <div class="acc_title">Name</div>
                    <div>
                        <input type="text" required="required" maxlength="20" class="acc_con" v-model="productadd[0]">
                        <div class="acc_tip">Please enter within 20 characters.</div>
                    </div>
                </div>
                <div>
                    <div class="acc_title">Calories</div>
                    <div>
                        <input type="text" required="required" maxlength="5" class="acc_con" v-model="productadd[1]">
                        <div class="acc_tip">Please enter only numbers.</div>
                    </div>
                </div>
                <div>
                    <div class="acc_title">Rate</div>
                    <div>
                        <input type="text" required="required" maxlength="3" class="acc_con" v-model="productadd[2]">
                        <div class="acc_tip">Please enter only numbers and decimal point.</div>
                    </div>
                </div>
                <div>
                    <div class="acc_title">Price</div>
                    <div>
                        <input type="text" required="required" maxlength="10" class="acc_con" v-model="productadd[3]">
                        <div class="acc_tip">Please enter only numbers.</div>
                    </div>
                </div>                
                <div>
                    <div class="acc_title">Des</div>
                    <div>
                        <textarea rows="3" cols="50" required="required" maxlength="500" class="acc_con" v-model="productadd[4]"></textarea>
                        <div class="acc_tip">Please enter within 500 characters.</div>
                    </div>
                </div>
                <div>
                    <div class="acc_title">Pic.1</div>
                    <div>
                        <input type="file" accept=".jpg,.png" class="acc_con">
                        <div class="acc_tip">Upload file is too large.</div>
                    </div>
                </div>
                <div>
                    <div class="acc_title">Pic.2</div>
                    <div>
                        <input type="file" accept=".jpg,.png" class="acc_con">
                        <div class="acc_tip">Upload file is too large.</div>
                    </div>
                </div>
                <div>
                    <div class="acc_title">Pic.3</div>
                    <div>
                        <input type="file" accept=".jpg,.png" class="acc_con">
                        <div class="acc_tip">Upload file is too large.</div>
                    </div>
                </div>
                <div>
                    <button class="cancel">Cancel</button>
                    <button class="continus" @click="addproduct()">Add</button>
                </div>                                                                                                                 
            </div>
        </div>
        <!-- 修改的燈箱 -->
        <div class="lightbox_edit_black">
            <div class="lightbox" >                                        
                <h6>Edit Product</h6>
                <div>
                    <div class="acc_title">No</div>
                    <div class="acc_acc_con">21</div>
                </div>
                <div>
                    <div class="acc_title">Type</div>
                    <select class="acc_con" v-model="Typesave">
                        <option value="1">Cereal</option>
                        <option value="2">Crackers</option>
                        <option value="3">Energy bar</option>
                    </select>
                </div>
                <div>
                    <div class="acc_title">Name</div>
                    <div>
                        <input type="text" required="required" maxlength="20" class="acc_con" v-model="producteditsave[0]" :placeholder="product[sellindex].fdName">
                        <div class="acc_tip">Please enter within 20 characters.</div>
                    </div>
                </div>
                <div>
                    <div class="acc_title">Calories</div>
                    <div>
                        <input type="text" required="required" maxlength="5" class="acc_con" v-model="producteditsave[1]" :placeholder="product[sellindex].fdCalPer">
                        <div class="acc_tip">Please enter only numbers.</div>
                    </div>
                </div>
                <div>
                    <div class="acc_title">Rate</div>
                    <div>
                        <input type="text" required="required" maxlength="3" class="acc_con" v-model="producteditsave[2]" :placeholder="product[sellindex].calRate">
                        <div class="acc_tip">Please enter only numbers and decimal point.</div>
                    </div>
                </div>
                <div>
                    <div class="acc_title">Price</div>
                    <div>
                        <input type="text" required="required" maxlength="10" class="acc_con" v-model="producteditsave[3]" :placeholder="product[sellindex].price">
                        <div class="acc_tip">Please enter only numbers.</div>
                    </div>
                </div>                
                <div>
                    <div class="acc_title">Des</div>
                    <div>
                        <textarea rows="3" cols="50" required="required" maxlength="500" class="acc_con" v-model="producteditdes" :placeholder="product[sellindex].des">
                        </textarea>
                        <div class="acc_tip">Please enter within 500 characters.</div>
                    </div>
                </div>
                <form id="uploadphoto" action="5_productEdit.php"  method="post"> 
                    <div>
                        <div class="acc_title">Pic.1</div>
                        <div>
                            <input name="productImage1" type="file" accept=".jpg,.png" class="acc_con">
                            <div class="acc_tip">Upload file is too large.</div>
                        </div>
                    </div>
                    <div>
                        <div class="acc_title">Pic.2</div>
                        <div>
                            <input name="productImage2" type="file" accept=".jpg,.png" class="acc_con">
                            <div class="acc_tip">Upload file is too large.</div>
                        </div>
                    </div>
                    <div>
                        <div class="acc_title">Pic.3</div>
                        <div>
                            <input name="productImage3" type="file" accept=".jpg,.png" class="acc_con">
                            <div class="acc_tip">Upload file is too large.</div>
                        </div>
                    </div>
                </form>

                <div>
                    <button class="cancel"  @click="cleanedit()">Cancel</button>
                    <button class="continus" @click="productedit()">Edit</button>
                </div>                                                                                                            
            </div>
        </div>
    </div>

<script>
    $(function(){
        // 確認 lightbox
        setTimeout(() => {
        $('div.button>label').click(function(){
            $('.lightbox_black').css('display','block');
            $('.lightbox>div>button.cancel').click(function(){
                $('.lightbox_black').css('display','none');
            });
            $('.lightbox>div>button.continus').click(function(){
                $('.lightbox_black').css('display','none');
            });
            $(this).siblings().attr('checked', function(index, attr){
                return attr == 'checked' ? null : 'checked';
            });
        });
        // 刪除 lightbox
        $('img.delete').click(function(){
            $('.lightbox_delete_black').css('display','block');
            $('.lightbox>div>button.cancel').click(function(){
                $('.lightbox_delete_black').css('display','none');
            });
            $('.lightbox>div>button.continus').click(function(){
                $('.lightbox_delete_black').css('display','none');
            });
        });
        // 新增 lightbox
        $('.add>button').click(function(){
            $('.lightbox_add_black').css('display','block');
            $('.lightbox>div>button.cancel').click(function(){
                $('.lightbox_add_black').css('display','none');
            });
            $('.lightbox>div>button.continus').click(function(){
                $('.lightbox_add_black').css('display','none');
            });
        });
        // 修改 lightbox
        $('img.edit').click(function(){
            $('.lightbox_edit_black').css('display','block');
            $('.lightbox>div>button.cancel').click(function(){
                $('.lightbox_edit_black').css('display','none');
            });
            $('.lightbox>div>button.continus').click(function(){
                $('.lightbox_edit_black').css('display','none');
            });
        });
     }, 500);
    });
    </script>
    <script src="js/5_product.js"></script>
</body>
</html>