<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>HEALTH NEWS</title>
    <link rel="icon" href="./img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/common/info_content.css">
    <script src="./js/header.js" defer></script>
    <script src="./js/header_customSelect.js" defer></script>
    <script src="./js/cart.js" defer></script>

</head>
<body>
    <div class="headerContainer">
        @@include('./layout/header.html')
        @@include('./layout/cart.html')
    </div>
    <div id="infoContent">
        <div class="lightbox_black" v-if="lightbox">
            <div class="content"><span>{{lightbox_text}}</span> this article.</div>
        </div>
        <main>
            <p class="title">{{info.infoTitle}}</p>
            <div class="date">
                <div>{{info.infoTime}}</div>
                <div class="bookmark added" v-if="">
                    <img class="bookmark" src="./img/bookmark-black.png" @click="removeFavorite">
                    <p>Keep</p>
                </div>
                <div class="bookmark white" v-else>
                    <img class="bookmark" src="./img/bookmark-white.png" @click="addFavorite">
                    <p>Keep</p>
                </div>
            </div>
            <img class="info.infoPhoto1" :src="info.infoPhoto1" v-if="(info.infoPhoto1).slice(-3) == 'jpg'">
            <video :src="info.infoPhoto1" width="1200" height="675" controls poster="./img/info_logo.png" id="infovideo1" class="infovideo1" v-else></video>
            <p>{{info.infoContent1}}</p>
            
            <section class="top">
                <div><img :src="info.infoPhoto2"></div>
                <p>{{info.infoContent2}}</p>
            </section>

            <section class="bottom">
                <div><img :src="info.infoPhoto3"></div>
                <p>{{info.infoContent3}}</p>
            </section>
            <div>
                <a href="information.html">
                    <button>VIEW MORE</button>
                </a>
            </div>
        </main>
    </div>
    <div class="bottom">
        <h6>MORE FITNESS?</h6>  
        @@include('./layout/moreproduct.html')
    </div>
    @@include('./layout/footer.html')

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
<script>
    let vm = new Vue({
        el:"#infoContent",
        data:{
            info: [],
            
        },
        methods: {
            get_favo: async function () {
                const res = await fetch('./php/getFavorite.php', {
                    method: 'POST',
                    mode: 'same-origin',
                    credentials: 'same-origin',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        infoNo: this.infoNo,
                    }),
                }).then(function (data) {
                    return data.json();
                });
            },


        }
    })


    //資料庫
    const infoNo = sessionStorage.getItem("infoNo");

    fetch(`./php/allInfoData.php`).then(res => res.json())
                              .then(data => {
                                  // console.log(data);
                                  data.forEach(d => {
                                      if(d.infoNo === infoNo){
                                          vm.info = d;
                                      }
                                  })                              
                              });



</script>
</body>
</html>