<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEALTH NEWS</title>
    <link rel="stylesheet" href="./css/common/all.css">
    <link rel="stylesheet" href="./css/common/information.css">
    <link rel="icon" href="./img/logo.ico" type="image/x-icon">
    <script src="./js/header.js" defer></script>
</head>
<body>
    @@include('./layout/header.html')
<div id="app">
    <div class="banner">
        <div class="banner_img">
            <h4>More Fitness,<br>Less Fatness!</h4>
        </div>
    </div>
    <div class="filter">
        <ul>
            <li>Catrgory | </li>
            <li :class="{'active': visibility == 'all'}" @click="visibility = 'all'">ALL</li>
            <li :class="{'active': visibility == 'food'}" @click="visibility = 'food'">FOOD</li>
            <li :class="{'active': visibility == 'exercise'}" @click="visibility = 'exercise'">EXERCISE</li>
            <li :class="{'active': visibility == 'regimen'}" @click="visibility = 'regimen'">REGIMEN</li>
        </ul>
        <div class="custom-select">
            <select name="sType">
                <option value="0">ALL</option>
                <option value="1">FOOD</option>
                <option value="2">EXERCISE</option>
                <option value="3">REGIMEN</option>
            </select>
        </div>
    </div>
    <div class="main">
        <div class="info_card" v-for="(value,key) in filteredinfos" :key="value.infoNo">
            <a :href="infos.url">
                <div class="text">
                    <p class="title">{{value.infoTitle}}</p>
                    <p class="content">{{value.infoContent}}.</p>
                    <img class="arrow" src="./img/right-arrow.png">
                </div>
                <img class="infophoto1" :src="value.infoPhoto1" v-if="(value.infoPhoto1).slice(-3) == 'jpg'">
                <video :src="value.infoPhoto1" width="544" height="306" controls class="infovideo1" v-else></video>
            </a>
        </div>
    </div>
<div class="load">load more +</div>
</div>
    @@include('./layout/footer.html')

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                infos: [],
                infoTypeName: '',
                mLevel: '',
                tagType: '',
                visibility: '',
                newfood: [],
                newexercise: [],
                newregimen: [],
            },
            methods: {
                //呼叫php程式，取回相關資料，並用json()轉回一般陣列
                get_info: async function () {
                    const res = await fetch('./php/allInfoData.php', {}).then(function (data) {
                        return data.json();
                    });
                    // 取回res值後，呼叫另一隻函式
                    this.infos = res;
                },
                get_level: async function () {
                    const res = await fetch('./php/getMLevel.php', {}).then(function (data) {
                        return data.json();
                    });
                    // 取回res值後，呼叫另一隻函式
                    this.mLevel = res;
                },
                getId(key){

                    sessionStorage.setItem("infoNo", key+1);

                },
            },
            computed: {
                filteredinfos: function(){
                    if (this.visibility == 'all') {
                        return this.infos;
                    }else if (this.visibility == 'food') {
                        var newfood = [];
                        this.infos.forEach(function (value){
                            if ((value.infoType) === '1') {
                                newfood.push(value);
                            }
                        })
                        return newfood;
                    }else if (this.visibility == 'exercise') {
                        var newexercise = [];
                        this.infos.forEach(function (value){
                            if ((value.infoType) === '2') {
                                newexercise.push(value);
                            }
                        })
                        return newexercise;
                    }else if (this.visibility == 'regimen') {
                        var newregimen = [];
                        this.infos.forEach(function (value){
                            if ((value.infoType) === '3') {
                                newregimen.push(value);
                            }
                        })
                        return newregimen;
                    }
                    return this.infos;
                }
            },
            // template 渲染前 會先去執行以下函式
            created() {
                this.get_info();
            },
            mounted() {    
            }, 
        })

        fetch("./php/getInfoNo.php").then(res => res.json())
        .then(data => {
            vm.infos = data;
            for(let i=0 ; i<data.length ; i++){
                let url = `./php/getInfoNo.php?infoNo=${data[i].infoNo}`;
                vm.infos[i].url = url;
                // console.log(vm.vm.infos[i].url);
            }
        });

    </script>
</body>
</html>