<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALORIES SEARCH</title>
    <link rel="stylesheet" href="./css/common/all.css">
    <link rel="stylesheet" href="./css/common/search.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js" defer></script>
    
    <link rel="icon" href="./img/logo.ico" type="image/x-icon">

    <script src="./js/header.js" defer></script>
    <script src="./js/search.js" defer></script>
    <script src="./js/header_customSelect.js" defer></script>


</head>
<body>
    @@include('./layout/header.html')
    <main id="app">
        <div 
            id="food_page" 
            class="tab-inner" 
            v-show="isFoodState">

            <div id="create_box">se
                <div>
                    <div><img src="./icon/checked.svg">Added to customized food</div>
                    <div>
                        <button id="cancel_create">Return</button>
                        <a href="Cal_Diary.html"><button id="continus_create">Record diary</button></a>
                    </div>
                </div>
            </div>
            <div class="top">
                <div class="overflow_hidden">
                    <div class="banner"></div>
                </div>
                <div class="tab_title">
                    <div 
                        class="food">
                        FOOD
                    </div>
                    <div 
                        id="exercise"
                        @click="toggleSearchBody">
                        EXERCISE
                    </div>
                </div>

                <form id="search_bar_f" class="col-4 col-lg-2 col-md-2 col-sm-1">
                    <div class="search-input">

                        <input 
                            type="search" 
                            v-model="foodSearch" 
                            placeholder="SEARCH WHAT YOU TOOK"
                            @keyup="filterData">

                    </div>
                    <div 
                        class="custom-select"
                        @click="typeSelect">

                        <select name="sType">
                            <option>ALL</option>
                            <option>ALL</option>
                            <option>FT. SHOP</option>
                            <option>RICE</option>
                            <option>NOODLES</option>
                            <option>MEAT</option>
                            <option>FRUIT & VEG</option>
                            <option>FRIED</option>
                            <option>DESSERT</option>
                            <option>DRINK</option>
                            <option>CUSTOMIZED</option>
                        </select>
                    </div>
                    <button class="nc-btn o-5" @click="selectFType ='search'">
                        <img src="./icon/search_magnifier.png">
                    </button>  
                </form>
                
            </div>
            <div class="middle">
                <div>Create You Own Food, Record It!</div>
                <input type="text" placeholder="FOOD NAME">
                <input type="text" placeholder="CAL / PER SERVING">
                <div class="create">
                    <button id="create">
                        <img src="./icon/add_black.png">
                        CREATE
                    </button>  
                </div>
            </div>
            <div class="bottom">
                <div class="result_number"><h6>Result Of {{filterText}}( {{count}} Items)</h6></div>
                <div class="result_items">

                    <a 
                        href="Cal_Diary.html" 
                        v-for="(value,key) in foodData"
                        :data-type="value.fdType">
                        <div class="cal_card">

                            <div class="cal_title">
                                <div>{{value.fdName}}</div>
                                <img src="./icon/add_food.png">
                            </div>

                            <h5>{{value.fdCalPer}}</h5>
                            <div class="cal">Cal / Per Serving</div>
                        </div>
                    </a>
                </div>
                <div class="pagination">
                    <!-- <ul>
                        <li v-bind:class="{'disabled': (currPage === 1)}" 
                          @click.prevent="setPage(currPage-1)"><a href="#"><img src="./icon/left-arrow.svg" alt=""></a></li>
                        <li v-for="n in totalPage"
                          v-bind:class="{'active': (currPage === (n+1))}" 
                          @click.prevent="setPage(n+1)"><a href="#">{{n+1}}</a></li>
                        <li>/</li>
                        <li v-for="n in totalPage"
                          v-bind:class="{'active': (currPage === (n+1))}" 
                          @click.prevent="setPage(n+1)"><a href="#">totalPage</a></li>
                        <li v-bind:class="{'disabled': (currPage === totalPage)}" 
                          @click.prevent="setPage(currPage+1)"><a href="#"><img src="./icon/right-arrow.svg" alt=""></a></li>
                    </ul> -->
                </div>
            <!-- <div class="load">load more +</div>                 -->
            </div>
        </div>
<!-- 以下是運動分頁 -->
        <div 
            id="exercise_page" 
            class="tab-inner" 
            v-show="!isFoodState">

            <div class="top">
                <div class="overflow_hidden">
                    <div class="banner"></div>
                </div>
                <div class="tab_title">
                    <div 
                        id="food"
                        @click="toggleSearchBody">
                        FOOD
                    </div>
                    <div 
                        class="exercise">
                        EXERCISE
                    </div>
                </div>
                <form id="search_bar_e" class="col-4 col-lg-2 col-md-2 col-sm-1">
                    <div class="search-input">

                        <input 
                            type="search" 
                            placeholder="SERACH"
                            v-model="sportSearch"
                            @input="filterData">

                    </div>
                    <div 
                        class="custom-select" 
                        @click="typeSelect">
                        <select name="sType">
                            <option value="0">ALL</option>
                            <option value="0">ALL</option>
                            <option value="1">LOW</option>
                            <option value="2">MEDIUM</option>
                            <option value="3">HIGH</option>
                        </select>
                    </div>
                    <button class="nc-btn o-5">
                        <img src="./icon/search_magnifier.png" alt="">
                    </button>  
                </form>
                
            </div>
            <div class="bottom">
                <div class="result_number"><h6>RESULT OF 球(5 ITEMS)</h6></div>
                <div class="result_items">

                    <a
                        href="Cal_Diary.html"
                        v-for="(value,key) in sportData"
                        :data-type="value.spType">

                        <div class="cal_card">
                            <div class="cal_title">
                                <div>{{value.spName}}</div>
                                <img src="./icon/add_exercise.png">
                            </div>
                            <h5>{{value.spCalPer}}</h5>
                            <div class="cal">Cal / 30 Minutes Per Kg</div>
                        </div>
                    </a>

                </div>
                <div class="load">load more +</div>
            </div>
        </div>

    </main>
    @@include('./layout/footer.html')
    


</body>
</html>