<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/common/shop.css">
    <link rel="icon" href="../img/logo.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <script src="./js/header.js" defer></script>
    <title>SHOP</title>
</head>
<body>
    @@include('./layout/header.html')
    @@include('./layout/cart.html')
    <div class="banner">
        <h4>Fitness starts with what you eat.</h4>
        <img src="./img/banner.jpeg">
    </div>
    
    <div class="productAll">
            <div class="products" id="app">
                <div class="filterAll">  
                    <div class="choose">
                        <p>FILTER</p>
                        <img src="./img/filter-filled-tool-symbol.png">
                    </div>
                    <div class="chooseall" @click="display">     
                        <div class="typearrow">
                            <p>TYPE</p>
                            <!-- <img src="./img/arrow-down-sign-to-navigate.png">
                            <img class="arrowwhite" src="./img/arrow_white.png"> -->
                        </div>
                        <form>
                            <div class="filter">
                                <input class="custom" type="radio" name="type" id="all" @change="filter" checked >
                                <label class="orange cus4" for="all">ALL</label>
                            </div>
                            <div class="filter">
                                <input class="custom" type="radio" name="type" id="gain" @change="filter" >
                                <label class="orange cus1" for="gain">GAIN WEIGHT</label>
                            </div>
                            <div class="filter">
                                <input class="custom" type="radio" name="type" id="lose" @change="filter">
                                <label class="orange cus2" for="lose">LOSE WEIGHT</label>
                            </div>
                            <div class="filter">
                                <input class="custom" type="radio" name="type" id="regimen" @change="filter">
                                <label class="orange cus3" for="regimen">REGIMEN</label>
                            </div>
                    </form>
        
                        <div class="ourarrow">
                                <p>OUR PRODUCTS</p>
                                <!-- <img src="./img/arrow-down-sign-to-navigate.png">
                                <img class="arrowwhite" src="./img/arrow_white.png"> -->
                        </div>
        
                        <form>     
                            <div class="filter1">
                                <input class="custom"  type="radio" name="type" id="alls" @change="filter1" checked>
                                <label class="orange" for="alls">ALL</label>
                            </div>
                            <div class="filter1">
                                <input class="custom" type="radio" name="type" id="cereal" @change="filter1">
                                <label class="orange" for="cereal">CEREAL</label>
                            </div>
                            <div class="filter1">
                                <input class="custom" type="radio" name="type" id="crackers" @change="filter1">
                                <label class="orange" for="crackers">CRACKERS</label>
                            </div>
                            <div class="filter1">
                                <input class="custom" type="radio" name="type" id="energy" @change="filter1">
                                <label class="orange" for="energy">ENERGY BAR</label>
                            </div>
                        </form>
                   </div>  
                </div>   
                <div class="custom-select sort" style="width:200px;">
                    <select>
                      <option value="0">SORT BY</option>
                      <option value="1">POPULAR</option>
                      <option value="2">NEW ARRIVAL</option>                     
                    </select>
                  </div>
                <ul>
                    <cart :item="prod" v-for="(prod,index) in products"></cart>
                    <!-- <li class="prod1" v-for="(item,index) in products" :data-type="item.prodType" :data-rate="item.calRate" :data-no="item.prodNo"> 
                        <a v-bind:href="item.url" @click="prodInfo(index)">   
                            <div class="bg" v-bind:style="item" v-if="item.calRate > 1" style="backgroundColor:#bf4659">
                                <img v-bind:src="item.prodpic1">
                            </div>
                            <div class="bg" v-bind:style="item" v-else-if="item.calRate < 1" style="backgroundColor:#2d6ca6">
                                <img v-bind:src="item.prodpic1">
                            </div>
                            <div class="bg" v-bind:style="item" v-else-if="item.calRate = 1" style="backgroundColor:#f9c530">
                                <img v-bind:src="item.prodpic1">
                            </div>
                            <div class="prodinfo">
                                <p>{{item.fdName}}</p>
                                <p v-if="item.calRate > 1">  Get 150% Cal Plus</p>
                                <p v-else-if="item.calRate < 1">  Consume 50% Cal</p>
                                <p v-else> </p>
                                <p>NT${{item.price}}</p> 
                            </div>
                        </a>
                            <button class="byn" @click="buy">BUY NOW</button>   
                    </li> -->
                </ul>
            </div>
   </div>
    <script>
        Vue.component("cart", {
            props: ["item"],
            template: `
                        <li class="prod1" :data-type="item.prodType" :data-rate="item.calRate" :data-no="item.prodNo"> 
                                    <a v-bind:href="item.url" @click="prodInfo">   
                                        <div class="bg" v-bind:style="item" v-if="item.calRate > 1" style="backgroundColor:#bf4659">
                                            <img v-bind:src="item.prodpic1">
                                        </div>
                                        <div class="bg" v-bind:style="item" v-else-if="item.calRate < 1" style="backgroundColor:#2d6ca6">
                                            <img v-bind:src="item.prodpic1">
                                        </div>
                                        <div class="bg" v-bind:style="item" v-else-if="item.calRate = 1" style="backgroundColor:#f9c530">
                                            <img v-bind:src="item.prodpic1">
                                        </div>
                                        <div class="prodinfo">
                                            <p>{{item.fdName}}</p>
                                            <p v-if="item.calRate > 1">  Get 150% Cal Plus</p>
                                            <p v-else-if="item.calRate < 1">  Consume 50% Cal</p>
                                            <p v-else> </p>
                                            <p>NT\${{item.price}}</p> 
                                        </div>
                                    </a>
                                        <button class="byn" @click="buy">BUY NOW</button>   
                                </li>
                        `,
            data(){
            },
            methods: {
                buy(e){
                        const displayArea = document.querySelector('.prod');
                        const vthis = this;
                        const cart = document.querySelector(".cart");
                        cart.classList.add("opencart");
                        let localProduct = JSON.parse(localStorage.getItem("localProduct")) || [];
                        function display(){
            
                            function update(){
                                localStorage.setItem('localProduct', JSON.stringify(localProduct));
                            }
                            //在購物車創造元素
                            function displayProduct(product){
                                displayArea.innerHTML += `
                                                        <li class="prodcart" data-no="${product.no}">
                                                        <p>${product.name}</p>
                                                        <div class="cartimg">
                                                            <img src="${product.src}"> 
                                                        </div>
                                                        <img class="trash" src="./img/trash.png">
                                                        <div class="qty">
                                                            <form>
                                                                <label for="quantity">QUANTITY : </label>
                                                                <div class="btn_number">
                                                                    <span class="btn_minus"> &minus; </span>
                                                                    <input type="number" value="${product.value}" min="1" max="10" class="quantity">
                                                                    <span class="btn_add">  &plus; </span>
                                                                </div>                    
                                                            </form> 
                                                            <p>NT$${product.price}</p>
                                                            </div>
                                                            </li>  
                                                            `;
                                                        }
                            //更新localStorage資料
                            function update(){
                                localStorage.setItem('localProduct', JSON.stringify(localProduct));
                            }
                            //加入購物車的商品資料
                            let product = {
                                name: vthis.item.fdName,
                                price : vthis.item.price,
                                src : vthis.item.prodpic1,
                                value: e.target.parentNode.children[1].value + 1,
                                no : vthis.item.prodNo,
                            }

                            //判斷是否為加入過的商品
                            if(localProduct.length === 0){
                                localProduct.push(product)
                                displayProduct(product)
                                console.log("object");
                            }else{
                                for(let i=0 ; i<localProduct.length ; i++){
                                    if(localProduct[i].no == product.no){
                                        return 
                                        // alert("已加入過購物車")
                                        // localProduct[i].value++
                                        // displayArea.children[i].children[3].children[0].children[1].children[1].value = localProduct[i].value
                                    }else if(localProduct[localProduct.length-1].no !== product.no){
                                        // console.log("ji");
                                        localProduct.push(product)
                                        displayProduct(product)
                                        update(product)
                                    }
                                }
                            }
                            update(product)
                        }
                        display()

                    const btn_add = document.querySelectorAll(".btn_add");
                    const btn_minus =document.querySelectorAll(".btn_minus");
                    const quantity = document.querySelectorAll(".quantity");
                    //按加號
                    btn_add.forEach((add,index) => add.addEventListener("click",function(){
                        quantity[index].stepUp(1);
                        localProduct[index].value = quantity[index].value;
                        quantity[index].setAttribute('value',localProduct[index].value);
                        localStorage.setItem('localProduct', JSON.stringify(localProduct));
                        total()
                    }));
                    //按減號
                    btn_minus.forEach((minus,index) => minus.addEventListener("click",function(){
                        quantity[index].stepDown(1);
                        localProduct[index].value = quantity[index].value;
                        quantity[index].setAttribute('value',localProduct[index].value);
                        localStorage.setItem('localProduct', JSON.stringify(localProduct));
                        total()
                    }));
                    //點按 X 刪除鍵
                    displayArea.addEventListener('click', event =>{
                        if(event.target.className !== 'trash') {return}
                        const li = event.target.parentElement
                        console.log(li);
                        li.remove(); //刪除畫面裡購物車的東西

                        //刪除localStorage裡的東西
                        for(let i = 0; i <localProduct.length; i++){
                            if(li.dataset.no == localProduct[i].no){
                                // console.log("object");
                                localProduct.splice(i,1);
                                break;
                            }
                        }
                        //更新localStorage
                        total();
                        localStorage.setItem('localProduct', JSON.stringify(localProduct));

                    });
                    //total
                    function total(){
                        let subtotal = 0;
                        const total = document.querySelector(".allprice p span");
                        for(let i =0; i<localProduct.length ; i++){
                            let item = localProduct[i];
                            subtotal += (item.price * item.value);
                        }
                        total.innerText = subtotal;
                    }
                    total()
                },
                prodInfo(e){
                        sessionStorage.setItem("no",parseInt(this.item.prodNo));
                    },

            }
        })
        let vm = new Vue({
            el:"#app",
            data:{
                products:[],
                value:[],
                // products: [{
                //     img: "./img/prod1.png",
                //     backgroundColor: "#2d6ca6",
                //     name: "ALMONDS BAR (CONSUME 0.5 cal)",
                //     price:"NT$250",
                // },
                // {
                //     img: "./img/prod2.png",
                //     backgroundColor: "#f9c530",
                //     name: "BANANA BAR",
                //     price:"NT$300",
                // },
                // {
                //     img: "./img/prod3.png",
                //     backgroundColor: "#bf4659",
                //     name: "STRABERRY BITES (PLUS 1.5 cal)",
                //     price:"NT$230",
                // },
                // {
                //     img: "./img/prod4.png",
                //     backgroundColor: "#2d6ca6",
                //     name: "COCO ALMONDS (CONSUME 0.5 cal)",
                //     price:"NT$250",
                // },
                // {
                //     img: "./img/prod5.png",
                //     name: "ENERGY BALL",
                //     backgroundColor: "#f9c530",
                //     price:"NT$200",
                // },
                // {
                //     img: "./img/prod1.png",
                //     name: "ALMONDS BAR (CONSUME 0.5 cal)",
                //     backgroundColor: "#2d6ca6",
                //     price:"NT$250",
                // },]
                },
                methods:{
                    buy(e){
                        const cart = document.querySelector(".cart");
                    //     cart.classList.add("opencart");
                    //     let localProduct = JSON.parse(localStorage.getItem("localProduct")) || [];

                    //     function display(){
                    //         const display = document.querySelector('.prod');

                    //         //顯示新增的項目
                    //         function show(){
                    //             localProduct.forEach(product=> displayProduct(product));
                    //         }
                    //         //在購物車創造元素
                    //         function displayProduct(item){
                    //             display.innerHTML += `
                    //                                     <li class="prodcart">
                    //                                         <p>"${item.product}"</p>
                    //                                         <div class="qty">
                    //                                                 <p>${item.value}</p> 
                    //                                                 <p>${item.price}</p>
                    //                                         </div>
                    //                                         <div class="cartimg">
                    //                                             <img src="${item.src}"> 
                    //                                         </div>
                    //                                         <img class="trash" src="./img/trash.png">
                    //                                     </li>
                    //                                     `
                    //             //按 +-按鈕value增加/減少
                    //             const plus = document.querySelector('.plus');
                    //             const minus = document.querySelector('.minus');

                    //             function plusValue(e){
                    //                 this.parentNode.children[1].stepUp(1);
                    //                 for(let i=0; i<localProduct.length; i++){
                    //                     if(e.target.parentElement.parentElement.parentElement.children[0].innerText === localProduct[i].product){
                    //                         let newValue = e.target.parentElement.children[1].value;
                    //                         localProduct[i].value = newValue;
                    //                         update() ;
                    //                         total();
                    //                         break;
                    //                     }
                    //                 }
                    //             }
                    //             function minusValue(e){
                    //                 this.parentNode.children[1].stepDown(1);
                    //                 for(let i = 0; i <localProduct.length; i++){
                    //                     if(e.target.parentElement.parentElement.parentElement.children[0].innerText === localProduct[i].product){
                    //                         let newValue = e.target.parentElement.children[1].value;
                    //                         localProduct[i].value = newValue;
                    //                         update();
                    //                         total();
                    //                         break;
                    //                     }
                    //                 }
                    //             }
                    //             plus.forEach(plus =>plus.addEventListener("click",plusValue));
                    //             minus.forEach(minus =>minus.addEventListener("click",minusValue));
                    //         }

                    //         //更新localStorage資料
                    //         function update(){
                    //             localStorage.setItem('localProduct', JSON.stringify(localProduct));
                    //         }
                    //         show();

                    //         //按 add to cart 新增清單
                    //             let item ={
                    //                 src: e.target.parentNode.children[0].children[0].children[0].src,
                    //                 product: e.target.parentNode.children[1].children[0].innerText,
                    //                 price: e.target.parentNode.children[1].children[1].dataset.price,
                    //                 value: e.target.parentNode.dataset.value
                    //             }
                                
                    //             displayProduct(item)
                                
                    //             localProduct.push(item)

                    //             update(item)

                    //             total()

                    //         //點按 X 刪除鍵
                    //         displayArea.addEventListener('click', event =>{
                    //             if(event.target.tagName !== 'SPAN') {return}
                    //             const li = event.target.parentElement
                    //             li.remove();
                    //             for(let i = 0; i <localProduct.length; i++){
                    //                 if(li.children[1].children[0].textContent === localProduct[i].product){
                    //                     localProduct.splice(i,1);
                    //                     break;
                    //                 }
                    //             }
                    //             total()
                    //             update()
                    //         });

                    //         // 更新total的值
                    //         function total() {
                    //             let subtotal = 0;
                    //             const total = document.querySelector(".total h3 span");
                    //             for(let i =0; i<localProduct.length ; i++){
                    //                 let item = localProduct[i];
                    //                 subtotal += (item.price * item.value);
                    //             }
                    //             total.innerText = subtotal;
                    //         };
                    //         total();
                    //     }
                    //     display();

                    },
                    filter(e){
                        const prod1 = document.querySelectorAll(".prod1");
                        for(var i = 0; i<prod1.length; i++){
                            switch (e.target.nextSibling.nextSibling.innerText){
                                case "ALL":
                                     prod1[i].style.display = "block"
                                break
                                case "GAIN WEIGHT":
                                    if(parseFloat(prod1[i].dataset.rate) > 1){
                                         prod1[i].style.display = "block"
                                    }else{
                                         prod1[i].style.display = "none"
                                    }
                                break

                                case "LOSE WEIGHT":
                                    if(parseFloat(prod1[i].dataset.rate) < 1){
                                        prod1[i].style.display = "block"
                                    }else {
                                        prod1[i].style.display = "none"
                                    }
                                break

                                case "REGIMEN":
                                    if(parseFloat(prod1[i].dataset.rate) == 1 ){
                                        prod1[i].style.display = "block"
                                    }else {
                                        prod1[i].style.display = "none"
                                } 
                            } 
                        }
                    },
                    filter1(e){
                        const prod1 = document.querySelectorAll(".prod1");
                        for(var i = 0; i<prod1.length; i++){
                            switch (e.target.nextSibling.nextSibling.innerText){
                                case "ALL":
                                     prod1[i].style.display = "block"
                                break
                                case "CEREAL":
                                    if(prod1[i].dataset.type == "1"){
                                         prod1[i].style.display = "block"
                                    }else{
                                         prod1[i].style.display = "none"
                                    }
                                break
                                case "CRACKERS":
                                    if(prod1[i].dataset.type == "2"){
                                         prod1[i].style.display = "block"
                                    }else{
                                         prod1[i].style.display = "none"
                                    }
                                break
                                case "ENERGY BAR":
                                    if(prod1[i].dataset.type == "3"){
                                         prod1[i].style.display = "block"
                                    }else{
                                         prod1[i].style.display = "none"
                                    }
                                break
                            }
                        }
                    },
                    display(e){
                        console.log(e.target);
                    }
                },
        });             





        //資料庫
        fetch("./php/getAllProduct.php").then(res => res.json())
                                     .then(data => {
                                        vm.products = data;
                                        for(let i=0 ; i<data.length ; i++){
                                        let url = `./product.html?id=${data[i].prodNo}`;
                                        vm.products[i].url = url;
                                        // console.log(vm.products[i].url);
                                        }
                                     });
        //最新商品    
        // fetch("./php/newArrival.php").then(res => res.json())
        //                              .then(data => {
        //                              vm.products = data;
        //                             //  console.log(vm.products);
        //                              });
        // //暢銷商品
        // fetch("./php/popularProduct.php").then(res => res.json())
        //                              .then(data => {
        //                                 vm.products = data;
        //                                 // console.log(vm.products);
        //                              });
        

    </script>
        @@include('./layout/footer.html')
    <script src="./js/cart.js"></script>
    <script src="./js/buy.js"></script>
    <script src="./js/header_customSelect.js" defer></script>
    <!-- <script src="./js/shop.js"></script> -->
</body>
</html>