

.postWall{
    .person{
        div.comment {
            position: absolute;
            z-index: 2;
            background-color: $white;
            top: 20%;
            left: 20%;
            width: 25vw;
            padding: 20px;
        
            .topBody {
                display: flex;
                justify-content: space-between;
                align-content: center;
                > :first-child {
                    display: flex;
                    .face {
                        height: 50px;
                        width: 50px;
                        border-radius: 100%;
                        overflow: hidden;
                        border: 1px solid $white;
                        box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
                        margin-right: 20px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
        
                    }
                    > :nth-child(2) {
                  
                        .name {
                            font-weight: 900;
                        }
                        .releaseDate {
                            font-size: 12px;
                            opacity: 0.8;
                        }
                    }
                }
        
                >:last-child{
                    .report{
                        opacity: .5;
                    }
                }
            }
            .middleBody {
                border-bottom: 1px solid $gray5;
                margin-top: 15px;
                article {
                    width: 100%;
                    border-radius: 10px;
                    overflow: hidden;
                }
                .commentNum {
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 10px;
                    p {
                        font-size: 12px;
                        color: $gray5;
                        text-transform: uppercase;
                    }
                }
            }
        
            .bottomBody {
                display: flex;
                margin-top: 5px;
                justify-content: space-between;
                position: relative;
                button {
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    opacity: 0.6;
                    img {
                        margin-right: 10px;
                    }
                }
                .share{
                    position: relative;
                    .social{
                        opacity: 1;
                        position: absolute;
                        width: 100%;
                        top: 30px;
                        right: 0;
                        padding: 10px;
                        background-color: $white;
                        flex-wrap: wrap;
                        box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.2);

                        display: none; //使用flex
                        >button{
                            display: flex;
                            justify-content: center;
                            width: 100%;
                            margin: 5px 0;
                            img{
                                opacity: .5;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

