 .cart{
     background-color:#889674;
     max-width: 400px;

     height: calc(100vh - 80px );
     top: 80px;
     position: fixed;

     right:-100%;
     transition: all 1s;
     z-index: 15;
    //  display:none;
    overflow-x: hidden;
     *{
         color: white;
     }
     .yourcart{
         display: flex;
         h5{
            margin: 20px 35px;
            // border: 1px solid #000;
        }
        p{
            font-size: 20px;
            position: absolute;
            right: 25px;
            top: 25px;
            cursor: pointer;
        }
     }
        
        .prod{
            // display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;

            .prodcart{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                // border: 1px solid #000;
                p{
                    width: 200px;
                    margin: 15px 20px;
                    // border: 1px solid #000;

                }    
                .qty{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    width:100%;
                    margin-left: 30px;
                    form{
                        // border: 1px solid #000;
                        width: 250px;
                        label{
                            font-size: 16px;
                        }
                        .quantity{
                            outline: none;
                            border: none;
                            width: 50px;
                            text-align: center;
                            background-color: transparent;
                            border-bottom: 2px solid white;
                            margin: 10px;
                            padding-bottom: 3px;
                            text-align: center;
                        }
                        .btn_number{
                            display: inline-block;
                            // border-bottom: 1px solid gray;
                            padding: 5px 15px 5px 15px;
                            
                            
                        }
                        span{
                            font-size: 20px;
                            cursor: pointer;
                            text-align: center;
                            // border: 1px solid gray;
                        }
                       
                    }
                    p{
                        // border: 1px solid #000;
                        margin-left: 0px;
                    }
                }  
            }
            .cartimg{
                width:20%;
                // border: 1px solid #000;
                text-align: center;
                img{
                    width: 70%;
                }
            }
            .trash{
                width: 20px;
                height: 20px;
                cursor: pointer;
                vertical-align: middle;
                margin-right:10px;
            }
         
        }    
        .allprice{
            text-align: center;
            .line{
                border: 1px solid rgba(238, 238, 238, 0.349);
                width: 100%;
            }
            p{ 
                margin: 20px;
                font-size: 20px;
                font-weight: bold;
            }
        }
        .checkout{
            text-align: center;
            button {
                @include btnStyle();
                width: 150px;
                text-align: center;
             }
        }
  }
.opencart{  //新增class展開購物車
    right: 0;
    transition: all 0.8s;
    display:block;
} 


@media (max-width: 992px) {
    .cart{
        max-width: 100%;
        width: 100%;

        height: calc(100vh - 62px );
        top: 62px;
    }
}