#chatRobot {
    position: fixed;
    right: 70px;
    z-index: 2;

    width: 50px;
    height: 50px;
    background-color: $primary-l;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid $white;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
    img {
        transform: scale(0.8) translate(5px, 0);
    }
    > .chatRoomBody {
        position: absolute;
        cursor: initial;
        transform: translate(-85%, -100%);
        width: 400px;
        padding: 0;
        background-color: $primary-l;

        > div {
            padding: 20px;
        }
        > :first-child {
            display: flex;
            width: 100%;
            justify-content: space-between;
            border-bottom: 1px solid $black;
            > p,
            button {
                font-size: 14px;
            }
        }
        > :nth-child(2) {
            height: 350px;
            overflow-y: auto;
            border-bottom: 1px solid $black;

            > div {
                margin-bottom: 10px;
            }

            > .admin {
                display: flex;
                > img {
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    transform: scale(0.8) translate(5px, 0);
                    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
                }
                > .message {
                    position: relative;
                    margin-left: 20px;
                    padding: 10px;
                    background-color: $white;
                    border-radius: 10px;

                    > p {
                        font-size: 14px;
                    }
                    &:before {
                        content: '';
                        left: -18px;
                        position: absolute;
                        border: 10px solid transparent;
                        border-color: transparent $white transparent transparent;
                    }
                }
            }

            > .visitor {
                display: flex;
                justify-content: flex-end;
                > .message {
                    position: relative;
                    margin-left: 20px;
                    padding: 10px;
                    background-color: rgb(235, 187, 75);
                    border-radius: 10px;
                    > p {
                        font-size: 14px;
                    }
                    &:before {
                        content: '';
                        right: -18px;
                        position: absolute;
                        border: 10px solid transparent;
                        border-color: transparent transparent transparent rgb(235, 187, 75);
                    }
                }
            }
        }

        > :last-child {
            padding: 20px;
            display: flex;
            textarea {
                font-size: 16px;
                resize: none;
                outline: none;
                border: none;
                background-color: $primary-l;
                color: $black;
                flex-grow: 2;
            }
            button {
                text-transform: uppercase;
                border-radius: 10px;
                margin: 0;
                background-color: $primary-l;
            }
        }
    }

    > .bodynone {
        display: none;
    }
}


@include rwd(1120px){
    .mainContent{
        div:last-child #chatRobot{
            right: 10%;
            
        }
    }

    .mainContent > div:last-child #chatRobot{
        z-index: 3;
        >.chatRoomBody{
            height: 100vh;
            width: 100vw;
            margin: 0;
            z-index: 80;
            border-radius: 0;
            background-color: $primary-l;
            left: 0;
            top: 0;
            transform: none;
            position: fixed;
            >:nth-child(2){
                height: 72vh;
            }
        }
    } 
}