
//套件的loading
//////////////////////////////////////////////////////
@keyframes ldio-2gn8nvj94zp {
    0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 18px;
      left: 18px;
      width: 156px;
      height: 156px;
      opacity: 0;
    }
}

.vld-overlay{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

.ldio-2gn8nvj94zp div {
    top: 0;
position: fixed;
border-width: 4px;
border-style: solid;
opacity: 1;

border-radius: 50%;
animation: ldio-2gn8nvj94zp 1s cubic-bezier(0,0.2,0.8,1) infinite;
}

.ldio-2gn8nvj94zp div:nth-child(1) {
border-color: #1d3f72
}

.ldio-2gn8nvj94zp div:nth-child(2) {
border-color: #5699d2;
animation-delay: -0.5s;
}

.loadingio-spinner-ripple-wu44vrvts1 {
width: 100vw;
height: 100vh;
display: inline-block;
overflow: hidden;
position: relative;

/*  background 設定 none  */
background-color: $primary-l;
}
.ldio-2gn8nvj94zp {
width: 50px;
height: 50px;
display: inline-block;
position: absolute;
/*   transform: translateZ(0) scale(1); */
left: 50%;
top: 50%;
transform: translate(-200% ,-200%);
backface-visibility: hidden;
transform-origin: 0 0; /* see note above */
}
.ldio-2gn8nvj94zp div { box-sizing: content-box; }
/* generated by https://loading.io/ */
//套件的loading
//////////////////////////////////////////////////////