.moreproduct {
    margin-top: 300px;
    margin: 0 auto;
   //  border: 1px solid #000;
   h6{
       margin-left: 100px;
       // border: 1px solid #000;

   }  
    
   ul{
       display: flex;
       
       li {
           width: 18%;
           border-radius: 90px;
           margin-left: 100px;
           margin-top: 50px;
           justify-content: center;

           // border: 1px solid #000;
           a{
               color:black;
               text-decoration: none;
           }
           //按鈕
           button {
               @include btnStyle();
               width: 150px;
               text-align: center;
               margin-left: 30px;
           }
           .prodinfo{
               margin: 15px 0 15px 0;
               font-weight: bold;
               button{
                   margin-top:20px;
               }
           }
           &.prod1 {
               .bg{
                   background-color: #2d6ca6;
                   position: relative;
                   text-align: center;
                   max-width: 230px;
                   border-radius: 200px;
                   img{
                   width: 65%;
                   } 
               }
               
           }     
           &.prod2 {           
               .bg{
                   position: relative;
                   text-align: center;
                   max-width: 230px;
                   border-radius: 200px;
                   background-color: #f9c530;
                   margin-top: 90px;
                   img{
                   width: 50%;
                   }
               }    
           }   

           &.prod3 {        
               .bg{
                   position: relative;
                   text-align: center;
                   max-width: 230px;
                   border-radius: 200px;
                   background-color: #bf4659;
                   img{
                   width: 65%;             
                   } 
               }
           
           }   
           &.prod4 {
               .bg{
                   position: relative;
                   text-align: center;
                   max-width: 230px;
                   border-radius: 200px;
                   background-color: #2d6ca6;
                   margin-top: 90px;
                   img{
                   width: 75%;
                   }
               }
               
           } 
           &.prod5 {
               .bg{
                   position: relative;
                   text-align: center;
                   max-width: 230px;
                   border-radius: 200px;
                   background-color: #f9c530;
                   img{
                           width: 70%;  
                       }
               }    
           } 
       }
   }
}


