<div class="aside">
    <div class="logo">
        <img src="./img/logo.png">
    </div>
    <div class="menu">
        <!-- <div class="admin">
            <img src="./icon/backend_admin.png">
            <div class="admin_name" id="admin_name"></div>
        </div> -->
        <ul>
            <li>
                <a href="./1_admin.html">ADMIN</a>
            </li>
            <li>
                <a href="./2_member.html">MEMBER</a>
            </li>
            <li>
                <a href="./3_caloriesitem.html">CALORIES ITEM</a>
            </li>
            <li>
                <a href="./4_order.html">ORDER</a>
            </li>
            <li>
                <a href="./5_product.html">PRODUCT</a>
            </li>
            <li>
                <a href="./6_point.html">POINT</a>
            </li>
            <li>
                <a href="./7_report.html">REPORT</a>
            </li>
            <li>
                <a href="./8_healthnews.html">HEALTH NEWS</a>
            </li>
            <li>
                <a href="./9_chatbot.html">CHATBOT</a>
            </li>
        </ul>
        <a id="logout">
            <div class="logout">
                <img src="./icon/backend_logout.svg">
                <div>Log out</div>
            </div>
        </a>
    </div>
</div>