<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/common/all.css">
    <link rel="stylesheet" href="./css/common/B_all.css">
    <link rel="icon" href="./img/logo.ico" type="image/x-icon">
    <script src="./js/header.js" defer></script>
    <script src="./js/B_all.js" defer></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>   -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />