
<div class="cart">
    <div class="yourcart">
        <h5>Your Cart</h5>
        <p class="close">&times;</p>
    </div>
    <div class="prod">
        <div class="prodcart">
            <p>ALMONDS SALTED CHOCOLATE BAR</p>
            <div class="qty">
                    <p>QTY:1</p> 
                    <p>NT$250</p>
            </div>
        </div>
        <div class="cartimg">
            <img src="./img/prod1.png"> 
        </div>
        <img class="trash" src="./img/trash.png">
    </div>
    <div class="allprice">
        <div class="line"></div>
        <p>TOTAL : NT$ 250</p>
    </div>
    <div class="checkout">
        <a href="./mycart.html"><button>CHECK OUT</button></a>
    </div>
</div>