
<div class="cart">
    <div class="yourcart">
        <h5>Your Cart</h5>
        <p class="close">&times;</p>
    </div>
    <ul class="prod">
        <li class="prodcart">
            <p>ALMONDS SALTED CHOCOLATE BAR</p>
            <div class="cartimg">
                <img src="productImg/prod1.png"> 
            </div>
            <img class="trash" src="./img/trash.png">
            <div class="qty">
                <form>
                    <label for="quantity">QUANTITY : </label>
                    <div class="btn_number">
                        <span class="btn_minus"> &minus; </span>
                        <input type="number" name="quantity" id="quantity" value="1" min="1" max="10">
                        <span class="btn_add">  &plus; </span>
                    </div>                    
                </form> 
                    <p>NT$250</p>
            </div>
        </li>
        
    </ul>
    <div class="allprice">
        <div class="line"></div>
        <p>TOTAL : NT$ <span>250</span></p>
    </div>
    <div class="checkout">
        <a href="./mycart.html"><button>CHECK OUT</button></a>
    </div>
</div>