<div class="card comment">
    <div class="topBody">
        <div>
            <div class="face">
                <img src="./img/selfie.png" alt="" />
            </div>
            <div>
                <p class="name">Jose Young</p>
                <p class="releaseDate">2021-3-23</p>
            </div>
        </div>
        <div>
            <button class="nc-btn report">
                <img src="./icon/report.svg" alt="" />
            </button>
        </div>
    </div>

    <div class="middleBody">
        <article>
            <img src="./img/info2_3.jpg" />
        </article>
        <div class="commentNum">
            <p>100</p>
            <p>&ensp;comment</p>
        </div>
    </div>

    <div class="bottomBody">
        <button class="nc-btn comment"><img src="./icon/comment.svg" /> comment</button>
        <div class="share">
            <button class="nc-btn">
                <img src="./icon/share.svg" /> 
                share
            </button>
            <div class="social ">
                <button class="nc-btn">
                    <img src="./icon/twitter.svg">
                </button>
                <button class="nc-btn">
                    <img src="./icon/ig.svg">
                </button>
                <button class="nc-btn">
                    <img src="./icon/facebook.svg">
                </button>
            </div>
        </div>

    </div>
</div>