<header>
    <div class="row container">
        <div class="logo">
            <a href="./B_index.html">
                <img src="./img/logo.png" />
            </a>
        </div>

        <form id="searchBar">
            <div class="nc-btn closeForm">X</div>
            <div class="row">
                <div class="search-input">
                    <input type="text" placeholder="SERACH" id="searchInput" autocomplete="off" />
                    <div class="suggest-items">
                        <a class="custom-item">
                            customize food
                            <img src="./icon/add.svg" />
                        </a>
                    </div>
                </div>
                <div class="custom-select">
                    <select name="sType">
                        <option value="0">FOOD</option>
                        <option value="0">FOOD</option>
                        <option value="1">EXERCISE</option>
                    </select>
                </div>
                <button 
                    class="nc-btn o-5 submitBtn"
                    type="button">
                    <img src="./icon/magnifier.png" alt="" />
                </button>
            </div>
        </form> 

        <div class="row">
            <div>
                <button class="nc-btn phoneSearch">
                    <img src="./icon/magnifier.png" />
                </button>
            </div>

            <div>
                <a href="./member.html" class="a">
                    <span>MEMBER</span>

                    <img src="./icon/member.png" alt="" />
                </a>
            </div>
            <div class="nc">
                <button class="nc-btn gocart">
                    <span>CART</span>

                    <img src="./icon/cart.png" alt="" />
                </button>
            </div>

            <div>
                <button class="nc-btn menuIcon">
                    <span>MENU</span>

                    <img src="./icon/hamburger.png" alt="" />
                </button>
            </div>
        </div>
    </div> 

    <div class="menuBody">
        <button class="nc-btn">&times;</button>
        <ul>
            <li>
                <a href="./Cal_Diary.html">Calories diary</a>
            </li>
            <li>
                <a href="./search.html">Calories search</a>
            </li>
            <li>
                <a href="./shop.html">ft. shop</a>
            </li>
            <li>
                <a href="./index.html">post board</a>
            </li> 
            <li>
                <a href="./information.html">health news</a>
            </li>
            <li>
                <a href="./member.html">member</a>
            </li>
        </ul>
    </div>
</header>
