<header>

    <!-- <div class="searchWindow">
        <button class="close nc-btn">X</button>
        <form>
           <input type="search">
           <select name="type">
               <option value="FOOD">FOOD</option>
               <option value="EXERCISE">EXERCISE</option>
           </select>
           <button class="nc-btn">
               <img src="../icon/magnifier.png">
           </button>
        </form>
    </div> -->

    <div class="row container">
        <div class=" logo">
            <a href="./B_index.html">
                <img src="../img/logo.png" />
            </a>
        </div>

        <form id="searchBar" >
            <div class="nc-btn closeForm">X</div>
            <div class="row">
                <div class="search-input">
                    <input type="text" placeholder="SERACH" />
                    <div class="suggest-items">
                        <a class="search-item" href="">
                            <div>
                                <p>麥香魚餐</p>
                                <p><span>2400</span> cal</p>
                            </div>
                        </a>
                        <a class="search-item" href="">
                            <div>
                                <p>麥香魚餐</p>
                                <p><span>2400</span> cal</p>
                            </div>
                        </a>
                        <a class="search-item" href="">
                            <div>
                                <p>麥香魚餐</p>
                                <p><span>2400</span> cal</p>
                            </div>
                        </a>


                        <a class="custom-item" href=""
                            >customize food
                            <img src="./icon/add.svg" />
                        </a>
                    </div>
                </div>
                <div class="custom-select">
                    <select name="sType">
                        <option value="0">FOOD</option>
                        <option value="0">FOOD</option>
                        <option value="1">EXERCISE</option>
                    </select>
                </div>
                <button class="nc-btn o-5">
                    <img src="../icon/magnifier.png" alt="" />
                </button>
            </div>
        </form>

        <div class="row">
            <div>
                <button class="nc-btn phoneSearch">
                    <img src="../icon/magnifier.png" >
                </button>
            </div>

            <div >
                <a href="./member.html" class="a">
                    <span>MEMBER</span>
                    
                    <img src="../icon/member.png" alt="" />
                </a>
            </div>
            <div class="nc">
                <button class="nc-btn">
                    <span>CART</span>
                    
                    <img src="../icon/cart.png" alt="" />
                </button>
            </div>

            <div>
                <button class="nc-btn menuIcon">
                    <span>MENU</span>
                    
                    <img src="../icon/hamburger.png" alt="" />
                </button>
            </div>

         
        </div>
    </div>

    <div class="menuBody">
        <button class="nc-btn">
            <img src="../icon/close.svg" />
        </button>
        <ul>
            <li>
                <a href="./Cal_Diary.html">Calories diary</a>
            </li>
            <li>
                <a href="./search.html">Calories search</a>
            </li>
            <li>
                <a href="./shop.html">ft. shop</a>
            </li>
            <li>
                <a href="./forum.html">post board</a>
            </li>
            <li>
                <a href="./information.html">health news</a>
            </li>
            <li>
                <a href="./member.html">member</a>
            </li>
        </ul>
    </div>

</header>
 