<section class="moreproduct">  
    <h6>MORE FITNESS?</h6>  
    <ul>
        <li class="prod1">
            <a href="./product.html">   
                <div class="bg">
                     <img src="./img/prod1.png">
                </div>
                <div class="prodinfo">
                    <p>ALMONDS BAR</p>
                    <p>NT$250</p>
                    <button>BUY NOW</button>     
                </div>
             </a>   
        </li>
       <li class="prod2">
            <a href="./product.html">
                <div class="bg">   
                     <img src="./img/prod2.png">    
                </div>   
                <div class="prodinfo">
                    <p>BANANA BAR</p>
                    <p>NT$300</p>           
                    <button>BUY NOW</button>    
                </div>
            </a>     
        </li>
        <li class="prod3">
            <a href="./product.html">
                <div class="bg"> 
                    <img src="./img/prod3.png">
                </div>
                <div class="prodinfo">
                    <p>STRABERRY BITES</p>
                    <p>NT$230</p>
                
                    <button>BUY NOW</button> 
                </div> 
            </a>  
        </li>
        <li class="prod4">
            <a href="./product.html">
                <div class="bg">
                     <img src="./img/prod4.png">
                </div>
                <div class="prodinfo">
                    <p>COCO ALMONDS</p>
                    <p>NT$250</p>
                    <button>BUY NOW</button>  
                </div>
            </a>
        </li>
        <li class="prod5">
            <a href="./product.html">
                <div class="bg">
                    <img src="./img/prod5.png">
                </div>
                <div class="prodinfo">
                    <p>ENERGY BALL</p>
                    <p>NT$200</p>
                    <button>BUY NOW</button>  
                </div>
            </a>
        </li>
    </ul>
</section>