<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>    

<section class="moreproduct" id="moreproduct">  
    <ul>
        <li v-for="(more,index) in prods" class="prod1">  
            <a v-bind:href="more.url">   
                <div class="bg" v-bind:style="more" v-if="parseFloat(more.calRate) > 1" style="backgroundColor:#bf4659">
                    <img v-bind:src="more.prodpic1" @click.self="setId" :data-no="more.prodNo">
                </div>
                <div class="bg" v-bind:style="more" v-else-if="more.calRate < 1" style="backgroundColor:#2d6ca6">
                    <img v-bind:src="more.prodpic1" @click.self="setId" :data-no="more.prodNo">
                </div>
                <div class="bg" v-bind:style="more" v-else-if="more.calRate = 1" style="backgroundColor:#f9c530">
                    <img v-bind:src="more.prodpic1" @click.self="setId" :data-no="more.prodNo">
                </div>
                <div class="prodinfo">
                    <p>{{more.fdName}}</p>
                    <!-- <p v-if="more.calRate > 1">  Get 150% Cal Plus</p>
                    <p v-else-if="more.calRate < 1">  Consume 50% Cal</p>
                    <p v-else> </p> -->
                    <p>NT${{more.price}}</p>       
                </div>
            </a>   
        </li>
       <!-- <li class="prod2"> -->
            <!-- <a href="./product.html">
                <div class="bg">   
                     <img src="./img/prod2.png">    
                </div>   
                <div class="prodinfo">
                    <p>BANANA BAR</p>
                    <p>NT$300</p>              
                </div>
            </a>  -->
            <!-- <button class="byn">BUY NOW</button>       -->
        <!-- </li>
        <li class="prod3">
            <a href="./product.html">
                <div class="bg"> 
                    <img src="./img/prod3.png">
                </div>
                <div class="prodinfo">
                    <p>STRABERRY BITES<br> (PLUS 1.5 cal)</p>
                    <p>NT$230</p> 
                </div> 
            </a>   -->
            <!-- <button class="byn">BUY NOW</button>  -->
        <!-- </li>
        <li class="prod4">
            <a href="./product.html">
                <div class="bg">
                     <img src="./img/prod4.png">
                </div>
                <div class="prodinfo">
                    <p>COCO ALMONDS<br> (CONSUME 0.5 cal)</p>
                    <p>NT$250</p>      
                </div>
            </a> -->
            <!-- <button class="byn">BUY NOW</button>   -->
        <!-- </li>
        <li class="prod5">
            <a href="./product.html">
                <div class="bg">
                    <img src="./img/prod5.png">
                </div>
                <div class="prodinfo">
                    <p>ENERGY BALL</p>
                    <p>NT$200</p> 
                </div>
            </a> -->
             <!-- <button class="byn">BUY NOW</button>   -->
    </ul>
</section>

<script>

    let vm1 = new Vue({
        el:"#moreproduct",
        data:{
            prods:[],
        },
        methods: {
            setId(e){
                // console.log("hi");
                // console.log(e.target);
                sessionStorage.setItem("no",e.target.dataset.no)
            }
        }
    })

    // 資料庫
     fetch(`./php/getMoreProduct.php`).then(res => res.json())
                                    .then(data => {
                                        console.log(data);
                                        data.forEach(d => {
                                                d.url = `./product.html?id=${d.prodNo}`
                                                vm1.prods.push(d);
                                                // console.log(vm.prod);
                                        })
                                        // vm.prod = data;                                 
                                    });
                                    console.log(vm1.prods);
</script>
<!-- <script src="./js/buy.js"></script> -->