@import './all.scss';
@import './component/header.scss';

.aside {
    margin: 20px 0;
    display: inline-block;
    > .logo {
        width: 40px;
        margin: auto;
        margin-bottom: 30px;
    }
    > .menu {
        background-color: $green-d;
        border-radius: 0 70px 70px 0;
        height: 100%;
		padding: 40px 20px 20px 20px;
		align-content: space-around;
        width: 250px;
		transition: all .5s;
        > .admin {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0;
            > img {
                width: 25px;
                margin: 15px;
            }
            > div {
                font-size: 24px;
                font-family: KozGoPr6N-R;
                color: $white;
                margin-right: 20px;
            }
        }
        > ul{
			display: flex;
			flex-wrap: wrap;
			> li {
                font-size: 18px;
				width: 100%;
				display: flex;
				justify-content: center;
                padding: 15px;
                border-radius: 100px;
                transition: .3s;
                cursor: pointer;
                &:hover {
                    background-color: lighten($green-d,10);
                    transition: .3s;
                }
				a {
                    text-decoration: none;
					color:$white;
					text-transform: uppercase;
				}
			}
            li.on {
                background-color: #f4f1ec;
                a {
                    color: $green-d;
                    font-family: NotoSans-B;
                }
            }
		}
        > a {
            > .logout {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px 0;
                cursor: pointer;
                > img {
                    width: 20px;
                    margin: 15px;
                    transition: .5s;
                }
                > div {
                    font-size: 18px;
                    color: $white;
                    margin-right: 20px;
                    transition: .5s;
                }
                &:hover > img{
                    transform: translateX(-50%);
                    transition: .5s;
                }

            }
        }
        
    }
}

.main_food, .main_exercise, .main, .report, .member_management, .pointpage, #app {
    padding-left: 50px;
    width: calc(100% - 200px);
    // width: 90%;
    position: absolute;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    div.main_top, .postpage, .messagepage, .memberpage, .levelpage {
        min-height: 50px;
        div.page {
            // margin-bottom: 40px;
            display: flex;
            width: 100%;
            div.food, div.member, div.post {
                color: $white;
                background-color: $red-l;
                padding: 20px;
                font-size: 18px;
                outline: none;
                border-radius: 0 0 20px 20px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                display: inline-block;
                margin: 0 20px;
            }
            div#food, div#member, div#post {
                color: $black;
                background-color: $primary-l;
                padding: 20px;
                font-size: 18px;
                outline: none;
                border-radius: 0 0 20px 20px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                display: inline-block;
                margin: 0 20px;
                cursor: pointer;
                transition: all .3s;
                &:hover {
                    color: $white;
                    background-color: $red-l;
                    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
                }
            }
            div.exercise, div.level, div.message {
                color: $white;
                background-color: $blue-d;
                padding: 20px 10px;
                font-size: 18px;
                border-radius: 0 0 20px 20px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                display: inline-block;
            }
            div#exercise, div#level, div#message {
                color: $black;
                background-color: $primary-l;
                padding: 20px 10px;
                font-size: 18px;
                border-radius: 0 0 20px 20px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                cursor: pointer;
                transition: all .3s;
                display: inline-block;
                &:hover {
                    color: $white;
                    background-color: $blue-d;
                    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
                }
            }
            div.member, div#member {
                padding: 20px 10px;
            }
            div#level, div.level {
                padding: 20px;
            }
        }
        div.search_bar {
            margin: 40px 30px;
            display: flex;
            align-items: self-end;
            .search-input, .daterange {
                margin-right: 30px;
                display: inline-flex;
                align-items: center;
                > input {
                    width: 270px;
                    height: 40px;
                    border: 1px solid $primary;
                    border-radius: 100px 0 0 100px;
                    outline: none;
                    font-size: 16px;
                    padding: 0 20px;
                    background-color: $white;
                    color: $black;
                } 
                > button {
                    background-color: $white;
                    width: 50px;
                    height: 40px;
                    border: 1px solid $primary;
                    border-radius: 0 100px 100px 0;
                    outline: none;
                    background-color: $primary;
                    cursor: pointer;
                    transition: .3s;
                    &:hover {
                        border: 1px solid lighten($primary,10);
                        background-color: lighten($primary,10);
                        transition: .3s;
                    }
                    img {
                        width: 20px;
                    }
                }
            }
            .custom-select {
                margin-right: 30px;
                display: flex;
                justify-content: center;
                padding: 3px 0px;
                border: 1px solid $primary;
                position: relative;
                font-size: 18px;
                width: 160px;
                cursor: pointer;
                background: white;
                border-radius: 30px;
                // border: 1px solid black;
                select{
                    display: none; /*hide original SELECT element:*/
                }
            }
            .select-selected:after {
                position: absolute;
                content: "";
                top: 14px;
                right: 10px;
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-color: $primary transparent transparent transparent;
            }
            /*point the arrow upwards when the select box is open (active):*/
            .select-selected.select-arrow-active:after {
                border-color: transparent transparent $primary transparent;
                top: 7px;
            }
            
            /*style the items (options), including the selected item:*/
            .select-items div,.select-selected {
                align-self: center;
                display: flex;
                justify-content: center;
                padding: 5px;
                border: 1px solid transparent;
                // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
                // cursor: pointer;
                user-select: none;
            }
            
            /*style items (options):*/
            .select-items {
                border-radius: 10px;
                top: 40px;
                box-shadow: 8px 11px 7px -6px rgba(0, 0, 0 ,.3);
                position: absolute;
                z-index: 99;
                width: 100%;
                background-color: $white;
            }
            
            /*hide the items when the select box is closed:*/
            .select-hide {
                display: none;
            }
            
            .select-items div:hover, .same-as-selected {
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
        > .add {
            width: 100%;
            margin-top: 40px;
            margin-bottom: 20px;
            button {
                @include btnStyle($b-color:$primary);
                padding: 5px 15px;
                text-align: center;
                margin-left: 30px;
                font-size: 18px;
                color: $white;
                display: flex;
                align-items: center;
                img {
                    width: 30px;
                }
            }
        }
    }
    .messagepage, .levelpage {
        display: none;
    }
    div.main_bottom {
        // min-width: 100%;
        max-height: 80vh;
        overflow: auto;
        table {
            min-width: 85%;
            // table-layout: fixed;
            border-radius: 10px;
            font-size: 16px;
            border-collapse: collapse;
            border: 1px solid $gray1;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            th {
                background: $gray5;
                text-transform: capitalize;
                color: $white;
                padding: 10px;
                font-family: NotoSans-B;
                position: sticky;
                top:0;
                z-index: 3;
                vertical-align: middle;
            }
            tr {
                // text-align: center;
            }
            tr:nth-child(even) {
                background: $gray1;
            }
            tr:nth-child(odd) {
                background: $gray3;
            }
            td {
                vertical-align: middle;
                // max-width: 600px;
                // min-width: 100px;
                padding: 5px 20px;
                img {
                    max-width: 150px;    
                    max-height: 60px;
                    margin: 5px;            
                }
                img.delete, img.edit {
                    cursor: pointer;
                    width: 30px;
                    margin: 0px;
                    transition: 1s;
                    &:hover {
                        transform: scale(1.1);
                        transition: 1s;
                    }
                }
                select {
                    padding: 5px 10px;
                    font-size: 16px;
                    border-radius: 5px;
                    outline: none;
                    background-color: $primary;
                    color: $white;
                    border: transparent;
                }
                button.detail {
                    padding: 3px 10px;
                    margin: 0;
                }
                .button {
                    display: block;
                    label {
                        position: relative;
                        display: inline-block;
                        width: 42px;
                        height: 20px;
                        background-color: $gray5;
                        border-radius: 25px;
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;
                        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
                        -webkit-tap-highlight-color: $gray5;
                
                        //白點點
                        &:before {
                            content: '';
                            position: absolute;
                            top: 2px;
                            left: 1px;
                            height: 15px;
                            width: 15px;
                            background-color: white;
                            border-radius: 24px;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                            transition: box-shadow 0.3s ease-in-out;
                            animation: moveLeft 0.3s ease-in-out;
                        }
                    }
                
                    input {
                        display: none;
                        &:checked + label {
                            background-color: $green-d;
                            &:before {
                                transform: translateX(25px);
                                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                                animation: moveRight 0.3s ease-in-out;
                            }
                        }
                    }
                }
                
                @keyframes moveRight {
                    0% {
                        width: 17px;
                        transform: translateX(0);
                    }
                
                    100% {
                        width: 17px;
                        transform: translateX(20px);
                    }
                }
                
                @keyframes moveLeft {
                    0% {
                        width: 17px;
                        transform: translateX(20px);
                    }
                
                    100% {
                        width: 17px;
                        transform: translateX(0);
                    }
                }  
            }
        }
    }
}
.main_exercise {
    display: none;
}

