@import './B_all.scss';

// 燈箱
.lightbox_black, .lightbox_add_black, .lightbox_edit_black, .lightbox_delete_black, .lightbox_orderDetail_black {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(66,66,66,.6);
    z-index: 500;

    > div {
        font-size: 18px;
        z-index: 501;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        background-color: $white;
        padding: 20px;
        > h6 {
            padding: 20px;
            text-align: center;
        }
        > div {
            display: flex;
            padding: 15px;
            > span {
                font-weight: bold;
                padding: 0 5px;
            }
            div.acc_title {
                text-align: right;
                padding-right: 20px;
                width: 120px;
            }
            select {
                border-radius: 5px;
                outline: none;
                padding: 5px 10px;
            }
            > div {
                input, textarea {
                    padding: 3px;
                    min-width: 200px;
                    background-color: $gray1;
                    &:focus {
                        background-color: $primary-l;
                    }
                }
                .acc_tip {
                    font-size: 10px;
                    color: $red-d;
                }
                textarea {
                    resize: none;
                    outline: none;
                    border: 1px solid $gray4;
                }
            }        
        }
        div.tip {
            display: inline-block;
            width: 100%;
        }
        > div.content {
            padding: 20px;
        }
        > div:last-child {
            padding: 20px;
            display: flex;
            justify-content: space-around;
            button:first-child {
                justify-content: center;
                @include btnStyle($b-color:$primary-l);
                text-align: center;
                color: $black;
            }
            button:last-child {
                justify-content: center;
                @include btnStyle($b-color:$primary);
                text-align: center;
            }
        }
        div.close {
            position: absolute;
            top: 15px;
            right: 15px;
            display: flex;
            justify-content: flex-end;
            padding: 0;
            img {
                cursor: pointer;
                transition: .3s;
                &:hover {
                    transform: rotate(20deg);
                    transition: .3s;
                }
            }
        }
        > table {
            font-size: 16px;
            border-collapse: collapse;
            th {
                text-transform: capitalize;
                color: $gray5;
                padding: 10px;
                font-family: NotoSans-B;
                border-bottom: 1px solid $gray5;
            }
            tr {
                text-align: center;
            }
            tr:nth-child(odd) {
                background: $gray3;
            }
            td {
                vertical-align: middle;
                min-width: 100px;
                padding: 5px 20px;
            }
        }
    }
}