

.containor.Cal_Dairy *{
    box-sizing: unset;
}
.containor.Cal_Dairy{
    margin-top: 0px;
    display: grid;
    grid-template-columns: 18% 82%;
//=============== Aside =============
header .row.container .logo{
    text-align: left!important;
}
.l-aside.Cal_Dairy{
    display: block;
    width: 88%;
    height: 850px;
    background-color: #889674;
    .cal_aside {
        // height: 40px;
        .aside_title{
            width: 75%;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin:20px 0px 0px 20px;
            padding: 0px 0px 5px 15px ;
            border-bottom: 1px solid #ffffff;
        }
        .aside_inf{
            width: 100%;
            text-align:center;
            padding: 15px 0px 40px 0px;;
            .person_inf{
                display: flex;
                margin: 5PX;
                p{
                    color: #ffffff;
                    margin-left: 28px;
                }
                .gender,.hight,.age{
                    text-align:right;
                    color: #ffffff;
                }
            }
            .aside_inf_title{
                font-size: 12px;
                color: #ffffff;
                margin: 10px;
            }
             .aside_inf_data{
                font-size: 30px;
                color: #ffffff;
                margin: 10px 0px 20px 0px;
            }
        }
    }
    .w-btn.Cal_Dairy{
        width: 100px;
        text-align: center;
        font-size: 14px;
        background-color: #ffffffea;
        color: #707070;
        margin:0px auto;
    }
}
//=========== Aside_RWD =============


//==============================CENTER=====================================
.center.Cal_Dairy{
    .top_area{
        display: grid;
        margin-top: 10px;
        grid-template-columns: 49% 49%;
        .card.CurGoal{
            padding: 20px;
            width: 92%;
            margin: 0px auto;
            position: relative;
            .title_back{
                width: 100%;
                height: 60px;
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: #EAA565;
                border-radius: 20px 20px 0px 0px;
            }
            .CurGoal_title{
                text-align: left;
                img{
                    height: 20px;
                    width: 20px;
                    vertical-align: middle;
                    padding-bottom: 3px;
                }
                width: 100%;
                // border-bottom: 2px solid #DDDDDD;
                vertical-align: middle;
                font-weight: bold;
                color: #ffffff;
                padding-bottom: 13px;
            }
            .CurGoal_content{
                display: grid;
                grid-template-columns: 50% 50%;
                .rest_cal{
                    margin-top: 20px;
                    border-right: 2px solid #DDDDDD;
                    P{
                        margin:10px;
                    }
                    .rest_cal_content{
                        display: grid;
                        grid-template-columns: 55% 45%;
                        .body_sch_mask_t{
                            p{
                                position: absolute;
                                top:210px;
                                right: 84%;
                                z-index: 90;
                                color: #ffffff;
                                font-size: 18px;
                            }
                            
                            // clip-path:url(#clip-Artboard_3);
                            // background-color: #65B5EA;
                            .body_sch_mask,.body_sch_mask2{
                                // background-color: #dddddd;
                                position: absolute;
                                top: 35%;
                                left:5%
                            }
                        }    
                        
                        .rest_cal_inf{
                            padding-right: 20px;
                            p{
                                text-align: center;
                                margin:0px;
                            }
                            .rest_cal_data{
                                text-align: center;
                                font-size: 32px;
                                font-weight: bold;
                                color:#EAA565;
                                margin: 60px 0px 10px 0px;
                            }
                            .rest_cal_unit{
                               border-bottom: 2px solid #888888;
                            }
                            .daily_cal_data{
                                text-align: center;
                                font-size: 16px;
                                font-weight: bold;
                                color:#EAA565;
                                margin: 20px 0px 10px 0px;
                            }
                            .daily_cal_unit,.rest_cal_unit{
                                font-size: 14px;
                                padding-bottom:10px ;
                                color: #AAAAAA;
                            }
                        }
                    }
                }
                .rest_day{
                    margin-top: 20px;
                    margin-left: 10px;
                    P{
                        margin:10px;
                    }
                    .rest_day_item{
                        display: flex;
                        .rest_day_value{
                            font-size: 42px;
                            color:#EAA565;
                            padding: 40px 40px 40px 90px;
                        }
                        .rest_day_unit{
                            margin: 50px 0px 0px 0px;
                        }
                    }
                    .sch_title{
                        display: flex;
                        p{
                            color: #666666;
                            font-size: 4px;
                            font-weight: bolder;
                        }
                        .sch_start{
                            padding-right: 150px;
                        }
                        

                    }
                    .sch{
                        width: 100%;
                        height:8px;
                        background-color: #dddddd;
                        border-radius: 10px;
                        .sch_now{
                            width: 40%;
                            height:8px;
                            border-radius: 10px;
                            background-color: #65B5EA;
                        }
                    }
                    .sch_date{
                        display: flex;
                        p{
                            font-size: 12px;
                        }
                        .date_start{
                            margin-right: calc(60% - 45px);
                        }
                        .date_end{
                            text-align: right;
                        }
                    }     
                }
            }

        }
        .card.report{
            width:92%;
            margin: 0px auto;
            padding: 20px;
            position: relative;
            .title_back{
                width: 100%;
                height: 60px;
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: #EAA565;
                border-radius: 20px 20px 0px 0px;
            }
            .month_selecotor{
                width: 120px;
                position: absolute;
                 top: 15px;
                right: 10px;
              color: #ffffff;
            }
            .CurGoal_title{
                text-align: left;
                select{
                    border:none;
                    margin-left:64%;
                    color: #D8D8D8;
                    font-size: 16px;
                    background-color: unset;
                    cursor: pointer;
                }
                img{
                    height: 20px;
                    width: 20px;
                    vertical-align: middle;
                    padding-bottom: 3px;
                }
                width: 100px;
                // border-bottom: 2px solid #DDDDDD;
                vertical-align: middle;
                font-weight: bold;
                padding-bottom: 13px;
                color: #ffffff;
            }
            .report_title{
                margin: 10px;
                color: #AAAAAA;
            }
            .chart_select{
                height: 80px;
                display: grid;
                grid-template-columns:110px 125px 180px;
                // grid-template-columns: calc(11% + 40px) calc(15% + 40px) calc(18% + 80px);
                .chart_weight,.chart_cal,.chart_excercie{
                    border: 1px solid #AAAAAA;
                    height: 48px;
                    border-radius: 18px;
                    margin: 10px;
                    padding: 5px;
                    transition: 0.1s;
                    // text-align: center;
                    p{
                        margin-left: 5px;
                    }
                    .chart_data{
                        display: flex;
                        img{
                            width: 10px;
                            height: 10px;
                            padding: 8px 1px 0px 10px;
                        }
                        .w_persan,.cal_persan,.ex_persan{
                            font-size: 5px;
                            color: #888888;
                        }
                    }
                }
                .chart_weight:hover,.chart_cal:hover,.chart_excercie:hover{
                    cursor: pointer;
                    border: 2px solid #EAA565;
                    transform:scale(1.02,1.02);
                    background-color: #f8d6b7!important;
                }
            }
            .report_chart{
                width: 100%;
                padding-top: 5px;
                img{
                    width: 100%;
                }
                .report_charts{
                    border: 1px solid #dddd;
                    width: 100%;
                    #chartdiv01,#chartdiv02,#chartdiv03{
                        height: 200px;
                    }
                }
                .report_charts:nth-child(2),.report_charts:nth-child(3){
                    display:none;
                }
            }


        }
        
    }
    .bot_area{
        display: grid;
        grid-template-columns: 70% 27.5%;
        margin: 35px 0px 0px 0px;
        .cal_input{
            position:relative;
            .cal_input_select{
                display: flex;
                position:absolute;
                top:-20px;
                left:10px;
                .s_food,.s_exercise{
                    width: 100px;
                    height: 30px;
                    border-top-left-radius:10px;
                    border-top-right-radius:10px;
                    font-weight: bold;
                    background-color: #ffffff;
                    text-align: center;
                    p{
                        padding: 5px;
                        color: #666666;
                    }
                }
                .s_food:hover,.s_exercise:hover{
                    cursor: pointer;
                    background-color: #f0b884;
                    P{
                        color: #ffffff;
                    }
                }
                .s_food.selected,.s_exercise.selected{
                    background-color: #EAA565;
                    P{
                        color: #ffffff;
                    }
                }
                
                // .s_food{
                //     background-color: #EAA565;
                //     P{
                //         color: #ffffff;
                //     }
                // }
                
            }
            .card.cal_input_table{
                height: 325px;
                border-top-left-radius:0px;
                padding: 30px 20px;
                position: relative;
                .input_pages.selected{
                    display: grid;
                    grid-template-columns: 70% 30%;
                }
                .cal_input_table_title{
                    position: absolute;
                    height: 50px;
                    width: 100%;
                    top:0;
                    left:0;
                    background-color: #EAA565;
                    border-radius: 0 20px 0px 0px;
                }
                .input_pages{
                    display: grid;
                    grid-template-columns: 65% 35%;
                    height: 300px;
                    .daily_food_data_title,.daily_exercise_data_title{
                        margin: 20px 20px 0px -5px;
                        padding: 5px;
                        border-bottom: 2px solid #dddddd;
                        display: grid;
                        grid-template-columns: 15% 20% 20% 15% 15% 15%;
                        P{
                            color: #AAAAAA;
                            text-align: center;
                        }
                       
                    }
                    .daily_food_data_context,.daily_exercise_data_context{
                        margin: 5px 20px 5px -5px;
                        padding: 5px;
                        display: grid;
                        grid-template-columns: 15% 20% 20% 15% 15% 15%;
                        P{
                            color: #666666;
                            text-align: center;
                        }
                        img{
                            width: 20px;
                            margin: 0 auto;
                            cursor: pointer;
                        }
                    }
                    .input_pages_data:nth-child(1){
                        border-right: 2px solid #AAAAAA;
                    }
                   .input_pages_data_title,.input_pages_data_title2{
                       margin: -15px 0px 0px calc(50% - 125px);
                       font-size: 16px;
                       text-align: left;
                       color: #ffffff;
                   }
                    .calendarI{
                        margin: 30px 0px 10px calc(50% - 115px);
                        transform: scale(1.1);
                        width:250px;
                        height: 250px;
                    }
                    .fd_pop{
                        position: absolute;
                        bottom: 0px;
                        right: 11%;
                    }
                }
                
            }
        }
        .advice_item{
            width: 100%;
            p{
                width: 90%;
                font-size: 20px;
                text-align: center;
            }
            .owl-carousel.owl-theme{
                width: 90%;
                .advice_produt{
                    text-align: center;
                    margin-top: 10px;
                    p{ 
                       margin-top: 10px;
                       font-size: 22px;
                       margin-left: 5%;
                       text-align: center;
                    }
                   img{
                        width: 130px;
                        margin: 0 auto;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        padding: 5px 10px 5px 10px; 
                        border-radius: 50px;
                        background-color: rgb(45, 108, 166);
                        // height: 300px;
                    }
                    .advice_produt_img2{
                        background-color: rgb(191, 70, 89);
                    }
                    // button{
                    //     margin-left: 35%;
                    // }
                    div{
                        width: 60%;
                        margin-left: 20%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

}
@media all and (max-width: 1500px){
    .containor.Cal_Dairy{
        .l-aside.Cal_Dairy{
            height: 1300px;
        } 
        .center.Cal_Dairy{
            .top_area{
                    grid-template-columns: 100%;
                    .card.report{
                        margin-top: 20px;
                    }
                   .card.CurGoal .CurGoal_content .rest_day .sch_title .sch_start {
                        padding-right: 60%;
                    }
                    .card.CurGoal .CurGoal_content .rest_day .sch_date .date_start {
                        margin-right: calc(71% - 45px);
                    }
                } 
            
        }
    }
}
@media (max-width: 1499px) and (min-width: 1300px){
     .containor.Cal_Dairy{
          .l-aside.Cal_Dairy{
            height: 1300px;
        }  
        .center.Cal_Dairy{
            .top_area{
                    grid-template-columns: 100%;
                    .card.report{
                        margin-top: 20px;
                    }
                   .card.CurGoal .CurGoal_content .rest_day .sch_title .sch_start {
                        padding-right: 60%;
                    }
                    .card.CurGoal .CurGoal_content .rest_day .sch_date .date_start {
                        margin-right: calc(71% - 45px);
                    }
                    .card.CurGoal .CurGoal_content .rest_day .rest_day_item .rest_day_value{
                        padding: 40px 40px 40px 35%;
                   }
                } 
            
        }
    }
}
@media (max-width: 1299px) and (min-width: 1100px){
    .containor.Cal_Dairy{
        grid-template-columns: 100%;
         .l-aside.Cal_Dairy{
           display: none;
       }  
       .center.Cal_Dairy{
           .top_area{
                   grid-template-columns: 100%;
                   .card.report{
                       margin-top: 20px;
                   }
                  .card.CurGoal .CurGoal_content .rest_day .sch_title .sch_start {
                       padding-right: 65%;
                   }
                   .card.CurGoal .CurGoal_content .rest_day .sch_date .date_start {
                       margin-right: calc(74% - 45px);
                   }
                    .card.CurGoal .CurGoal_content .rest_day .rest_day_item .rest_day_value{
                        padding: 40px 40px 40px 35%;
                   }
               } 
           
       }
   }
}
@media (max-width: 1099px) and (min-width: 800px){
    .containor.Cal_Dairy{
        grid-template-columns: 100%;
         .l-aside.Cal_Dairy{
           display: none;
       }  
       .center.Cal_Dairy{
           .top_area{
                   grid-template-columns: 100%;
                   .card.report{
                       margin-top: 20px;
                   }
                  .card.CurGoal .CurGoal_content .rest_day .sch_title .sch_start {
                       padding-right: 65%;
                   }
                   .card.CurGoal .CurGoal_content .rest_day .sch_date .date_start {
                       margin-right: calc(74% - 65px);
                   }
                    .card.CurGoal .CurGoal_content .rest_day .rest_day_item .rest_day_value{
                        padding: 40px 40px 40px 35%;
                   }

            } 
            .bot_area{
                grid-template-columns: 100%;
                .advice_item{
                    margin-left: 5%;
                }
            }
           
        }
    }
}
@media (max-width: 799px) and (min-width: 700px){
    .containor.Cal_Dairy{
        grid-template-columns: 100%;
         .l-aside.Cal_Dairy{
           display: none;
       }  
       .center.Cal_Dairy{
           .top_area{
                   grid-template-columns: 100%;
                   .card.report{
                       margin-top: 20px;
                   }
                  .card.CurGoal .CurGoal_content .rest_day .sch_title .sch_start {
                       padding-right: 65%;
                   }
                   .card.CurGoal .CurGoal_content .rest_day .sch_date .date_start {
                       margin-right: calc(74% - 65px);
                   }
                    .card.CurGoal .CurGoal_content .rest_day .rest_day_item .rest_day_value{
                        padding: 40px 40px 40px 35%;
                   }

            } 
            .bot_area{
                grid-template-columns: 100%;
                .advice_item{
                    margin-left: 5%;
                }
                .cal_input .card.cal_input_table .input_pages{
                    grid-template-columns: 100%;
                        .fd_pop{
                            bottom:20px;
                            right: 40%;
                        }
                }
                .cal_input .card.cal_input_table{
                    height: 550px;
                }
            }
           
        }
    }
}
@media (max-width: 699px) and (min-width: 400px){
    .containor.Cal_Dairy{
        grid-template-columns: 100%;
         .l-aside.Cal_Dairy{
           display: none;
       }  
       .center.Cal_Dairy{
           .top_area{
                   grid-template-columns: 100%;
                   .card.report{
                       margin-top: 20px;
                   }
                  .card.CurGoal .CurGoal_content .rest_day .sch_title .sch_start {
                       padding-right: 45%;
                   }
                   .card.CurGoal .CurGoal_content .rest_day .sch_date .date_start {
                       margin-right: calc(74% - 110px);
                   }
                    .card.CurGoal .CurGoal_content .rest_day .rest_day_item .rest_day_value{
                        padding: 40px 40px 40px 35%;
                   }

            } 
            .bot_area{
                grid-template-columns: 100%;
                .advice_item{
                    margin-left: 5%;
                }
                .cal_input .card.cal_input_table .input_pages{
                    grid-template-columns: 100%;
                        .fd_pop{
                            bottom:20px;
                            right: 35%;
                        }
                }
                .cal_input .card.cal_input_table{
                    height: 550px;
                }
            }
           
        }
    }
}
