@import './all.scss';
@import './component/header.scss';
@import './component/footer.scss';


div.banner {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    background-image: url(../../img/info1_banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    h4 {
        text-shadow: 2px 2px rgba(0, 0, 0 ,.3);
        color: $white;
        position: absolute;
        bottom: 35%;
        left: 7%;
    }
}

div.filter {
    margin: 50px;
    ul {
        @include rwd(992px) {
            display: none;
        }
        margin: auto;
        max-width: 500px;
        display: flex;
        justify-content: space-around;
        color: $black;
        li {
            text-align: center;
            font-size: 16px;
            color: $black;
            padding: 5px 10px;
            border-radius: 20px;
        }
        li:nth-child(2) {
            cursor: pointer;
            color: $primary;
            &:hover {
                font-weight: 900;
            }
        }
        li:nth-child(3) {
            cursor: pointer;
            color: $red-d;
            &:hover {
                font-weight: 900;
            }
        }
        li:nth-child(4) {
            cursor: pointer;
            color: $blue-d;
            &:hover {
                font-weight: 900;
            }
        }
        li:nth-child(5) {
            cursor: pointer;
            color: $green-d;
            &:hover {
                font-weight: 900;
            }
        }
        li.active {
            font-weight: bold;
        }
    }
    .custom-select {
        display: none;
        @include rwd(992px) {
            display: block;
            margin: auto;
        }
        justify-content: center;
        padding: 3px 0px;
        border: 1px solid $gray5;
        position: relative;
        @include textStyle();
        width: 140px;
        cursor: pointer;
        background: white;
        border-radius: 30px;
        // border: 1px solid black;
        select{
            display: none; /*hide original SELECT element:*/
        }
      }
      .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: $gray5 transparent transparent transparent;
      }
      /*point the arrow upwards when the select box is open (active):*/
      .select-selected.select-arrow-active:after {
        border-color: transparent transparent $gray5 transparent;
        top: 7px;
      }
      
      /*style the items (options), including the selected item:*/
      .select-items div,.select-selected {
        display: flex;
        justify-content: center;
        padding: 5px;
        border: 1px solid transparent;
        // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        // cursor: pointer;
        user-select: none;
      }
      
      /*style items (options):*/
      .select-items {
        border-radius: 10px;
        top: 40px;
        box-shadow: 8px 11px 7px -6px rgba(0, 0, 0 ,.3);
        position: absolute;
        z-index: 99;
        width: 100%;
        background-color: $white;
      }
      
      /*hide the items when the select box is closed:*/
      .select-hide {
        display: none;
      }
      
      .select-items div:hover, .same-as-selected {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.1);
      }
}

div.main {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
    @include rwd(1100px) {
        justify-content: center;
    }
    div.info_card {
        background-color: $white;
        width: 544px;
        overflow: hidden;
        border-radius: 15px;
        position: relative;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        .text{
            cursor: pointer;
            margin: auto;
            height: 100%;
            width: 300px;
            // background-color: blue;
            position: absolute;
            right: 0%;
            top: 9%;
            display: block;
            .title {
                margin: auto;
                width: 250px;
                font-size: 20px;
                font-weight: bold;
                color: $black;
                padding: 10px;
                padding-left: 40px;
                hyphens: none;
            }
            .content {
                margin: auto;
                width: 250px;
                font-size: 16px;
                color: $black;
                padding: 20px;
            }
            .arrow {
                width: 20px;
                height: 20px;
                position: absolute;
                right: 20%;
                bottom: 15%;
                transition: .4s;
            }
            &:hover .arrow {
                transform: translateX(50%);
                transition: .4s;
            }
        }        
        .infophoto1 {
            clip-path: polygon(0% 0%, 50% 0%, 35% 100%, 0% 100%);
            max-width: 100%;
            display: block;
            transition: .4s all;
            &:hover {
                transform: scale(1.1);
                transition: .8s all;
            }
        }
        .infovideo1 {
            margin: 0;
            clip-path: polygon(0% 0%, 50% 0%, 35% 100%, 0% 100%);
            width: 100%;
            display: block;
            outline: none;
            //要改成播放時間!=0時是直的，偵測播放時間不是hover
            transition: 100s all;
            &:hover {
                clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
                transition: .8s all;
            }
        }
    }
    div:nth-child(even){
        margin-top: 120px;
        margin-bottom: 30px;
        @include rwd(1100px) {
            margin: 50px;
            margin-right: 300px;
            @include rwd(768px) {
                margin: 30px;
                margin-right: 100px;
            }
            @include rwd(576px) {
                margin: 30px 0;
            }
        }
    }
    div:nth-child(odd){
        margin-top: 30px;
        margin-bottom: 120px;
        @include rwd(1100px) {
            margin: 50px;
            margin-left: 300px;
            @include rwd(768px) {
                margin: 30px;
                margin-left: 100px;
                @include rwd(576px) {
                    margin: 30px 0;
                }
            }
        }
    }
}
div.load{
    border-bottom: 1px solid black;
    text-align: center;
    width: 110px;
    margin: auto;
    color: black;
    text-transform:uppercase;
    font-weight: bold;
    padding-bottom:5px;
    margin-bottom: 8%;
    margin-top: 5%;
    cursor: pointer;
}



