@import './all.scss';
@import './component/header.scss';
@import './component/footer.scss';

main { 
    margin: auto;
    max-width: 1200px;
    // position: relative;
    .title {
        font-size: 20px;
        font-weight: bold;
        color: $black;
        padding: 10px 0;
    }
    .date {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        div.bookmark {
            // position: absolute;
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
            img.bookmark{
                width: 15px;
                height: 15px;
                display: inline-block;
                align-self: center;
            }
            p{
                display: inline-block;
                padding: 7px;
                letter-spacing: 2px;    
            }
        }
    }
    img {
        max-width: 100%;
    }
    p {
        padding: 30px;
        font-size: 16px;
        letter-spacing: 2px;    
        line-height: 26px;
    }
    section.top {
        margin: 70px auto;
        // background-color: blue;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div {
            width: 40%;
        }
        p {
            width: 40%;
            // letter-spacing: 2px;    
            // line-height: 26px;
        }
    }
    section.bottom {
        margin: 70px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div {
            width: 40%;
        }
        p {
            width: 40%;
        }

    }
    div {
        display: flex;
        justify-content: flex-end;
        button {
            @include btnStyle($b-color:$primary);
            text-align: center;
            margin-left: 30px;
        }
    }
}