@import './all.scss';
@import './component/header.scss';
@import './component/footer.scss';


div.banner {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    background-image: url(../../img/info1_banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    h4 {
        text-shadow: 2px 2px rgba(0, 0, 0 ,.3);
        color: $white;
        position: absolute;
        bottom: 35%;
        left: 7%;
    }
}

div.filter {
    margin: 50px;
    ul {
        margin: auto;
        max-width: 400px;
        display: flex;
        justify-content: space-around;
        color: $black;
        li {
            text-align: center;
            font-size: 16px;
            color: $black;
            cursor: pointer;
        }
        li:nth-child(2) {
            font-family: NotoSans-B;
        }
    }
    .custom-select {
        display: flex;
        justify-content: center;
        padding: 3px 0px;
        border: 1px solid $gray5;
        position: relative;
        @include textStyle();
        width: 140px;
        cursor: pointer;
        background: white;
        border-radius: 30px;
        // border: 1px solid black;
        select{
            display: none; /*hide original SELECT element:*/
        }
      }
      .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: $gray5 transparent transparent transparent;
      }
      /*point the arrow upwards when the select box is open (active):*/
      .select-selected.select-arrow-active:after {
        border-color: transparent transparent $gray5 transparent;
        top: 7px;
      }
      
      /*style the items (options), including the selected item:*/
      .select-items div,.select-selected {
        display: flex;
        justify-content: center;
        padding: 5px;
        border: 1px solid transparent;
        // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        // cursor: pointer;
        user-select: none;
      }
      
      /*style items (options):*/
      .select-items {
        border-radius: 10px;
        top: 40px;
        box-shadow: 8px 11px 7px -6px rgba(0, 0, 0 ,.3);
        position: absolute;
        z-index: 99;
        width: 100%;
        background-color: $white;
      }
      
      /*hide the items when the select box is closed:*/
      .select-hide {
        display: none;
      }
      
      .select-items div:hover, .same-as-selected {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.1);
      }
}

div.main {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1160px;
    justify-content: space-between;
    div.info_card {
        background-color: $white;
        width: 480px;
        overflow: hidden;
        border-radius: 15px;
        position: relative;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        .bookmark {
            width: 15px;
            height: 15px;
            position: absolute;
            right: 5%;
            top: 5%;
            cursor: pointer;
        }
        .text{
            margin: auto;
            height: 100%;
            width: 240px;
            // background-color: blue;
            position: absolute;
            right: 0%;
            top: 10%;
            display: block;
            .title {
                margin: auto;
                width: 250px;
                font-size: 20px;
                font-weight: bold;
                color: $black;
                padding: 22px;
                hyphens: none;
            }
            .content {
                margin: auto;
                width: 200px;
                font-size: 16px;
                color: $black;
            }
            .arrow {
                width: 15px;
                height: 15px;
                position: absolute;
                right: 15%;
                bottom: 20%;
                transition: .4s;
            }
            &:hover .arrow {
                transform: translateX(50%);
                transition: .4s;
            }
        }        
        .infophoto1 {
            clip-path: polygon(0% 0%, 50% 0%, 35% 100%, 0% 100%);
            max-width: 100%;
            display: block;
            transition: .4s all;
            &:hover {
                transform: scale(1.1);
                transition: .8s all;
            }
        }
        .infovideo1 {
            margin: 0;
            clip-path: polygon(0% 0%, 50% 0%, 35% 100%, 0% 100%);
            width: 100%;
            display: block;
            outline: none;
            //要改成播放時間!=0時是直的，偵測播放時間不是hover
            transition: 100s all;
            &:hover {
                clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
                transition: .8s all;
            }
        }
    }
    div:nth-child(odd){
        margin-top: 50px;
        margin-bottom: 150px;
    }
    div:nth-child(even){
        margin-top: 150px;
        margin-bottom: 50px;
    }
    div.load {
        width: 100%;
        border-bottom: 1px solid black;
        margin-left: 49%;
        margin-right: 42%;
        color: black;
        text-transform:uppercase;
        font-weight: bold;
        padding-bottom:5px;
        margin-bottom: 8%;
        margin-top: 5%;
        cursor: pointer;
    }
}



