@import './all.scss';
@import './component/header.scss';
@import './component/footer.scss';
@import './component/cart.scss';
@import './component/moreproduct.scss';

main { 
    margin: auto;
    margin-top: 80px;
    max-width: 1200px;
    // position: relative;
    .title {
        font-size: 20px;
        font-weight: bold;
        color: $black;
        padding: 10px 0;
    }
    .date {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        div.bookmark {
            // position: absolute;
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
            img.bookmark{
                width: 15px;
                height: 15px;
                display: inline-block;
                align-self: center;
            }
            p{
                display: inline-block;
                padding: 7px;
                letter-spacing: 2px;    
            }
        }
    }
    video {
        outline: none;
        height: auto;
        max-width: 100%;
    }
    img {
        max-width: 100%;
    }
    > p {
        padding: 40px;
        padding-top: 60px;
        font-size: 16px;
        letter-spacing: 2px;    
        line-height: 26px;
    }
    section.top,section.bottom {
        @include rwd(768px) {
            display: block;
        }
        margin: 70px auto;
        // background-color: blue;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div {
            width: 40%;
            @include rwd(768px) {
                width: 80%;
                margin: auto;
            }
        }
        p {
            padding: 20px;
            width: 40%;
            @include rwd(768px) {
                width: 80%;
                margin: auto;
            }
        }
    }
    section.bottom {
        flex-direction: row-reverse;
    }
    div {
        display: flex;
        justify-content: flex-end;
        button {
            @include btnStyle($b-color:$primary);
            text-align: center;
            margin-left: 30px;
        }
    }
}
div.bottom {
    margin-top: 200px;
    max-width: 100%;
    h6{
        margin-left: 100px;
    }
}