// @import "./all.scss";
@import "./base/reset";
@import "./base/var";
@import "./base/mixin";
@import "./base/base";
@import "./base/grid";
@import "./base/rwd";



@import"./component/footer";
@import "./component/header";
@import "./component/cart";

.cartall{
    max-width: 1200px;
    margin: 0 auto;
    h5{ 
        margin: 30px 30px 30px 30px;
    }
    .steps{
        margin: 30px 30px 50px 30px;
        p{
            margin: 10px;
            position: relative;
            padding-left: 30px;
            // border: 1px solid #000;
             &:nth-child(1)::before{
                content:"";
                border-radius: 50%;
                border: 1px solid #EAA565;
                background-color: #EAA565;
                height: 15px;
                width: 15px;
                position: absolute;
                left: 0;
                bottom: 5px;
            }  
        }    
    }

    .orderinfo{
        
        // border: 1px solid #000;
        margin: 0 50px 0 50px;
        tr{
            font-size: 16px;
            th{
                width: 25%;
            }
            td{
                border: 1px solid #000;
                vertical-align: middle;
                text-align: center;
                font-size: 14px;

      
                &.order{
                    // border: 1px solid #000;
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 25%;
                        } 
                        p{
                            width: 100%;
                            margin: 0;
                        }
                    }
                }          
            }
        }
    }

    .points{
        // border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        background-color: #EAA565;
        border-radius:100px;
        height: 100px;
        margin-bottom: 30px;
        width: 100%;
        h6{
            color: white;
            span{
                margin-left: 30px;
                // border: 1px solid #000;

            }
        }
        .apply{
            margin-left: 50px;
            button {
                @include btnStyle();
                width: 150px;
                text-align: center;
                margin: 0;
             }
        }
    }
    .subtotal{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        // border: 1px solid #000;
        p{
            // border: 1px solid #000;
            width: 45%;
            margin: 10px;
            justify-content: space-between;
            padding-left: 18%;
            margin-left: 10px;
        }
        h6{
            width: 45%;
            margin: 10px 0 50px 0;
            padding-left: 18%;
        }
        .line{
            border: 1px solid rgba(128, 128, 128, 0.192);
             margin-top: 10px;
            //  height: 1px ;
             width: 100%;
        }
    }
    .back{
        // border: 1px solid #000;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        a{
            font-size:16px;
            // border-bottom: 1px solid gray;
        }
        button {
            @include btnStyle();
            width: 250px;
            text-align: center;
            margin-right: 50px;
         }
    }
}


@media (max-width: 768px) {
    .cartall{
        display: flex;
        flex-wrap: wrap;
        // margin: 0 30px;

        .steps{
            margin: 0 30px;
        }
        h5{
            width:100%;
        }
    }
}