

#chartdiv01 {
    width: 100%;
    height: 300px;
  }

#chartdiv02 {
    width: 100%;
    height: 300px;
  }
  #chartdiv03 {
    width: 100%;
    height: 300px;
  }
  #chartdiv04 {
    width: 100%;
    height: 300px;
  }