// @import "./all.scss";
@import "./base/reset";
@import "./base/var";
@import "./base/mixin";
@import "./base/base";
@import "./base/grid";
@import "./base/rwd";



@import"./component/footer";
@import "./component/header";
@import "./component/cart";

.cartall{
    max-width: 1200px;
    margin: 0 auto;
    h5{ 
        margin: 20px;
    }
    .steps{
        margin-bottom: 50px;
        p{
            margin: 10px;
            position: relative;
            padding-left: 30px;
            // border: 1px solid #000;
            &:nth-child(2)::before{
                content:"";
                border-radius: 50%;
                border: 1px solid #EAA565;
                background-color: #EAA565;
                height: 15px;
                width: 15px;
                position: absolute;
                left: 0;
                bottom: 5px;
            }  
        }    
    }

    .billingdetails{
        border-radius: 100px;
        h6{
            margin: 0 auto;
            // border: 1px solid #000;
            padding-left: 30px;
        }
        >p{
            position: relative;
            width: 300px;
            padding-left: 50px;
            &::before{
                content: "";
                margin: 20px;
                border-radius: 50%;
                border: 1px solid #EAA565;
                height: 20px;
                width: 20px;
                position: absolute;
                left: 0px;
                bottom:-18px;
            }
        }
        form{
            padding-left: 30px;
            font-size: 16px;
            margin: 15px;
            display: flex;
            flex-wrap: wrap;
            select{
                font-size: 16px;
            }
            label{
                width: 50%;
                padding-left: 250px;
                margin: 10px;
                font-size: 16px;
                // border: 1px solid #000;
            }
            .circle{
                border-radius: 10px;
                border: 1px solid gray;
                margin: 5px;
                background-color: #fff;
            }
            #district{

            }
        }
    }
    .warn{
        width: 550px;
        border: 1px solid #000;
    }

    //返回
    .back{
        // border: 1px solid #000;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        a{
            font-size:16px;
            // border-bottom: 1px solid gray;
        }
        button {
            @include btnStyle();
            width: 250px;
            text-align: center;
            margin-right: 50px;
         }
    }
}