@import "./all.scss";
@import "./base/reset";
@import "./base/var";
@import "./base/mixin";
@import "./base/base";
@import "./base/grid";
@import "./base/rwd";



@import"./component/footer";
@import "./component/header";
@import "./component/cart";

.cartall{
    padding-top:30px;
    max-width: 1200px;
    margin: 0 auto;
    h5{ 
        margin: 30px 30px 30px 30px;
    }
    .steps{
        margin: 30px 30px 50px 30px;
        p{
            margin: 10px;
            position: relative;
            padding-left: 30px;
            // border: 1px solid #000;
            &:nth-child(2)::before{
                content:"";
                border-radius: 50%;
                border: 1px solid #EAA565;
                background-color: #EAA565;
                height: 15px;
                width: 15px;
                position: absolute;
                left: 0;
                bottom: 5px;
            }  
        }    
    }

    .billingdetails{
        border-radius: 100px;
        h6{
            margin: 0 auto;
            // border: 1px solid #000;
            padding-left: 30px;
            margin-top: 30px;
        }
        >p{
            position: relative;
            width: 300px;
            padding-left: 50px;
            &::before{
                content: "";
                margin: 20px;
                border-radius: 50%;
                border: 1px solid #EAA565;
                height: 20px;
                width: 20px;
                position: absolute;
                left: 0px;
                bottom:-18px;
            }
        }
        form{
            padding-left: 30px;
            font-size: 16px;
            margin: 15px;
            display: flex;
            flex-wrap: wrap;
            select{
                font-size: 16px;
            }
            label{
                width: 50%;
                padding-left: 250px;
                margin: 10px;
                font-size: 16px;
                // border: 1px solid #000;
            }
            .circle{
                border-radius: 10px;
                border: 1px solid gray;
                margin: 5px;
                background-color: rgba(255, 255, 255, 0.932);
            }
            select{
                outline: none;
                background-color: transparent;
            }
            input:focus{
                background-color:#eaa56583;
                outline: none;

            }
            .county, .district{
                border-radius: 10px;
                border: 1px solid gray;
                margin: 5px;
                background-color: rgba(255, 255, 255, 0.932);
                outline: none;
                background-color: transparent;
                padding: 10px;
            }
            
            
        }
        .different{
            display: none;
            padding-left: 20px;
            label{
                // padding-left: 20px;
            }
            >h6{
                padding: 10px;
                padding-left: 0;
                padding-right: 200px;
            }
        }
        //Shipping to different address 加 class
        .differentopen{
            display:flex;
        }
    }
        
    hr{
    border: 1 solid rgba(128, 128, 128, 0.473);
    margin: 10px;
    margin-bottom: 32px;
    }

    #shipping{
        margin-bottom: 30px;
        margin-left: 30px;
        border: 1px solid gray;

    }
    .shipping{
        font-size: 16px;
    }
    h6{
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 10px;
        // border: 1px solid #000;
        padding-left: 30px;
        width:100%;
    } 
    .warn{
        display: flex;
        align-items: start;
        // justify-content: start;
        padding: 10px;
        font-size: 16px;
        width: 90%;
        // float: left;
        // text-align: center;
        // border: 1px solid #000;
        #warn{
            margin: 0px 15px 15px 15px;
            // border: 1px solid #000;    
        }
    }

    // credit card 
    .paymentdetails{
        margin: 0;
       padding: 0;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -ms-flex-line-pack: center;
           align-content: center;
       -webkit-box-align: center;
           -ms-flex-align: center;
               align-items: center;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
       -ms-flex-wrap: wrap;
           flex-wrap: wrap;
    //    font-family: 'Raleway';
   }

   
   .form-container .field-container:first-of-type {
       grid-area: name;
   }
   
   .form-container .field-container:nth-of-type(2) {
       grid-area: number;
   }
   
   .form-container .field-container:nth-of-type(3) {
       grid-area: expiration;
   }
   
   .form-container .field-container:nth-of-type(4) {
       grid-area: security;
   }
   
   .field-container input {
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
   }
   
   .field-container {
       position: relative;
   }
   
   .form-container {
       display: grid;
       grid-column-gap: 10px;
       grid-template-columns: auto auto;
       grid-template-rows: 90px 90px 90px;
       grid-template-areas: "name name""number number""expiration security";
       max-width: 400px;
       padding: 20px;
       color: #707070;
   }
   
   label {
       padding-bottom: 5px;
    //    font-size: 15px;
   }
   
   input {
       margin-top: 3px;
       padding: 15px;
       font-size: 16px;
    //    width: 100%;
       border-radius: 10px;
       border: 1px solid gray;
       background-color:white;
       &:focus{
        background-color:#eaa56583;
        outline: none;

    }
   }
   
   .ccicon {
       height: 38px;
       position: absolute;
       right: 6px;
       top: calc(50% - 17px);
       width: 60px;
   }
   
   /* CREDIT CARD IMAGE STYLING */
   .preload * {
       -webkit-transition: none !important;
       -moz-transition: none !important;
       -ms-transition: none !important;
       -o-transition: none !important;
   }
   
   .container {
       width: 100%;
       max-width: 400px;
       max-height: 251px;
       height: 54vw;
       padding: 20px;
   }
   
   #ccsingle {
       position: absolute;
       right: 15px;
       top: 20px;
   }
   
   #ccsingle svg {
       width: 100px;
       max-height: 60px;
   }
   
   .creditcard svg#cardfront,
   .creditcard svg#cardback {
       width: 100%;
       -webkit-box-shadow: 1px 5px 6px 0px black;
       box-shadow: 1px 5px 6px 0px black;
       border-radius: 22px;
   }
   
   #generatecard{
       cursor: pointer;
       float: right;
       font-size: 12px;
       color: #fff;
       padding: 2px 4px;
       background-color: #909090;
       border-radius: 4px;
       cursor: pointer;
       float:right;
   }
   
   /* CHANGEABLE CARD ELEMENTS */
   .creditcard .lightcolor,
   .creditcard .darkcolor {
       -webkit-transition: fill .5s;
       transition: fill .5s;
   }
   
   .creditcard .lightblue {
       fill: #03A9F4;
   }
   
   .creditcard .lightbluedark {
       fill: #0288D1;
   }
   
   .creditcard .red {
       fill: white;
   }
   
   .creditcard .reddark {
       fill: #83C7CC;
   }
   
   .creditcard .purple {
       fill: white;
   }
   
   .creditcard .purpledark {
       fill: #D33A3E;
   }
   
   .creditcard .cyan {
       fill: #26c6da;
   }
   
   .creditcard .cyandark {
       fill: #0097a7;
   }
   
   .creditcard .gray {
       fill: #CAC7C6;
   }
   
   .creditcard .graykdark {
       fill: black;
   }
   
   .creditcard .white {
       fill: #eee;
   }
   
   .creditcard .whitedark {
       fill: #170647;
   }
   
   .creditcard .yellow {
       fill: #ffeb3b;
   }
   
   .creditcard .yellowdark {
       fill: #f9a825;
   }
   
   .creditcard .orange {
       fill: white;
   }
   
   .creditcard .orangedark {
       fill: #4DC5C1;
   }
   
   .creditcard .pink {
       fill: #C18195;
   }
   
   .creditcard .pinkdark {
       fill: #C18195;
   }
   
   /* FRONT OF CARD */
   #svgname {
       text-transform: uppercase;
   }
   
   #cardfront .st2 {
       fill: #FFFFFF;
   }
   
   #cardfront .st3 {
    //    font-family: 'Source Code Pro', monospace;
       font-weight: 600;
   }
   
   #cardfront .st4 {
       font-size: 54.7817px;
   }
   
   #cardfront .st5 {
    //    font-family: 'Source Code Pro', monospace;
       font-weight: 400;
   }
   
   #cardfront .st6 {
       font-size: 33.1112px;
   }
   
   #cardfront .st7 {
       opacity: 0.6;
       fill: #FFFFFF;
   }
   
   #cardfront .st8 {
       font-size: 24px;
   }
   
   #cardfront .st9 {
       font-size: 36.5498px;
   }
   
   #cardfront .st10 {
    //    font-family: 'Source Code Pro', monospace;
       font-weight: 300;
   }
   
   #cardfront .st11 {
       font-size: 16.1716px;
   }
   
   #cardfront .st12 {
       fill: #4C4C4C;
   }
   
   /* BACK OF CARD */
   #cardback .st0 {
       fill: none;
       stroke: #0F0F0F;
       stroke-miterlimit: 10;
   }
   
   #cardback .st2 {
       fill: #111111;
   }
   
   #cardback .st3 {
       fill: #F2F2F2;
   }
   
   #cardback .st4 {
       fill: #D8D2DB;
   }
   
   #cardback .st5 {
       fill: #C4C4C4;
   }
   
   #cardback .st6 {
    //    font-family: 'Source Code Pro', monospace;
       font-weight: 400;
   }
   
   #cardback .st7 {
       font-size: 27px;
   }
   
   #cardback .st8 {
       opacity: 0.6;
   }
   
   #cardback .st9 {
       fill: #FFFFFF;
   }
   
   #cardback .st10 {
       font-size: 24px;
   }
   
   #cardback .st11 {
       fill: #EAEAEA;
   }
   
   #cardback .st12 {
    //    font-family: 'Rock Salt', cursive;
   }
   
   #cardback .st13 {
       font-size: 37.769px;
   }
   
   /* FLIP ANIMATION */
   .container {
       perspective: 1000px;
   }
   
   .creditcard {
       width: 100%;
       max-width: 400px;
       -webkit-transform-style: preserve-3d;
       transform-style: preserve-3d;
       transition: -webkit-transform 0.6s;
       -webkit-transition: -webkit-transform 0.6s;
       transition: transform 0.6s;
       transition: transform 0.6s, -webkit-transform 0.6s;
       cursor: pointer;
   }
   
   .creditcard .front,
   .creditcard .back {
       position: absolute;
       width: 100%;
       max-width: 400px;
       -webkit-backface-visibility: hidden;
       backface-visibility: hidden;
       -webkit-font-smoothing: antialiased;
       color: #47525d;
   }
   
   .creditcard .back {
       -webkit-transform: rotateY(180deg);
       transform: rotateY(180deg);
   }
   
   .creditcard.flipped {
       -webkit-transform: rotateY(180deg);
       transform: rotateY(180deg);
   }
    
  
    //============================
    //返回
    .back{
        // border: 1px solid #000;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // border: 1px solid #000;
        a{
            font-size:16px;
            margin-right: 10px;
        }
        button {
            @include btnStyle(#EAA565);
            width: 150px;
            text-align: center;
            margin-right: 50px;
         }
    }
}

.paybanner{
    width: 100vw;
    height: 100vh;
    background-color:rgba(128, 128, 128, 0.473);
    position: fixed;
    top: 0;
    z-index:1000000;
    display: none;
     
    .pay{
       max-width: 500px;
       height: 220px;
       border-radius: 15px;
       position: absolute;
       top: 50%;
       left: 50%;
       background-color:white;
       transform: translate(-50%,-50%);
       padding: 20px;
       text-align: center;
       margin-top: 40px;
       p{
            padding: 20px;
       }

        button {
            @include btnStyle(#EAA565);
            width: 150px;
            text-align: center;
            margin-right: 50px;
        }

       .cancel{
                @include btnStyle(#9D9D9D);
                width: 150px;
                text-align: center;
                margin-right: 50px;
       }
  
   }
}

//RWD
@media (max-width: 768px) {
    .cartall{
        display: flex;
        flex-wrap: wrap;
        .steps{
            margin: 0 30px;
        }
        h5{
            width:100%;
        }
        .billingdetails{
            form{
                // padding-left:0;
                label{
                        padding-left: 0;
                        margin-right: 0;
                        width: 100%;
                }
                select{
                    padding:10px;
                }
            }
        }  
     }               
}

    
    