// @import "./all.scss";
@import "./base/reset";
@import "./base/var";
@import "./base/mixin";
@import "./base/base";
@import "./base/grid";
@import "./base/rwd";


@import"./component/footer";
@import "./component/header";



// Remove Quantity Arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// 商品詳情
.prodContent {
    max-width: 1200px; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;     
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 0 15px;
    // border: 1px solid #000;

      //按鈕
      button {
        @include btnStyle();
        width: 120px;
        text-align: center;
        margin-left: 100px;
        // border: 1px solid #000;
        }

    .prod_desc{
        width: 35%;
        // margin-right: 100px;
        // border: 1px solid blue;
        p{
            margin-top: 20px;
            font-size: 16px;
            line-height: 30px;
            &:nth-child(3){
                font-size: 20px;
                font-weight: bold;
                color:#EAA565;
            }
        }
    }
    .productDetail{
        display: flex;
        position: sticky;
        // border: 1px solid red;
        top: 100px;
        width: 50%;

    .prodimg{
        background-color: #2d6ca6;
        position: relative;
        text-align: center;
        // max-width: 250px;
        height:350px;
        
        border-radius: 200px;
            img{
                // width: 180px;
                max-width: 250px;
            }
        }
        .prod1Info{
            position: relative;
            top: 50px;
            margin-left: 80px;
            width: 40%;
            // border: 1px solid red;
            p{
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
                line-height: 30px; 
            }
            form{
                // border: 1px solid #000;
                width: 250px;
                label{
                    font-size: 16px;
                }
                #quantity{
                    outline: none;
                    border: none;
                    width: 50px;
                    text-align: center;
                    background-color: transparent;
                    border-bottom: 2px solid gray;
                    margin: 0 10px;
                }
                .btn_number{
                    display: inline-block;
                    // border-bottom: 1px solid gray;
                    padding: 5px 15px 5px 15px;
                    
                }
                span{
                    font-size: 20px;
                    cursor: pointer;
                    text-align: center;
                    // border: 1px solid gray;
                }
               
            }
            button{
                display:block;
                width: 200px;
                background-color: $primary;
                margin: 30px 0 30px 0;
            }
            .wishlist{
                background-color: #eee;
                color:black;
            }
        }
    }
    .prod_infoall{
        width:100%;
        margin-top: 200px;
        // border: 1px solid #000;
        margin-left: 25px;
        

        h6{
            width:300px;
            // border: 1px solid red;
        }
            p{
                width: 320px;
                margin-top: 20px;
                margin-bottom: 100px;
                margin-left: 30px;
                // border: 1px solid red;
                line-height: 30px; 
            }
    .prod1_pic{
            display: flex;
            flex-direction: column;
            // border: 1px solid red;
            max-width: 500px;
         

            img{
                width: 70%;
                margin-top: 100px;
            }
        }
    }

}
    h6{
        margin-left: 100px;
    }
@import'./component/moreproduct.scss';

//----------------RWD--------------------
@media (max-width: 992px){
    .prodContent {
        display: flex;
        flex-wrap:  wrap-reverse;
        margin-top:0;
        width: 100%;
        margin: 0 auto;
        // border: 1px solid #000;
        margin-bottom: 30px;

        .prod_desc{
            order: 1;
            width: 80%;
            margin-top: 150px;
            // border: 1px solid #000;
        }
        .productDetail{
            // width: 100%;
            position: relative;
            order: 2;
            justify-content: center;
            .prodimg{
                background-color: #2d6ca6;
                position: relative;
                text-align: center;
                // max-width: 250px;
                height:250px;
                
                border-radius: 200px;
                    img{
                        // width: 180px;
                        max-width: 200px;
                    }
                }
                .prod1Info{
                    width: 200px;
                } 
        }
        .prod_infoall{
            justify-content: center;
            align-items: center;
            width: 50%;

            .prod1_pic{
                img{
                    width: 100%;
                }
            }
        }
    }
}   