<<<<<<< HEAD
// @import "./all.scss";
@import "./base/reset";
@import "./base/var";
@import "./base/mixin";
@import "./base/base";
@import "./base/grid";
@import "./base/rwd";


@import"./component/footer";
@import "./component/header";

=======
@import "./all.scss";
>>>>>>> 0114fc7f3d5c0e58e13794ac873c25c56e5de830

// Remove Quantity Arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// 商品詳情
.prodContent {
    max-width: 1200px; 
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0 auto;
<<<<<<< HEAD
    margin-top: 100px;
    margin-bottom: 200px;
    padding: 0 15px;
    // border: 1px solid #000;

      //按鈕
      button {
        @include btnStyle();
        width: 120px;
        text-align: center;
        margin-left: 100px;
        // border: 1px solid #000;
        }
=======
    margin-top: 180px;
    padding-left: 300px;
    // border: 1px solid #000;
>>>>>>> 0114fc7f3d5c0e58e13794ac873c25c56e5de830

    .prod_desc{
            width: 350px;
            margin-right: 100px;
            // border: 1px solid blue;
            p{
                margin-top: 20px;
                font-size: 16px;
                line-height: 25px; 
            }
    }
    .productDetail{
        display: flex;
        position: sticky;
        // left: 50%;
        max-width: 330px;
        // border: 1px solid red;
        top: 100px;

    .prodimg{
        max-width: 180px;
        border-radius: 90px;
        background-color: #2d6ca6;
        position: relative;
        text-align: center; 
        // border: 1px solid black;
            img{
                width: 85%;
            }
        }
        .prod1Info{
            position: relative;
            top: 50px;
            margin-left: 50px;
            width: 40%;
            // border: 1px solid red;

            form{
                // border: 1px solid #000;
                #quantity{
                    outline: none;
                    border: none;
                    width: 30px;
                    text-align: center;
                    background-color: transparent;
                    border-bottom: 2px solid gray;
                    margin: 0 10px;
                    font-size: 14px;
                }
                .btn_number{
                    display: inline-block;
                    // border-bottom: 1px solid gray;
                    // border-radius: 20px;
                    padding: 5px 15px 5px 15px;
                    
                }
                span{
                    font-size: 20px;
                    cursor: pointer;
                    // padding: 2px 4px;
                    // border-radius: 50%;
                    text-align: center;
                    // border: 1px solid gray;
                }
               
            }
            button{
                display:block;
                width: 200px;
                background-color: $primary;
                margin: 20px 0 20px 0;
            }
            .wishlist{
                background-color: #eee;
                color:black;
            }
        }
    }
    .prod_infoall{
        width:100%;
        margin-top: 200px;
        // border: 1px solid #000;
        

        h6{
            width:300px;
            // border: 1px solid red;
        }
            p{
                width: 320px;
                margin-top: 20px;
                margin-bottom: 100px;
                margin-left: 30px;
                // border: 1px solid red;
                line-height: 25px; 
            }
    .prod1_pic{
            display: flex;
            flex-direction: column;
            // border: 1px solid red;
            max-width: 500px;
         

            img{
                width: 70%;
                margin-top: 100px;
            }
        }
    }

}
<<<<<<< HEAD
    h6{
        margin-left: 100px;
    }
@import'./component/moreproduct.scss';

//----------------RWD--------------------
@media (max-width: 992px){
    .prodContent {
        display: flex;
        flex-wrap:  wrap-reverse;
        margin-top:0;
        width: 100%;
        margin: 0 auto;
        // border: 1px solid #000;
        margin-bottom: 30px;

        .prod_desc{
            order: 1;
            width: 80%;
            margin-top: 150px;
            // border: 1px solid #000;
        }
        .productDetail{
            // width: 100%;
            position: relative;
            order: 2;
            justify-content: center;
            .prodimg{
                background-color: #2d6ca6;
                position: relative;
                text-align: center;
                // max-width: 250px;
                height:250px;
                
                border-radius: 200px;
                    img{
                        // width: 180px;
                        max-width: 200px;
                    }
                }
                .prod1Info{
                    width: 200px;
                } 
        }
        .prod_infoall{
            justify-content: center;
            align-items: center;
            width: 50%;

            .prod1_pic{
                img{
                    width: 100%;
                }
=======

//按鈕
button {
    @include btnStyle();
    width: 120px;
    text-align: center;
    margin-left: 30px;
}

//查看更多商品
.moreproduct {
     margin-top: 150px;

     h6{
         margin-left: 100px;
     }

    ul{
        display: flex;
    }
    li {
        width: 180px;
        border-radius: 90px;
        margin-left: 100px;
        margin-top: 50px;
        a{
            color:black;
            text-decoration: none;
        }
        .prodinfo{
            position: absolute;
            top: 260px;
            font-weight: bold;
            button{
                margin-top:20px;
>>>>>>> 0114fc7f3d5c0e58e13794ac873c25c56e5de830
            }
        }
        &.prod1 {
            background-color: #2d6ca6;
            position: relative;
            text-align: center;
            max-width: 180px;
            img{
                width: 65%;
            } 
        }     
        &.prod2 {
            background-color: #f9c530;
            position: relative;
            top: 80px;
            max-width: 180px;
            img{
                width: 50%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }   
        &.prod3 {
            background-color: #bf4659;
            position: relative;
            max-width: 180px;
            img{
                width: 65%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }   
        &.prod4 {
            background-color: #009cba;
            position: relative;
            top: 80px;
            max-width: 180px;
            img{
                width: 75%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        } 
        &.prod5 {
            background-color: #56A8DC;
            position: relative;
            max-width: 180px;
            img{
                width: 70%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        } 
    }
}

//