@import './all.scss';
@import './component/header.scss';
@import './component/footer.scss';

main {
    max-width: 1600px;
    margin: auto;
    position: relative;
    div#food_page {
        margin: auto;
        div.top {
            margin: 0 auto;
            width: 100%;
            // max-width: 1600px;
            position: relative;
            div.overflow_hidden {
                height: 800px;
                overflow: hidden;
                div.banner {
                    max-width: 1600px;
                    height: 3200px;
                    background-image: url(../../img/search_food.png);
                    background-position: center;
                    position: relative;
                    top: 0;
                    animation-name: food1;
                    animation-duration: 50s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }
                h4 {
                    //應該是要h3但會變兩行 救救他
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $primary;
                    border-radius: 30px;
                    color: $white;
                    min-width: 400px;
                    padding: 2% 4%;
                }

            }
            div.tab_title {
                margin: auto;
                max-width: 1200px;
                width: 100%;
                position: absolute;
                bottom: 20%;
                left: 50%;
                transform: translate(-50%, 0%);
                // background-color: cadetblue;
                z-index: 444;
                #food {
                    color: $white;
                    background-color: $red-l;
                    padding: 1% 3%;
                    font-size: 24px;
                    outline: none;
                    border-radius: 100px;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                    display: inline-block;
                    margin: 10px;
                }
                #exercise {
                    color: $black;
                    background-color: $primary-l;
                    padding: 1% 2%;
                    font-size: 24px;
                    border-radius: 100px;
                    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                    cursor: pointer;
                    transition: all .3s;
                    display: inline-block;
                    &:hover {
                        background-color: lighten($primary-l,10);
                        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
                    }
                }
            }
            form#search_bar{
                width: 100%;
                position: absolute;
                bottom: 7%;
                left: 50%;
                transform: translate(-50%, 0%);
                padding: 0.5% 2%;
                border-radius: 20px;
                // width: 100%;
                display: flex;
                align-items: center;
                background-color: $white;
                margin: auto;
                max-width: 1200px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                
                .search-input{
                    width: 50%;
                    display: block;
                    flex-grow: 2; 
                    position: relative;
                    border-right: 1px solid $gray5;
                    input{
                        font-size: 24px;
                        // background-color: pink;
                        width: 100%;
                        border: none;
                    }
                }
                    .custom-select { 
                        position: relative;
                        @include textStyle();
                        font-size: 20px;
                        margin: 2%;
                        color: $black;
                        width: 200px;
                        cursor: pointer;
                        select{
                            display: none; /*hide original SELECT element:*/
                        }
                            
                    }
                    /*style the arrow inside the select element:*/
                    .select-selected:after {
                        position: absolute;
                        content: "";
                        top: 14px;
                        right: 10px;
                        width: 0;
                        height: 0;
                        border: 6px solid transparent;
                        border-color: $gray5 transparent transparent transparent;
                    }
                    /*point the arrow upwards when the select box is open (active):*/
                    .select-selected.select-arrow-active:after {
                        border-color: transparent transparent $gray5 transparent;
                        top: 7px;
                    }
                    /*style the items (options), including the selected item:*/
                    .select-items div,.select-selected {
                        padding: 5px;
                        border: 1px solid transparent;
                        // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
                        // cursor: pointer;
                        user-select: none;
                        background-color: $white;
                        padding: 3%;
                        // background-color: chocolate;
                        z-index: 99;
                    }
                    /*style items (options):*/
                    .select-items {
                        top: 40px;
                        box-shadow: 8px 11px 7px -6px rgba(0, 0, 0 ,.3);
                        position: absolute;
                        z-index: 99;
                        width: 100%;
                        background-color: $primary-l;
                    }
                    /*hide the items when the select box is closed:*/
                    .select-hide {
                        display: none;
                    }
                    .select-items div:hover, .same-as-selected {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                    
                    button.nc-btn {
                        img {
                        width: 20px;
                        height: 20px;
                    }
                }
                                 
            }

            .middle {
                @include textStyle();
                max-width: 1200px;
                border-radius: 12px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                margin: auto;
                background-color: $white;
                font-size: 18px;
                display: flex;
                padding: 1%;
                // position: absolute;
                // top: -20px;
                // z-index: -1;
                div.custom_text {
                    width: 50%;
                    border-right: 1px solid $gray5;
                    text-align: center;
                }
                div.custom_add {
                    display: flex;
                    justify-content: center;
                    margin: auto;
                    cursor: pointer;
                    div {
                        padding-right: 20px;
                    }
                    img {
                        align-self: center;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .bottom{
        margin: auto;
        display: flex;
        max-width: 1200px;
        background-color: blue;
        height: 200px;
        
    }

}

@keyframes food1 {
    0% {
      top: 0px;
    }
    100% {
      top: -1600px;
    }
  }