@import "./all.scss";
@import"./component/footer";
@import "./component/header";

.banner{
    position: relative;
    h4{
        color: white;
        position: absolute;
        transform: translateX(-50%);
        // width: 100%;
        top: 60%;
        left:50%;
        font-weight: 900;
    }

    img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        // height: 900px;
    }
}

.productAll{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    //  border: 1px solid #000;
    .choose{
        display:none;
        position: relative;
        z-index: 1000;
        cursor: pointer;
    }
    .filterAll{
       width: 30%;
       min-width: 300px;
        // border: 1px solid red;
        margin: 0 auto;
        

        .filter{
            margin: 30px 30px;
        } 
    
        form{
            margin-left: 20px;
            margin: 30px;
            font-size: 16px;
            // max-height: 0;
            // overflow: hidden;
            // display: none;
            p{
                margin-top: 40px;
                font-weight: bold;
            }
            img{
                width: 15px;
                margin-left: 50px;
            }
            .filter1{
                margin: 30px 30px;
            }
        }  
       

        .typearrow{
            // border: 1px solid #000;
            position:relative;
            padding: 0 10px;
            margin-top: 40px;
            p{
             margin-top:0px;   
            }
            img{
                width: 15px;
                position:absolute;
                bottom: 5px;
                left: 60px
             }
         }
         .ourarrow{
            // border: 1px solid #000;
            position:relative;
            padding: 0 10px;
            p{
                margin-top:0px;
            }
            img{
                width: 15px;
                position:absolute;
                bottom: 5px;
                left: 150px
             }
         }
    }

   


    .products{
        width: 70%;
        position: relative;
        // border: 1px solid #000;
    .sort{
            // border: 1px solid #000;
            display: flex;
            align-items: center;
            position: absolute;
            right: 0;
            top: 50px;
            cursor: pointer;
            img{
                width: 15px;
                margin-left: 8px;
            }
        }

        ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        // border: 1px solid #000;
            li {
                width: 180px;
                height: 100%;
                margin: 60px 70px 0 70px;
                // border: 1px solid #000;
                padding: 0;
                &:nth-child(2n+2){
                    margin: 150px 70px 0 70px;
                }
                a{
                    color:black;
                    text-decoration: none;
                    .bg{
                        position: relative;
                        text-align: center;
                        max-width: 230px;
                        border-radius: 200px;
                        // border: 1px solid #000;
                        p{
                            position:absolute;
                            top: 100px;
                            // border: 1px solid #000;
                        }
                        img{
                            width: 80%;
                        } 
                     }
                    .prodinfo{
                        font-weight: bold;
                        margin: 15px 0 15px 0;
                        // border: 1px solid #000;
                        
                            button{
                                margin-top:20px;
                            }
                    }
                }
                &:nth-child(2){
                    a{
                        .bg{
                            img{
                                width: 60%;
                            }   
                        }
                    }  
                }
            }
        }
    }
    //按鈕
    button {
        @include btnStyle();
        width: 120px;
        text-align: center;
        margin-left: 30px;
    }
}


//----------------RWD--------------------
@media (max-width: 768px){

.productAll{
    flex-direction: column;
    align-items: center;
    position: relative;
    // border: 1px solid #000;
    .filterAll{
        // display: none; 
        // border: 1px solid #000; 
        position: absolute;
        top:20px;
        left: 10%;
        color: white;
        .choose{
            display: flex;
            // border: 1px solid #000;
            background-color: #f4f1ec;  
            img{
                width: 20px;
                margin: 0 5px;
            }
        }
        .chooseall{
            display: none;
            z-index: 100;
            position: absolute;
            background-color: #eaa565;
            border-radius:15px 15px;
            padding: 15px;
            
           .typearrow{
                margin-left: 0;
                margin-top: 5px;
                p{
                    color:white;
                }
            }  
            filter{
                margin: 0;
            }  
        }
        //新增class
        .chooseform{
            display:block;
        }   
        .ourarrow{
            p{
                color:white;
            }
        }                
    } 

     .products{
        .sort{
            display: flex;
            margin-top: -30px;
            // border: 1px solid #000;
            // width: 30%;
         
        }
    }
        
     .products{
         ul{
                li{
                   margin: 65px;
                     &:nth-child(2n+2){
                         margin: 65px;
                     } 
                 }
             }    
         }
     }        
}

