@import "./all.scss";
@import"./component/footer";
@import "./component/header";

.banner{
    position: relative;
    h4{
        color: white;
        position: absolute;
        transform: translateX(-50%);
        // width: 100%;
        top: 60%;
        left:50%;
        font-weight: 900;
    }
    img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        // height: 900px;
    }
}

.productAll{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    //  border: 1px solid #000;
    .filterAll{
       width: 30%;
       min-width: 300px;
        // border: 1px solid red;
        margin: 0 auto;

        .filter{
            margin: 30px;
        } 
        
        form{
            margin-left: 20px;
            margin: 40px;
            font-size: 16px;
            p{
                margin-top: 40px;
                font-weight: bold;
            }
            .filter1{
                margin: 30px;
            }
        }
    }

   


    .products{
        width: 70%;
        position: relative;
        // border: 1px solid #000;
    .sort{
            // border: 1px solid #000;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            margin-right: 10px;
            margin-top: 30px;
            img{
                width: 15px;
                margin-left: 8px;
            }
        }

        ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        // border: 1px solid #000;
            li {
                width: 180px;
                height: 100%;
                margin: 100px 100px 0 100px;
                // border: 1px solid #000;
                padding: 0;
                &:nth-child(2n+2){
                    margin: 200px 80px 0 80px;
                }
                a{
                    color:black;
                    text-decoration: none;
                    .bg{
                        position: relative;
                        text-align: center;
                        max-width: 230px;
                        border-radius: 200px;
                        // border: 1px solid #000;
                        p{
                            position:absolute;
                            top: 100px;
                            // border: 1px solid #000;
                        }
                        img{
                            width: 80%;
                        } 
                     }
                    .prodinfo{
                        font-weight: bold;
                        margin: 15px 0 15px 0;
                        // border: 1px solid #000;
                        
                            button{
                                margin-top:20px;
                            }
                    }
                }
                &:nth-child(2){
                    a{
                        .bg{
                            img{
                                width: 60%;
                            }   
                        }
                    }  
                }
            }
        }
    }
    //按鈕
    button {
        @include btnStyle();
        width: 120px;
        text-align: center;
        margin-left: 30px;
    }
}

@media (min-width: 768px){

}

