@import "./all.scss";

.banner{
    position: relative;
    h5{
        color: white;
        position: absolute;
        transform: translateX(-50%);
        // width: 100%;
        top: 60%;
        left:50%;
        font-weight: 900;
    }
    img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        // height: 900px;
    }
}

.productAll{
    display: flex;
    justify-content: center;
    margin: 0 auto;
     max-width: 1200px;
    //  border: 1px solid #000;
    .filterAll{
       width: 30%;
        // border: 1px solid red;
        margin: 0 auto;

        .filter{
            margin: 10px;
        } 
        
        form{
            p{
                margin-top: 30px;
            }
            .filter1{
                margin: 10px;
            }
        }
    }
    .products{
        width: 70%;
        ul{
        // border: 1px solid red;
        width: 50%;
            li {
                width: 180px;
                border-radius: 90px;
                margin-left: 100px;
                margin-top: 150px;
                a{
                    color:black;
                    text-decoration: none;
                    .bg{
                        background-color: #2d6ca6;
                        position: relative;
                        text-align: center;
                        max-width: 180px;
                        img{
                            width: 65%;
                        } 
                     }
                    .prodinfo{
                        position: absolute;
                        top: 260px;
                        font-weight: bold;
                            button{
                                margin-top:20px;
                            }
                    }
                    &.prod1 {
                            // background-color: #2d6ca6;
                            // position: relative;
                            // text-align: center;
                            // max-width: 180px;
                           
                    } 
                }
            }
        }
    }
}

//按鈕
button {
    @include btnStyle();
    width: 120px;
    text-align: center;
    margin-left: 30px;
}

