@import "./all.scss";
@import"./component/footer";
@import "./component/header";
@import"./component/cart.scss";

.banner{
    position: relative;
    h5{
        color: white;
        position: absolute;
        transform: translateX(-50%);
        // width: 100%;
        top: 60%;
        left:50%;
        font-weight: 900;
        white-space: nowrap;
    }

    img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        // height: 900px;
    }
}

.productAll{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    //  border: 1px solid #000;
    .choose{
        display:none;
        z-index: 1000;
        cursor: pointer;
    }
    .filterAll{
       width: 40%;
       min-width: 300px;
        // border: 1px solid red;
        margin: 0 auto;
        .chooseall{
            position: sticky;
            top: 100px;
        }

        .filter{
            margin: 30px 0px;
            .custom{
                opacity: 0;
                position: absolute;
                display: inline-block;                 
            }
            .custom, .orange{
                display: inline-block;
                vertical-align: middle;
                margin:5px;
                cursor: pointer;
            }
            .custom + .orange:before{ 
                 content: "";
                 width: 20px;
                 height: 20px;
                 border-radius: 50%;
                 display: inline-block;
                 vertical-align: middle;
                 border: 2px solid gray;
                 margin-right: 20px;     
                }
                .custom + .cus1:before{ 
                    border: 2px solid #bf4659;  
                }
                .custom + .cus2:before{ 
                    border: 2px solid #2d6ca6;  
                }
                .custom + .cus3:before{ 
                    border: 2px solid #f9c530;  
                }
            .custom:checked + .orange:before{
                content: "";
                background-color: #EAA565;
                border: 2px solid #EAA565;
            }
            .custom:checked + .cus1:before{
                content: "";
                background-color: #bf4659;
                border: 2px solid #bf4659;
            }
            .custom:checked + .cus2:before{
                content: "";
                background-color: #2d6ca6;
                border: 2px solid #2d6ca6;
            }
            .custom:checked + .cus3:before{
                content: "";
                background-color: #f9c530;
                border: 2px solid #f9c530;
            }
        } 
    
        form{
            margin-left: 20px;
            margin: 30px;
            font-size: 16px;
            // max-height: 0;
            // overflow: hidden;
            // display: none;
            p{
                margin-top: 40px;
                font-weight: bold;
            }
            img{
                width: 15px;
                margin-left: 50px;
            }
            .filter1{
                margin: 30px 0px;
                //custom select 變更checkbox框
                .custom{
                    opacity: 0;
                    position: absolute;
                    display: inline-block;                 
                }
                .custom, .orange{
                    display: inline-block;
                    vertical-align: middle;
                    margin:5px;
                    cursor: pointer;
                }
                .custom + .orange:before{ 
                     content: "";
                     width: 20px;
                     height: 20px;
                     border-radius: 50%;
                     display: inline-block;
                     vertical-align: middle;
                     border: 1px solid gray;
                     margin-right: 20px;
                }
                .custom:checked + .orange:before{
                    content: "";
                    background-color: #EAA565;
                    border: 1px solid #EAA565;
                }
            }
        }  
       

        .typearrow{
            // border: 1px solid #000;
            position:relative;
            padding: 0 10px;
            margin-top: 40px;
            p{
             margin-top:0px;   
            }
            img{
                width: 15px;
                position:absolute;
                bottom: 5px;
                left: 60px
             }
             .arrowwhite{
                display: none;
            }
         }
         .ourarrow{
            // border: 1px solid #000;
            position:relative;
            padding: 0 10px;
            p{
                margin-top:0px;
            }
            img{
                width: 15px;
                position:absolute;
                bottom: 5px;
                left: 150px
             }
            .arrowwhite{
                display: none;
            }
         }
    }

   


    .products{
        width: 100%;
        position: relative;
        display: flex;
        // flex-wrap: wrap;
        // justify-content: flex-end;
        
        .prodinfo{
            p:nth-child(2){
                color: gray;
            }  
        }

        ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        // border: 1px solid #000;
            li {
                width: 180px;
                // height: 100%;
                margin: 60px 70px 0 70px;
                // border: 1px solid #000;
                padding: 0;
                &:nth-child(2n+2){
                    margin: 150px 70px 0 70px;
                }
                a{
                    color:black;
                    text-decoration: none;
                    .bg{
                        position: relative;
                        text-align: center;
                        max-width: 230px;
                        border-radius: 200px;
                        width: 110%;
                        // border: 1px solid #000;
                        p{
                            position:absolute;
                            top: 100px;
                            // border: 1px solid #000;
                        }
                        img{
                            width: 90%;
                        } 
                    }
                    .prodinfo{
                        font-weight: bold;
                        margin: 15px 0 15px 0;
                        // border: 1px solid #000;
                        
                            button{
                                margin-top:20px;
                            }
                    }
                }
                &:nth-child(2){
                    a{
                        .bg{
                            img{
                                width: 70%;
                            }   
                        }
                    }  
                }
                &:nth-child(4){
                    a{
                        .bg{
                            img{
                                width: 100%;
                            }   
                        }
                    }  
                }
                &:nth-child(6), &:nth-child(7), &:nth-child(8),  &:nth-child(10) {
                    a{
                        .bg{
                            img{
                                width: 70%;
                            }   
                        }
                    }  
                 }
                 &:nth-child(9){
                    a{
                        .bg{
                            img{
                                width: 100%;
                            }   
                        }
                    }  
                }
                &:nth-child(11),&:nth-child(12), &:nth-child(13),&:nth-child(14), &:nth-child(15),&:nth-child(16), &:nth-child(17),&:nth-child(18), &:nth-child(19),&:nth-child(20){
                    a{
                        .bg{
                            width: 120%;
                            img{
                                width: 100%;
                            }   
                        }
                    }  
                }
            }
            .none{
                display: none;
            }
        }
    }
    //按鈕
    button {
        @include btnStyle();
        width: 120px;
        text-align: center;
        margin-left: 30px;
    }
}
.sort{
    position: absolute;
    content: "";
    top: 16px;
    right: 0px;
    width: 0;
    height: 0;
    // border: 1px solid #000;
    
}



//customized select
/* The container must be positioned relative: */
// .sort {
//     position: relative;
//     // font-family: Arial;
//     // border:1px solid #000;
//     position: absolute;
//             right: 0;
//             top: 30px;
//             // cursor: pointer;
//   }
  
//    select {
//     display: none; /*hide original SELECT element: */
//   }
  
//   .select-selected {
//     background-color: #f4f1ec;
//   }
  
//   /* Style the arrow inside the select element: */
//   .select-selected:after {
//     position: absolute;
//     content: "";
//     top: 16px;
//     right: 120px;
//     width: 0;
//     height: 0;
//     border: 6px solid transparent;
//     border-color: gray transparent transparent transparent;
//   }
  
//   /* Point the arrow upwards when the select box is open (active): */
//   .select-selected.select-arrow-active:after {
//     border-color: transparent transparent gray transparent;
//     top: 7px;
//   }
  
//   /* style the items (options), including the selected item: */
//   .select-items div,.select-selected {
//     color: gray;
//     padding: 8px 5px;
//     border: 1px solid transparent;
//     border-color: transparent transparent #f4f1ec transparent;
//     cursor: pointer;
//   }
  
//   /* Style items (options): */
//   .select-items {
//     position: absolute;
//     background-color: #f4f1ec;
//     top: 100%;
//     left: 0;
//     right: 0px;
//     z-index: 99;
//   }
  
//   /* Hide the items when the select box is closed: */
//   .select-hide {
//     display: none;
//   }
  
//   .select-items div:hover, .same-as-selected {
//     background-color: rgba(0, 0, 0, 0.1);
//   }
// /////////////////////
// // select[name="sortby"]{
// //     outline: none;
// //     border: none;
// //     background-color: #f4f1ec;
// //     z-index: 5;
// //     font-size: 16px;
// //     option{
// //         border:none;
// //         border: none;
// //     }
// // }
/* The container must be positioned relative: */














.suggest-items{
    display: none;
    width: 100%;
    // border: 1px solid red;
    position: absolute;
    background-color: $primary-l;
    box-shadow: 8px 11px 7px -6px rgba(0, 0, 0 ,.3);
    padding: 10px;
    left: 0;
    top: 25px;
    a.search-item{
      border-bottom: 1px solid $gray4;
      margin: 10px 0;
      width: 100%;
      display: inline-block;
      cursor: pointer;
      div{
        display: flex;
        width: 100%;
        justify-content: space-between;
        p{
          font-size: 14px;
          color: $gray5;
        }
      }
    }
    .custom-item{
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      align-items: center;
      padding: 10px 0;
      cursor: pointer;
      img{
        height: 20px;
        margin-left: 10px;
        opacity: .5;
      }
    } 
  }

  .custom-select { 
    position: absolute;
    @include textStyle();
    width: 100px;
    cursor: pointer;
    // top:20px;
    select{
        display: none; /*hide original SELECT element:*/
    }
    
  }
  
  
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: $gray5 transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent $gray5 transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    padding: 5px;
    border: 1px solid transparent;
    position: relative;
    bottom: 14px;
    // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    // cursor: pointer;
    user-select: none;
    
  }
  
  /*style items (options):*/
  .select-items {
    box-shadow: 8px 11px 7px -6px rgba(0, 0, 0 ,.3);
    position: absolute;
    z-index: 99;
    width: 100%;
    background-color: $primary-l;
    
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
//-----------------------------------------

.sort{
    background-color:red;
    top:30px;
}



//----------------RWD--------------------
@media (max-width: 768px){

.productAll{
    flex-direction: column;
    align-items: center;
    position: relative;
    // border: 1px solid #000;
    .filterAll{
        // display: none; 
        top:50px;
        width:90%;
        color: white;
        position: relative;
        .choose{
            display: flex;
            // border: 1px solid #000;
            width: 80px;
            // border: 1px solid #000;
            background-color: #f4f1ec;  
            img{
                width: 20px;
                margin: 0 5px;
            }
        }
        .chooseall{
            display: none;
            // z-index: 100;
            background-color: #f8c390;
            border-radius:15px 15px;
            padding: 20px;
            margin-top:10px;
            
           .typearrow{
                margin-left: 0;
                margin-top: 5px;
                p{
                    color:white;
                }
                img{
                    display: none;
                }
                .arrowwhite{
                    display: block;
                }
            }  
            .filter{
                margin: 30px 0;
            }  
            
        }
        //新增class
        .chooseform{
            display:block;
        }   
        .ourarrow{
            p{
                color:white;
            }
            img{
                display: none;
            }
            .arrowwhite{
                display: block;
            }
        }                
    } 

     .products{
         display: flex;
         flex-direction: column;
         align-items: center;
        .sort{
            position:absolute;
            top: 10px;
            z-index:0 ;
            // width: 30%;
 
        }
    }
        
     .products{
         ul{
                li{
                   margin: 145px;
                     &:nth-child(2n+2){
                         margin: 65px;
                     } 
                 }
             }    
         }
     }        
}



