



//textStyle(字體名, 尺寸, 顏色, 間距, 透明度, margin,行距)
@mixin textStyle ($n:NotoSans-L, $s:14px , $c:$black, $l-s:unset , $o:1, $m:0, $l-h:$s * 1.5) {
    font-family: $n;
    font-size: $s;
    color: $c;
    letter-spacing: $l-s;
    line-height: $l-h;
    opacity: $o;
    margin: $m;
}

//card(padding , 背景色 , 圓角,margin)
@mixin card ($pd:$u-p, $bgc: $white, $radio: 20px, $m: $u-m){
    padding: $pd;
    background-color: $bgc;
    border-radius: $radio;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: $m;
}

//使用 顏色變數 來帶入
@mixin btnStyle ( $b-color:$white ){
    @if $b-color == $white  {
        @include textStyle(NotoSans-R,14px, $black,1px);
    }
    @else if $b-color == $primary {
        @include textStyle(NotoSans-R,14px, $black,1px);
    }
    @else {
        @include textStyle(NotoSans-R,14px, $white,1px);
    }
    background-color: $b-color;
    padding: $u-p $u-p*2;
    outline: none;
    border: none;
    border-radius: 100px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: $u-m;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background-color: lighten($b-color,10);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
} 

// @mixin col() {
//     padding: $u-p $u-p*2;

// }

    @mixin circle ($w){
        width: $w;
        padding-top: $w;
        border-radius: 100%;
    }