@mixin rwd-lg { //pad-pro 992
    @media (max-width: $break-point-lg) {
        @content;
    }
}

@mixin rwd-md { //pad 768
    @media (max-width: $break-point-md) {
        @content;
    }
}


@mixin rwd-sm { //mobile 576
    @media (max-width: $break-point-sm) {
        @content;
    }
}

//自訂rwd 如果有遇到破圖地方新增
@mixin rwd($w) {
    @media (max-width: $w)  {
        @content;
    }
}


@include rwd-lg{
    $fontLevel: (
        "h1": 60px,
        "h2": 50px,
        "h3": 40px,
        "h4": 36px,
        "h5": 30px,
        "h6": 24px,
    );

    @each $f,$s in $fontLevel{
        #{$f}, .#{$f}{
            font-size: $s;
            font-family: NotoSans-L;
            color: $black;
            margin:0;
            line-height: $s * 1.3;
            letter-spacing: $s / 5.5;
            font-weight: bold;
        }
    };
} 