@mixin rwd-lg { //pad-pro 992
    @media (max-width: $break-point-lg) {
        @content;
    }
}

@mixin rwd-md { //pad 768
    @media (max-width: $break-point-md) {
        @content;
    }
}
 

@mixin rwd-sm { //mobile 576
    @media (max-width: $break-point-sm) {
        @content;
    }
}

//自訂rwd 如果有遇到破圖地方新增
@mixin rwd($w) {
    @media (max-width: $w)  {
        @content;
    }
}


@include rwd-lg{
    $fontLevel: (
        "h1": 60px,
        "h2": 50px,
        "h3": 40px,
        "h4": 36px,
        "h5": 30px,
        "h6": 24px,
    );

    @each $f,$s in $fontLevel{
        #{$f}, .#{$f}{
            font-size: $s;
            line-height: $s * 1.3;
            letter-spacing: $s / 5.5;
        }
    };
} 

@include rwd-md{
    $fontLevel: (
        "h1": 50px,
        "h2": 40px,
        "h3": 36px,
        "h4": 30px,
        "h5": 26px,
        "h6": 22px,
    );
    @each $f,$s in $fontLevel{
        #{$f}, .#{$f}{
            font-size: $s;
            line-height: $s * 1.3;
            letter-spacing: $s / 5.5;
        }  
    };
}


@include rwd-sm{
    $fontLevel: (
        "h1": 32px,
        "h2": 28px,
        "h3": 26px,
        "h4": 24px,
        "h5": 22px,
        "h6": 18px,
    );
    @each $f,$s in $fontLevel{
        #{$f}, .#{$f}{
            font-size: $s;
            line-height: $s * 1.3;
            letter-spacing: $s / 5.5;
        }  
    };

    p{
        @include textStyle("KozGoPr6N-R", 14px , $black , unset, 0.8);
    }

}


